<div class="edit-opportunity-component">
  <section id="accHeader">
    <div id="accHeaderInfo">
      <h2 class="left">
        {{ this.data.opportunity.name | titlecase }}
      </h2>
      <div *ngIf="data.opportunity.priority"
        class="opportunity-priority priority priority-{{data.opportunity.priority.replace(' ','').toLowerCase()}}">
        {{data.opportunity.priority}}
      </div>
      <div class="circle-content">
        <div class="circle" style="--tooltip-color: {{color}};">
        </div>
      </div>
    </div>
  </section>

  <form class="formCampaign" [formGroup]="form">
    <section class="select" id="accInfo">
      <mat-accordion>
        <mat-expansion-panel [expanded]="true" [togglePosition]="'before'">
          <mat-expansion-panel-header>
            <h2>About this opportunity</h2>
          </mat-expansion-panel-header>

          <div class="fields">

            <div class="autocompletes">
              <mat-form-field appearance="outline" class="thirdSelect">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Name" formControlName="name" required />
                <mat-error>Enter a name</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="thirdSelect">
                <mat-label>Estimated budget</mat-label>
                <input matInput placeholder="Estimated budget" formControlName="estimatedBudget" required />
                <mat-error>Enter an estimated budget</mat-error>
              </mat-form-field>

              <app-autocomplete-required class="autocomplete-edit m-auto-left" [width]="width" 
                                [placeholder]="'Probability'"
                                [matLabel]="'Probability'" 
                                [options]="probabilityOptions" 
                                [appearance]="'outline'"
                                [defaultValue]="defaultProbability"
                                (selectedValue)="autocompleteSelected({formField: 'probability', value: $event})">
              </app-autocomplete-required>
            </div>

            <div class="autocompletes">
              <mat-form-field appearance="outline" class="thirdSelect">
                <mat-label>Warning Date</mat-label>
                <input matInput placeholder="Warning date" formControlName="warningDate" aria-label="warningDate"
                  [matDatepicker]="warningDate">
                <mat-datepicker-toggle matSuffix [for]="warningDate"></mat-datepicker-toggle>
                <mat-datepicker #warningDate></mat-datepicker>
                <mat-error>Select a date</mat-error>
              </mat-form-field>

              <app-autocomplete-required class="autocomplete-edit m-auto-left" [width]="width"
                                          [placeholder]="'Assigned User'"
                                          [matLabel]="'Assigned User'"
                                          [options]="userOptions"
                                          [appearance]="'outline'"
                                          [defaultValue]="defaultUser"
                                          (selectedValue)="autocompleteSelected({formField: 'user', value: $event})">
              </app-autocomplete-required>
            </div>

          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </section>

    <section class="select" id="accOther">
      <mat-accordion>
        <mat-expansion-panel [expanded]="true" [togglePosition]="'before'">
          <mat-expansion-panel-header>
            <h2>Other info</h2>
          </mat-expansion-panel-header>

          <div class="fields">
            <div class="autocompletes">
              <app-autocomplete class="autocomplete-edit m-auto-right" [width]="width" 
                                [placeholder]="'Territory'"
                                [matLabel]="'Territory'" 
                                [options]="territoryOptions" 
                                [appearance]="'outline'"
                                [defaultValue]="defaultTerritory"
                                (selectedValue)="autocompleteSelected({formField: 'territory', value: $event})">
              </app-autocomplete>
              <app-autocomplete class="autocomplete-edit m-auto-right" [width]="width" 
                                [placeholder]="'Priority'"
                                [matLabel]="'Priority'" [options]="priorityOptions" 
                                [appearance]="'outline'"
                                [defaultValue]="defaultPriority"
                                (selectedValue)="autocompleteSelected({formField: 'priority', value: $event})">
              </app-autocomplete>
              <app-autocomplete-required class="autocomplete-edit" [width]="width" 
                                        [placeholder]="'CAR'"
                                        [matLabel]="'CAR'" 
                                        [options]="carOptions" 
                                        [appearance]="'outline'" 
                                        [defaultValue]="defaultCar"
                                        (selectedValue)="autocompleteSelected({formField: 'car', value: $event})">
              </app-autocomplete-required>
            </div>

            <div class="autocompletes">
              <app-autocomplete-required class="autocomplete-edit m-auto-right" [width]="width" 
                                        [placeholder]="'SubCAR'"
                                        [matLabel]="'SubCAR'" 
                                        [options]="subCarOptions" 
                                        [appearance]="'outline'" 
                                        [defaultValue]="defaultSubCar"
                                        (selectedValue)="autocompleteSelected({formField: 'subCar', value: $event})">
              </app-autocomplete-required>
              <mat-form-field appearance="outline" class="thirdSelect">
                <mat-label>Register Date</mat-label>
                <input matInput placeholder="Register date" formControlName="registerDate" aria-label="registerDate"
                  [matDatepicker]="registerDate">
                <mat-datepicker-toggle matSuffix [for]="registerDate"></mat-datepicker-toggle>
                <mat-datepicker #registerDate></mat-datepicker>
                <mat-error>Select a date</mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="thirdSelect">
                <mat-label>Close Date</mat-label>
                <input matInput placeholder="Close date" formControlName="closeDate" aria-label="closeDate"
                       [matDatepicker]="closeDate">
                <mat-datepicker-toggle matSuffix [for]="closeDate"></mat-datepicker-toggle>
                <mat-datepicker #closeDate></mat-datepicker>
                <mat-error>Select a date</mat-error>
              </mat-form-field>
            </div>

            <div class="autocompletes">
              <app-autocomplete class="autocomplete-edit" [width]="width" 
                                [placeholder]="'Rejection Reason'"
                                [edit]="true" 
                                [matLabel]="'Rejection Reason'" 
                                [options]="rejectionOptions" [appearance]="'outline'"
                                [defaultValue]="this.defaultRejectionReason"
                                (selectedValue)="autocompleteSelected({formField: 'rejectionReason', value: $event})">
              </app-autocomplete>
              <app-autocomplete class="autocomplete-edit m-auto-left" [width]="width" 
                                [placeholder]="'Bosonit support'"
                                [matLabel]="'Bosonit support'" 
                                [options]="userOptions" 
                                [appearance]="'outline'"
                                [defaultValue]="this.data.opportunity.supportBosonit"
                                (selectedValue)="autocompleteSelected({formField: 'supportBosonit', value: $event})">
              </app-autocomplete>
              <app-autocomplete-required class="autocomplete-edit m-auto-left" [width]="width" 
                                        [placeholder]="'State'"
                                        [matLabel]="'State'" 
                                        [options]="stateOptions" 
                                        [appearance]="'outline'" 
                                        [defaultValue]="defaultState"
                                        (selectedValue)="autocompleteSelected({formField: 'state', value: $event})">
              </app-autocomplete-required>
            </div>

            <div class="dependent-input">
              <mat-checkbox formControlName="dedicatedResource" [disabled]="this.form.get('projectClosed').value">Dedicated Resource</mat-checkbox>

              <mat-form-field *ngIf="this.form.get('dedicatedResource').value"
                              appearance="outline" class="thirdSelect m-auto-left">
                <mat-label>Resource Numbers</mat-label>
                <input matInput placeholder="Resource Numbers" formControlName="resourceNumbers" disabled/>
              </mat-form-field>
            </div>

            <div class="dependent-input">
              <mat-checkbox formControlName="projectClosed" [disabled]="this.form.get('dedicatedResource').value">Fixed price project</mat-checkbox>

              <mat-form-field *ngIf="this.form.get('projectClosed').value"
                              appearance="outline" class="thirdSelect m-auto-left">
                <mat-label>Recurring Percentage</mat-label>
                <input matInput placeholder="Recurring Percentage" formControlName="recurrentPercentage" />
              </mat-form-field>
            </div>

          </div>

        </mat-expansion-panel>
      </mat-accordion>
    </section>

    <div class="apply">
      <button class="btnConfirm" mat-raised-button (click)="applyChanges()">Update</button>
    </div>
  </form>
</div>