@import '../../../../../assets/styles/dialog-unified.scss';

section {
    display: table;
    margin-bottom: 15px;
}

.mat-form-field + .mat-form-field {
    margin-left: 8px;
}

.select {
    width: 100%;
}

.thirdSelect {
    width: 32%;
}

.autocomplete-edit{
    width: 32%;
}

.m-auto-left{
    margin-left: 8px;
}
.m-auto-right{
    margin-right: 8px;
}

.autocompletes {
    display: flex;
    width: 100%;
}

.fields {
    margin: 0 2%;
}

#accHeader {
    display: flex;
    padding: 2.5%;
    box-shadow: 1px 4px 4px -2px #00000050;
}

#accHeaderInfo {
    display: flex;
    margin-left: 2.5%;
    .left {
        margin-right: 30px;
    }
}

.apply {
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.apply button {
    color: white;
    background-color: #DB5E5E;
    border-radius: 20px;
    padding: 0em 2em 0em 2em;
    margin-right: 2em;
}

.apply button:disabled {
    background-color: #d89d9d;
}

form h2 {
    font-size: 16px;
    font-weight: 500;
}

.circle-content{
    display: inline-block;
    position: relative;
    margin-bottom: 20px;
    margin-left: 14px;
}

.opportunity-priority {
    display: inline-block;
    width: fit-content;
}

.dependent-input {
    display: flex;
}

.dependent-input mat-checkbox {
    width: 32%;
}