<div class="container" *ngIf="fileLimit===undefined || files.length<fileLimit" appDnd
     (fileDropped)="fileBrowseHandler($event)">
    <mat-grid-list class="listOfFiles" cols="6" rowHeight="6:8" [gutterSize]="'1em'">
        <mat-grid-tile *ngFor="let file of this.shownFiles; let i = index" class="uploaded">
            <div class="mat-grid-tile-body">
                <a href="{{file.url}}" target="_balnk">
                    <div class="iconSpace">
                        <mat-icon>article</mat-icon>
                    </div>
                    <div class="nameSpace">
                        <span matTooltip="{{file?.name}}">{{file.name}}</span>
                    </div>
                </a>

            </div>
            <mat-grid-tile-footer>
                <span class="fileSize">{{file.size}}</span>
                <span class="material-icons delete" (click)="removeFile(file)">delete_forever</span>
            </mat-grid-tile-footer>
        </mat-grid-tile>

        <mat-grid-tile *ngFor="let file of files; let i = index" class="uploaded">
            <div class="mat-grid-tile-body">
                <div class="iconSpace">
                    <mat-spinner *ngIf="!file.error && !file.id; else fileIcon" [diameter]="50"></mat-spinner>
                    <ng-template #fileIcon>
                        <mat-icon>{{file.error ? 'error' : 'article'}}</mat-icon>
                    </ng-template>
                </div>
                <div class="nameSpace">

                    <span *ngIf="!file.id" matTooltip="{{file?.name}}">{{file?.name}}</span>
                    <span *ngIf="!file.id && file?.name?.length <=14">{{file?.name}}</span>
                    <span *ngIf="file.id" matTooltip="{{file?.originalName}}">{{file?.originalName}}</span>
                </div>
            </div>
            <mat-grid-tile-footer [ngClass]="file.id?'success':(file.error)?'error':''">
                <p class="fileSize">{{formatBytes(file?.size)}}</p>
                <mat-icon (click)="removeFile(file)">delete_forever</mat-icon>
            </mat-grid-tile-footer>
        </mat-grid-tile>


        <!--Button to add a file-->
        <mat-grid-tile class="inputFile">
            <label for="fileDropRef">
                <mat-icon>add</mat-icon>
                <input type="file" #fileDropRef id="fileDropRef" multiple
                       (change)="fileBrowseHandler($event.target.files)"/>
                <mat-grid-tile-footer class="label">
                    <p>Upload File</p>
                </mat-grid-tile-footer>
            </label>
        </mat-grid-tile>
    </mat-grid-list>
</div>

