@import "../../../../../../assets/styles/staffit-style-1";
$error: #ed7575;
$success: #b7e778;

/**
NEW STYLES FOR DRAG AND DROP
*/

.container {
    padding: 0.5rem;
    border-radius: 10px;
    min-width: 100%;
    min-height: 400px;
    max-height: 600px;
    overflow: auto;
    mat-grid-tile {
        border: 1px solid rgba(0, 0, 0, 0.289);
        mat-grid-tile-footer {
            color: rgba(0, 0, 0, 0.5);
            background-color: rgba(255, 255, 255, 0);
            display: flex;
            height: 20%;
            padding: 0;
            justify-content: space-between;
            .fileSize {
                font-size: 0.75em;
                margin-left: 1rem;
            }
        }
    }
    mat-grid-tile-footer.label {
        display: flex;
        justify-content: center !important;
        font-size: 0.75em;
    }
    mat-grid-tile.inputFile {
        border: 1px rgba(0, 0, 0, 0.2) dashed;
        border-radius: 10px;
        width: 5rem !important;

        input {
            opacity: 0;
            position: absolute;
            z-index: 2;
            width: 5rem;
            height: 2rem;
            top: 0;
            left: 0;
        }
        label {
            span.icon-add {
                font-size: 1.5rem;
                color: rgba($color: #000000, $alpha: 0.5);
                align-self: center;
            }
        }
    }
}

mat-grid-tile,
.container {
    border-radius: 10px;
}

mat-grid-tile.inputFile:hover {
    background-color: rgba(223, 223, 223, 0.2);
}

.listOfFiles {
    display: flex;
    flex-wrap: wrap;
}

.delete {
    color: #333333;
    font-size: 25px !important;
}

.mat-grid-tile-body {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    a {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .iconSpace {
        flex: 2 auto;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nameSpace {
        flex: 0.5 auto;
        span,
        p {
            min-height: unset;
            display: inline-block;
            width: 90%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

a {
    text-decoration: none;
}


/*

*/

label,
input,
.delete {
    cursor: pointer;
}

.button-container {
    text-align: center;
}

.fileover {
    animation: shake 2s;
    animation-iteration-count: infinite;
}


/*STYLES FOR FILES THAT CAN OR CANT BE UPLOAD*/

.success {
    background-color: $success !important;
}

.error {
    background-color: $error !important;
}

@keyframes shake {
    0% {
        background-color: #00000020;
    }
    50% {
        background-color: #fff;
    }
    100% {
        background-color: #00000020;
    }
}
