<mat-dialog-content class="dialog detail">
    <div class="black-dialog">
        <img src="../../../../../assets/CRM/icons/dialogs/activity-target.png" alt="">
    </div>
    <div class="dialog-content dialog-content-detail">
        <div class="title">
            <h2>{{data.activity.name | titlecase }}</h2>
            <div *ngIf="data.activity.priority" class="activity-priority priority priority-{{data.activity.priority.replace(' ','').toLowerCase()}}">
                {{data.activity.priority}}
            </div>
            <div class="circle-content">
                <div class="circle" style="--tooltip-color: {{color}};">
                </div>
            </div>
        </div>
        <div class="columns">
            <section>
                <p *ngIf="data.father.type === 'Account'">
                    <span>Account: </span>{{data.father && data.father.type === 'Account' ? data.father.value.commercialName : data.activity.accountId}}
                </p>
                <p *ngIf="data.father.type === 'Contact'">
                    <span>Contact: </span>{{data.father && data.father.type === 'Contact' ? data.father.value.name + ' ' + data.father.value.surname : data.activity.accountId}}
                </p>
                <p *ngIf="data.father.type === 'Opportunity'">
                    <span>Opportunity: </span>{{data.father && data.father.type === 'Opportunity' ? data.father.value.name : data.activity.accountId}}
                </p>
                <p><span>Campaign: </span>{{data.activity.campaign}}</p>
                <p><span>CAR: </span>{{data.activity.car}}</p>
                <p><span>Priority: </span>{{data.activity.priority}}</p>
                <p><span>State: </span>{{data.activity.state}}</p>
                <p><span>Type: </span>{{data.activity.type}}</p>
                <p><span>Register type: </span>{{data.activity.registerType}}</p>
                <p><span>Description: </span>{{data.activity.description}}</p>
            </section>
            <section>
                <p><span>Start date: </span>{{data.activity.startDate | date:'dd-MM-yyyy'}}</p>
                <p><span>SubCAR: </span>{{data.activity.subCar}}</p>
                <p><span>Register date: </span>{{data.activity.registerDate | date:'dd-MM-yyyy'}}</p>
                <p><span>Execution date: </span>{{data.activity.execDate | date:'dd-MM-yyyy'}}</p>
                <p><span>Warning date: </span>
                    <span *ngIf="warningDateParsed && warningDateParsed <= today; else date" class="red-date inline-block padding">{{data.activity.warningDate | date:'dd-MM-yyyy'}}</span>
                    <ng-template #date class="inline-block padding">{{data.activity.warningDate | date:'dd-MM-yyyy'}}</ng-template>
                </p>
                <p><span>End date: </span>{{data.activity.endDate | date:'dd-MM-yyyy'}}</p>
                <p><span>Close date: </span>{{data.activity.closeDate | date:'dd-MM-yyyy'}}</p>
            </section>
        </div>
        <div class="buttons">
            <button mat-raised-button class="exit-button-form" (click)="closeDialog()">Exit</button>
            <button mat-raised-button class="submit-button" (click)="goToDetails(data.activity.id)">More details</button>
        </div>
    </div>
</mat-dialog-content>
