<div class="tools">
    <button mat-fab
            class="tools__button tools__button-chat"
            color="primary"
            aria-label="Open chat icon button"
            (click)="setChatVisibility(true)">
        <mat-icon>insert_comment</mat-icon>
    </button>
    <button mat-fab
            class="tools__button tools__button-storage"
            color="primary"
            aria-label="Open storage icon button"
            (click)="setStorageVisibility(true)">
        <mat-icon>folder</mat-icon>
    </button>
</div>
<form [formGroup]="formCandidate" *ngIf="storageHidden" class="formCandidate">
    <div class="card-container">

        <mat-card class="first-card">
            <mat-card-content>
                <div class="card-title">
                    <h3>COMPETENCE PROFILE</h3>
                </div>
                <div class="fields-group">
                    <div class="form-row">
                        <mat-form-field appearance="outline">
                            <mat-label>Name</mat-label>
                            <input name="name" id="name" aria-label="name" matInput placeholder="Name"
                                   formControlName="name" required>
                            <mat-error>Name is a required value.
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Surname</mat-label>
                            <input name="surname" id="surname" aria-label="surname" matInput placeholder="Surname"
                                   formControlName="surname" required>
                            <mat-error>Surname is a required value.
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>City</mat-label>
                            <mat-select name="city" formControlName="city" placeholder="City">
                                <mat-option *ngFor="let city of cities" [value]="city">
                                    {{ city }}
                                </mat-option>
                            </mat-select>
                            <mat-error>City is a required value.
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <mat-form-field class="emails-chip-list row-field" appearance="outline">
                        <mat-label>Emails</mat-label>
                        <mat-chip-list #emailsChipList aria-label="Emails" required>
                            <mat-chip *ngFor="let email of emails" [selectable]="selectable"
                                      [removable]="removable" (removed)="removeEmail(email)">
                                {{ email }}
                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                            </mat-chip>
                            <input placeholder="New email..."
                                   [matChipInputFor]="emailsChipList"
                                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                   [matChipInputAddOnBlur]="true"
                                   (matChipInputTokenEnd)="addEmail($event)">
                            <mat-error *ngIf="showError && emails.length===0">
                                Emails is a required value.
                            </mat-error>
                        </mat-chip-list>
                    </mat-form-field>

                    <div class="form-row">
                        <app-autocomplete class="autocomplete-edit m-auto-right" [width]='width' [placeholder]="'College'"
                                          [matLabel]="'College'" [options]="collegeOptions" [appearance]="'outline'"
                                          [defaultValue]="collegeName"
                                          (selectedValue)="autocompleteSelected({ formField: 'idCollege', value: $event })">
                        </app-autocomplete>

                        <app-autocomplete [placeholder]="'Study'" [matLabel]="'Study'" [options]="studyOptions"
                                          [width]="width"
                                          [appearance]="'outline'" [defaultValue]="candidate ? candidate.studies : ''"
                                          (selectedValue)="autocompleteSelected({formField: 'studies', value: $event})">
                        </app-autocomplete>

                        <mat-form-field appearance="outline">
                            <mat-label>Interview date</mat-label>
                            <input matInput formControlName="interviewDate" name="interviewDate" id="interviewDate"
                                   [matDatepicker]="StartDatepicker" placeholder="Interview date"/>

                            <mat-datepicker-toggle matSuffix [for]="StartDatepicker"></mat-datepicker-toggle>
                            <mat-datepicker #StartDatepicker></mat-datepicker>
                            <mat-error>
                                Interview Date is a required value.
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="form-row">
                        <mat-form-field appearance="outline">
                            <mat-label>Salary estimate</mat-label>
                            <input matInput name="salaryEstimate" id="salaryEstimate" placeholder="Salary estimate"
                                   formControlName="salaryEstimate"/>
                            <mat-error>Salary estimate is a required value.</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Years of experience</mat-label>
                            <input matInput type="number" min="0" name="yearsOfExperience" id="yearsOfExperience"
                                   placeholder="years of experience" formControlName="yearsOfExperience"/>
                            <mat-error>Years of experience is a required value.</mat-error>
                        </mat-form-field>

                        <app-autoselect
                                [config]="profileJobPositionConfig"
                                (selectedValue)="autocompleteSelected({ formField: 'profileJobPosition', value: $event })"
                                (search)="changeAutoselectOptions({searchValue: 'profileJobPosition', value: $event})"
                                (cleared)="profileJobPosition = null">
                        </app-autoselect>
                    </div>

                    <mat-checkbox formControlName="geographicAvailability" class="row-field">
                        Geographical availability
                    </mat-checkbox>

                    <mat-checkbox formControlName="recruitmentParticipation" class="row-field">
                        Recruitment participation
                    </mat-checkbox>

                    <div class="listButtonMotivationJob">
                        <p>Motivation job: </p>
                        <mat-list class="listMotivationJob">
                            <mat-list-item>
                                <button class="btnMotivationEconomic" mat-raised-button
                                        [ngClass]="{ darkgreen: darkgreen() }" (click)="motivationChanged('ECONOMIC')">
                                    Economic
                                </button>
                            </mat-list-item>
                            <mat-list-item>
                                <button class="btnMotivationProject" mat-raised-button [ngClass]="{ green: green() }"
                                        (click)="motivationChanged('PROJECT')">
                                    Project
                                </button>
                            </mat-list-item>
                            <mat-list-item>
                                <button class="btnMotivationManagement" mat-raised-button [ngClass]="{ blue: blue() }"
                                        (click)="motivationChanged('MANAGEMENT')">
                                    Management
                                </button>
                            </mat-list-item>
                            <mat-list-item>
                                <button class="btnMotivationMobility" mat-raised-button
                                        [ngClass]="{ darkblue: darkblue() }"
                                        (click)="motivationChanged('GEOGRAPHICAL_MOBILITY')">
                                    Geographical Mobility
                                </button>
                            </mat-list-item>
                            <mat-list-item>
                                <button class="btnMotivationOthers" mat-raised-button [ngClass]="{ purple: purple() }"
                                        (click)="motivationChanged('OTHERS')">
                                    Telecommuting / Others
                                </button>
                            </mat-list-item>
                        </mat-list>
                    </div>

                    <div class="form-row">
                        <app-autoselect
                                [config]="techInterviewerConfig"
                                (selectedValue)="autocompleteSelected({ formField: 'technicalInterviewer', value: $event })"
                                (search)="changeAutoselectOptions({searchValue: 'idEmployeeTechnicalInterviewer', value: $event})"
                                (cleared)="techInterviewer = null">
                        </app-autoselect>
                        <mat-card class="superior-card">
                            <ng-container *ngIf="techInterviewer; else noTechInterviewer">
                                <div><b>{{techInterviewer.name}}, {{techInterviewer.surname}}</b></div>
                                <div>{{techInterviewer.businessEmail}}</div>
                                <div>{{techInterviewer.categoryName}}</div>
                            </ng-container>
                            <ng-template #noTechInterviewer> This candidate doesn't have an assigned technical interviewer</ng-template>
                        </mat-card>
                    </div>
                </div>

            </mat-card-content>

        </mat-card>

        <div class="second-column">
            <mat-card class="second-card">
                <mat-card-content>
                    <div class="card-title">
                        <h3>ASPECTS OF THE NON-TECHNICAL INTERVIEW</h3>
                    </div>
                    <div class="aspects-content">
                        <div>
                            <div>
                                <div class="general">
                                    <div class="title"></div>
                                    <div class="cabecera">
                                        <div class="box box1">1</div>
                                        <div class="box box2">2</div>
                                        <div class="box box3">3</div>
                                        <div class="box box4">4</div>
                                        <div class="box box5">5</div>
                                    </div>
                                </div>
                                <div class="fila">
                                    <div class="title">Adaptability</div>
                                    <app-rating class="center" [rate]="'rate1'" [valor]="adaptability"
                                                (ratings)="ratingChanged('adaptability', $event)">
                                    </app-rating>
                                </div>
                            </div>
                            <div class="fila">
                                <div class="title">Teamwork</div>

                                <app-rating class="center" [rate]="'rate2'" [valor]="teamwork"
                                            (ratings)="ratingChanged('teamwork', $event)">
                                </app-rating>
                            </div>
                            <div class="fila">
                                <div class="title">Autonomy</div>
                                <app-rating class="center" [rate]="'rate3'" [valor]="autonomy"
                                            (ratings)="ratingChanged('autonomy', $event)">
                                </app-rating>
                            </div>

                            <div class="fila">
                                <div class="title">Objective oriented</div>
                                <app-rating class="center" [rate]="'rate4'" [valor]="objectiveOriented"
                                            (ratings)="ratingChanged('objectiveOriented', $event)">
                                </app-rating>
                            </div>

                            <div class="fila">
                                <div class="title">Commitment</div>
                                <app-rating class="center" [rate]="'rate5'" [valor]="commitment"
                                            (ratings)="ratingChanged('commitment', $event)">
                                </app-rating>
                            </div>
                        </div>
                        <div class="fila">
                            <fieldset disabled>
                                <legend></legend>
                                <div class="group">
                                    <div class="title">Overall rating</div>

                                    <div class="radio-toolbar">
                                        <input type="radio" id="1" name="medias" value="1" checked/>
                                        <label for="1" class="radio-style1"></label>

                                        <input type="radio" id="2" name="medias" value="2"/>
                                        <label for="2" class="radio-style2"></label>

                                        <input type="radio" id="3" name="medias" value="3"/>
                                        <label for="3" class="radio-style3"></label>

                                        <input type="radio" id="4" name="medias" value="4"/>
                                        <label for="4" class="radio-style4"></label>

                                        <input type="radio" id="5" name="medias" value="5"/>
                                        <label for="5" class="radio-style5"></label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>

            <mat-card class="third-card">
                <mat-card-content>
                    <div class="card-title">
                        <h3>KNOWLEDGE</h3>
                    </div>
                    <div class="fields-group">
                        <div class="form-row">
                            <mat-form-field appearance="outline">
                                <mat-label>English</mat-label>
                                <mat-select name="english" id="english" placeholder="English" formControlName="english">
                                    <mat-option *ngFor="let languageLevel of languagesLevel" [value]="languageLevel">
                                        {{ languageLevel }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <app-autocomplete class="autocomplete-edit m-auto-right fill-half-width" [width]='width'
                                              [placeholder]="'Sector knowledge'" [matLabel]="'Sector knowledge'"
                                              [options]="allCarOptions"
                                              [appearance]="'outline'" [defaultValue]="sectorKnowledge"
                                              (selectedValue)="autocompleteSelected({ formField: 'knowledge', value: $event })">
                            </app-autocomplete>
                        </div>

                        <mat-form-field class="languages-chip-list row-field" appearance="outline">
                            <mat-label>Other languages</mat-label>
                            <mat-chip-list #languagesChipList aria-label="Other languages">
                                <mat-chip *ngFor="let language of languages" [selectable]="selectable"
                                          [removable]="removable" (removed)="removeLanguage(language)">
                                    {{ language }}
                                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                </mat-chip>
                                <input #languageInput placeholder="New language..."
                                       [formControl]="languageCtrl"
                                       [matAutocomplete]="auto"
                                       [matChipInputFor]="languagesChipList"
                                       [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                       [matChipInputAddOnBlur]="true"
                                       (matChipInputTokenEnd)="addLanguage($event)">
                            </mat-chip-list>
                            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedLanguage($event)">
                                <mat-option *ngFor="let language of filteredLanguages | async" [value]="language">
                                    {{ language }}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>

                        <div class="form-row">
                            <app-autocomplete class="autocomplete-edit m-auto-right" [width]='width'
                                              [placeholder]="'Technological profile 1'" [matLabel]="'Technological profile 1'"
                                              [options]="technologyOptions" [appearance]="'outline'" [defaultValue]="techProfile1"
                                              (selectedValue)="autocompleteSelected({ formField: 'technologicalProfile1', value: $event })">
                            </app-autocomplete>

                            <app-autocomplete class="autocomplete-edit m-auto-right" [width]='width'
                                              [placeholder]="'Technological profile 2'" [matLabel]="'Technological profile 2'"
                                              [options]="technologyOptions" [appearance]="'outline'" [defaultValue]="techProfile2"
                                              (selectedValue)="autocompleteSelected({ formField: 'technologicalProfile2', value: $event })">
                            </app-autocomplete>

                            <app-autocomplete class="autocomplete-edit m-auto-right" [width]='width'
                                              [placeholder]="'Technological profile 3'" [matLabel]="'Technological profile 3'"
                                              [options]="technologyOptions" [appearance]="'outline'" [defaultValue]="techProfile3"
                                              (selectedValue)="autocompleteSelected({ formField: 'technologicalProfile3', value: $event })">
                            </app-autocomplete>
                        </div>

                        <mat-form-field class="row-field" appearance="outline">
                            <mat-label>Others</mat-label>
                            <textarea matInput
                                      name="technologicalOther"
                                      id="technologicalOther"
                                      placeholder="Others"
                                      formControlName="others">
                            </textarea>
                        </mat-form-field>

                    </div>
                </mat-card-content>
            </mat-card>
        </div>

    </div>

    <div class="applyContainer">
        <button mat-flat-button class="applyButton" (click)="save()">
            Save
        </button>
    </div>
</form>

<app-chat [visible]="!chatHidden"
          (closed)="setChatVisibility(false)"
          [id]="idChat">
</app-chat>

<app-storage *ngIf="!storageHidden"
             [readonly]="false"
             (closed)="setStorageVisibility(false)"
             [id]="idStorage"
></app-storage>
