@import "src/assets/styles/staffit-style-1";

.card-title {
  display: flex;
  margin-bottom: 10px;
  margin-left: 1em;
}

.fields-group{
  display: flex;
  flex-wrap: wrap;

  mat-select{
    display: inline;
  }

  mat-checkbox {
    margin: 15px 20px;
  }
}

.formCandidate {
  display: flex;
  flex-direction: column;
  width: 100%;

  .card-container {
    display: flex;
    flex-direction: row;
    margin: 1em 3em 3em 3em;

    mat-card {
      height: fit-content;

      mat-card-content {
        margin: 0 10px;
      }
    }

    .first-card {
      flex: 1;
      min-width: 50%;
      margin-right: 3em;
      height: auto;
    }

    .second-column {
      min-width: 46%;
      display: flex;
      flex-direction: column;

      .third-card {
        margin-top: 1em;
      }

      mat-card {
        flex: 1;
      }
    }
  }

  .applyContainer {
    margin: 0 3rem;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;

    .applyButton {
      width: fit-content;
      border-radius: 24px;
      color: #fff;
      background-color: #db5e5e;
      padding-left: 3em;
      padding-right: 3em;
    }
  }
}

.listButtonMotivationJob{
  width: 100%;
  margin-bottom: 30px;

  >p{
    margin-left: 20px;
    margin-bottom: 0;
    margin-top: 20px;
  }

  .listMotivationJob {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  
    button {
      border-radius: 20px;
    }

    mat-list-item {
      width: auto;
  
      ::ng-deep .mat-list-item-content {
        padding: 4px;
      }
    }

    .purple {
      background-color: #d84855;
    }
    .darkblue {
      background-color: #e97171;
    }
    .blue {
      background-color: #ffcb8e;
    }
    .darkgreen {
      background-color: #a3d69d;
    }
    .green {
      background-color: #27941a99;
    }
  }
  .btnMotivationEconomic:hover {
    background-color: #5bbcaf;
    color: white;
  }
  .btnMotivationProject:hover {
    background-color: #83eabe;
    color: white;
  }
  .btnMotivationManagement:hover {
    background-color: #57c4e5;
    color: white;
  }
  .btnMotivationMobility:hover {
    background-color: #568eaf;
    color: white;
  }
  .btnMotivationOthers:hover {
    background-color: #975eb0;
    color: white;
  }
}

.aspects-content {
  margin: 0 20px 20px 20px;

  .fila {
    display: flex;
    align-items: center;
    margin: 0;
  }
  .title {
    flex: 1;
    font-weight: bold;
    color: #8c8c8c;
    min-width: 72px;
  }
  .box {
    width: 50px;
    padding: 3px 20px;
    border-radius: 24px;
    margin-left: 15px;
  }
  .cabecera {
    display: flex;
    margin-bottom: 4px;
    color: white;
  }
  .general {
    display: flex;
    justify-content: flex-start;
  }
  .box1 {
    background-color: #d84855;
  }
  .box2 {
    background-color: #e97171;
  }
  .box3 {
    background-color: #ffcb8e;
  }
  .box4 {
    background-color: #a3d69d;
  }
  .box5 {
    background-color: #27941a99;
  }
}

fieldset{
  border: none;
  border-radius: 24px;
  padding: 0;
  margin: 0;
  width: 100%;

  .group{
    display: flex;
    border-top: 1px solid #cccccc61;
    padding-top: 10px;
    margin-top: 5px;
  
    .radio-toolbar input[type="radio"] {
      opacity: 0;
      position: fixed;
      width: 0;
    }
    .radio-toolbar label {
      display: inline-block;
      padding: 10px 20px;
      border-radius: 24px;
      width: 50px;
      border: 0.2px solid #eeeeee;
      margin-left: 15px;
    }
    .radio-toolbar input[type="radio"]:checked + .radio-style1 {
      background-color: #d84855;
    }
    .radio-toolbar input[type="radio"]:checked + .radio-style2 {
      background-color: #e97171;
    }
    .radio-toolbar input[type="radio"]:checked + .radio-style3 {
      background-color: #ffcb8e;
    }
    .radio-toolbar input[type="radio"]:checked + .radio-style4 {
      background-color: #a3d69d;
    }
    .radio-toolbar input[type="radio"]:checked + .radio-style5 {
      background-color: #27941a99;
    }
  }
}

.emails-chip-list {
    width: 100%;
}

.form-row {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;

  app-autoselect, app-autocomplete, .mat-form-field, mat-card {
    flex: 1;
    min-width: 0;
    max-width: 47%;
    margin: 0 10px;
  }

  mat-card {
    display: block;
  }
}

.row-field {
  width: 100%;
  margin: 0 10px;
}

textarea {
  resize: none;
}
