<mat-card class="c-card-component">
    <div class="title-component">
        <h2>BILLING</h2>
    </div>
    <form [formGroup]="form">
        <mat-form-field appearance="outline" class="bill-field">
            <mat-label>Bill:</mat-label>
            <input aria-label="bill" matInput placeholder="Bill" formControlName="bill" required/>
            <mat-error>Please enter a bill</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="bill-field">
            <mat-label>Project:</mat-label>
            <input aria-label="project" matInput placeholder="Project" formControlName="project" required/>
            <mat-error>Please enter a project</mat-error>
        </mat-form-field>

        <button class="btnConfirm" mat-raised-button (click)="submit()">
            Save
        </button>
    </form>
</mat-card>
