@import "src/assets/styles/staffit-style-1";

form {
  display: flex;
  flex-flow: row;
  align-items: baseline;
  margin-top: 3em;
  margin-left: 3em;

  .bill-field {
    margin: 0.5rem;
    width: 15%;
  }

  .btnConfirm {
    background-color: $color-palette-1-main;
    border-radius: 24px;
    height: 2rem;
    color: $color-primary-light;
  }
}
