.dialog_detail {
    padding: 10px;
}

.mat-dialog-content::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
  
.mat-dialog-content::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 14px;
}