<mat-dialog-content class="dialog detail">
    <div class="dialog-content dialog-content-detail">
        <div class="title">
            <h2>{{"Upload photo" | titlecase }}</h2>
        </div>
    </div>
    <div class="dragndrop-container">
        <app-dragndrop [fileLimit]="data.fileLimit"
                        [imagePreview]="data.imagePreview"
                        (filesOut)="sentFile($event)">
        </app-dragndrop>
    </div>
</mat-dialog-content>