<mat-dialog-content class="dialog">
    <form [formGroup]="noteForm" class="black-dialog">

        <!-- ===== TITLE ===== -->
        <mat-form-field *ngIf="editTitle; else title"
                        appearance="outline"
                        class="form-field">
            <mat-label class="titleColor">Title</mat-label>
            <input aria-label="title"
                   matInput
                   placeholder="Insert a title here"
                   formControlName="name"
                   (focusout)="editTitle = false">
            <mat-error>Please enter a title</mat-error>
        </mat-form-field>

        <ng-template #title>
            <h2 (click)="editTitle = !editTitle" class="note-title">
                {{noteForm.value['name']
                ? noteForm.value['name']
                : 'There is no title, click me!'
                }}
            </h2>
        </ng-template>

        <!-- ===== DESCRIPTION ===== -->
        <mat-form-field *ngIf="editDescription; else desc"
                        appearance="outline"
                        class="form-field">
            <mat-label class="titleColor">Description</mat-label>
            <textarea aria-label="description"
                      matInput
                      cdkTextareaAutosize
                      #autosize="cdkTextareaAutosize"
                      cdkAutosizeMinRows="2"
                      cdkAutosizeMaxRows="8"
                      formControlName="description"
                      placeholder="Insert a description here"
                      (focusout)="editDescription = false">
            </textarea>
        </mat-form-field>
        <ng-template #desc>
            <p class="note-description"
               (click)="editDescription = !editDescription">{{noteForm.value['description'] ? noteForm.value['description'] : 'There is no description, click me!'}}</p>
        </ng-template>

        <!-- ===== IMG ===== -->
        <!-- <img src="../../../../../assets/CRM/icons/dialogs/sticky-note-degradado.png" alt=""> -->
    </form>

    <div class="dialog-content">
        <h3 class="comment-title">Comments</h3>

        <ng-container *ngIf="commentaries.length > 0; else noComments">
            <div class="timeline">
                <div class="entry" *ngFor="let comment of commentaries">
                    <div class="title">
                        <small>{{ comment.created | date: 'shortDate' }}</small>
                    </div>
                    <div class="body comment">
                        <p (click)="comment['edit'] = true">
                            {{comment.description}}
                        </p>
                        <button mat-icon-button *ngIf="!comment.id" (click)="deleteComment(comment)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>

                <div class="entry">
                    <div class="body comment-form">
                        <form [formGroup]="commentForm" class="form-full-width">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>New comment</mat-label>
                                <textarea aria-label="new-comment"
                                          matInput
                                          cdkTextareaAutosize
                                          formControlName="comment">
                                </textarea>
                            </mat-form-field>
                        </form>
                        <button mat-raised-button
                                class="add-comment-button-small"
                                (click)="addCommentary()">+ Add
                        </button>
                    </div>
                </div>
            </div>
        </ng-container>

        <ng-template #noComments>
            <div class="no-comments-container">
                <p class="no-comments">No comments still. Do you want to add one?</p>
                <form [formGroup]="commentForm" class="no-comments-form">
                    <mat-form-field appearance="outline">
                        <mat-label>New comment</mat-label>
                        <textarea aria-label="new-comment"
                                  matInput
                                  formControlName="comment" class="no-comment-textarea">
                        </textarea>
                    </mat-form-field>
                </form>
                <button mat-raised-button class="add-comment-button" (click)="addCommentary()">
                    + Add
                </button>
            </div>
        </ng-template>

        <div class="buttons">
            <button mat-button class="exit-button" mat-dialog-close>Exit</button>
            <button mat-button class="submit-button" (click)="saveNote()">Save</button>
        </div>
    </div>
</mat-dialog-content>
