@import '../../../../../assets/styles/dialog-unified.scss';
@import '../../../../../assets/styles/staffit-style-1.scss';

.dialog {
  display: flex;
  flex-flow: row;
  margin: 0;
  padding: 0;

  .black-dialog {
    width: 30%;
    margin: 0;
    padding: 0.5em;

    mat-form-field {
      width: 100%;
    }

    h2 {
      font-size: 1.25em;
    }

    .note-description, .note-title {
      word-wrap: break-word;
      text-align: left;
    }
  }

  .dialog-content {
    width: 70%;
    margin: 0;
    padding: 0 1em;
    height: 100%;

    .comment-title {
      height: 10%;
    }

    .no-comments-container {
      height: 350px;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;

      .no-comments-form {
        width: 500px;

        .no-comment-textarea {
          width: 100%;
          max-height: 220px;
        }

        .mat-form-field {
          width: 100%;
        }
      }

      .add-comment-button {
        background-color: #e46e75;
        color: white;
        width: 100px;
        border-radius: 24px;
        height: 40px;
      }
    }

    .timeline {
      height: 350px;
      width: 100%;
      overflow-y: auto;

      .entry .comment {
        display: flex;
        justify-content: space-between;
        word-wrap: break-word;

        p {
          max-width: 350px;
        }

        button {
          margin-bottom: 15px;
          margin-top: auto;
        }
      }

      .comment-form {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: space-between;

        .form-full-width {
          width: 350px;

          .full-width {
            width: 100%;

          }
        }

        .add-comment-button-small {
          background-color: #e46e75;
          border-radius: 24px;
          color: white;
        }
      }
    }

    .buttons {
      height: 10%;
      margin-top: 0;
    }
  }
}

.form-field, .note-title, .note-description {
  color: white;
}

$gutter: 30px;
$border-width: 4px;
$dot-diameter: 8px;

body {
  background: linear-gradient(55deg, #4e75b9 30%, #5cbf98 90%);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 12vh 100px;
  font-family: 'Source Sans Pro', arial, sans-serif;
  font-weight: 300;
  color: #333;
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }
}

.timeline {
  width: 100%;
  max-width: 800px;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: calc(13% - 1px);
    bottom: 0;
    width: $border-width;
    background: #ddd;
  }

  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

.entry {
  clear: both;
  text-align: left;
  position: relative;

  .title {
    margin-bottom: 0.5em;
    float: left;
    padding-right: $gutter;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      width: $dot-diameter;
      height: $dot-diameter;
      border: $border-width solid salmon;
      background-color: #fff;
      border-radius: 100%;
      top: 15%;
      right: -4px;
      z-index: 99;
    }

    h3 {
      margin: 0;
      font-size: 120%;
    }

    p {
      margin: 0;
      font-size: 100%;
    }
  }

  .body {
    float: right;
    width: 78%;

    p {
      line-height: 1.4em;
      word-wrap: break-word;

      &:first-child {
        margin-top: 0;
        font-weight: 400;
      }
    }

    ul {
      color: #aaa;
      padding-left: 0;
      list-style-type: none;

      li:before {
        content: '–';
        margin-right: 0.5em;
      }
    }
  }
}

.buttons {
  display: flex;
  flex-flow: row;
  margin-top: 110px;
}

.exit-button {
  margin: 30px 0 0 315px;
}

/* ===== matInput =====*/
::ng-deep .black-dialog .mat-focused .mat-form-field-label .mat-form-field-placeholder{
  /*change color of label*/
  color: white !important;
}

::ng-deep .black-dialog .mat-form-field-underline {
  /*change color of underline*/
  background-color: white !important;
  color: white;
}

::ng-deep .black-dialog .mat-form-field-ripple{
  /*change color of underline when focused*/
  background-color: white !important;
  color: white;
}

::ng-deep .black-dialog .mat-form-field-appearance-outline .mat-form-field-outline {
  color: white !important;
}

.titleColor{
  color:white;
}

::ng-deep .mat-input-element::placeholder{
  color: white;
}

