<div *ngIf="confirm">
  <mat-card class="empTermination">
    <mat-card-header>
      <div class="title">
        <span class="noEntry-icon">
          <img src="../../../../../../assets/icons/no-entry.svg" width="12px" alt="noEntry"/>
        </span>
        <h1>Employee termination</h1>
      </div>
    </mat-card-header>
    <mat-card-content>
      <form #formEmployeeTermination="ngForm" class="general-form">
        <h3>{{emp.name}} {{emp.surname}}</h3>

        <mat-form-field appearance="outline">
          <mat-label>Leaving Date</mat-label>
          <input matInput name="leavingDate" [matDatepicker]="picker" [(ngModel)]="leavingDate" required />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="
              formEmployeeTermination.controls['leavingDate']?.errors?.required
            ">Enter a leaving date</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Holidays enjoyed</mat-label>
          <input matInput name="holidaysEnjoyed" [(ngModel)]="holidaysEnjoyed" type="number" required />
          <mat-error *ngIf="
              formEmployeeTermination.controls['holidaysEnjoyed']?.errors
                ?.required
            ">Enter a days of holidays enjoyed</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Employee termination type</mat-label>
          <mat-select class="matSelect-inline" name="terminationType" [(ngModel)]="terminationType" required>
            <mat-option *ngFor="let type of types" [value]="type.id">{{
              type.name
              }}</mat-option>
          </mat-select>
          <mat-error *ngIf="
              formEmployeeTermination.controls['terminationType']?.errors
                ?.required
            ">Select a type of termination</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Reason for termination</mat-label>
          <textarea matInput [(ngModel)]="terminationReason" name="terminationReason" placeholder="Write here..."
            required></textarea>
          <mat-error *ngIf="
              formEmployeeTermination.controls['terminationReason']?.errors
                ?.required
            ">Enter a reason for termination</mat-error>
        </mat-form-field>
        <div class="applyContainer">
          <button mat-flat-button class="cancelButton" >
            Cancel >>
          </button>
          <button mat-flat-button class="applyButton" [disabled]="!formEmployeeTermination.valid">
            Apply >>
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>

<div *ngIf="confirm == true">
  <mat-card class="empTerminationEdit">
    <mat-card-header>
      <div class="title">
        <mat-icon>add_circle</mat-icon>
        <h3>Employee termination</h3>
      </div>
    </mat-card-header>

    <mat-card-content>
      <div>
        <div class="contentContainer">
          <div class="summaryContainer">
            <h4 class="summaryTitle">SUMMARY</h4>
            <button mat-flat-button class="editButton">
              Edit
              <mat-icon inline="true" class="editIcon">edit</mat-icon>
            </button>
          </div>

          <ul>
            <li>
              <span class="listTitle">Employee: </span>
              <span>{{ emp.name }} {{ emp.surname }} </span>
            </li>
            <li>
              <span class="listTitle">Leaving date: </span>
              <span>{{ employeeTermination.leavingDate | date: "dd-MM-yyyy" }}</span>
            </li>
            <li>
              <span class="listTitle">Holidays enjoyed: </span>
              <span>{{ employeeTermination.holidaysEnjoyed }}</span>
            </li>
            <li>
              <span class="listTitle">Employee termination type: </span>
              <span>{{ employeeTermination.terminationType }}</span>
            </li>
            <li>
              <span class="listTitle">Reason: </span>
              <span>{{ employeeTermination.terminationReason }}</span>
            </li>
            <!-- <li>
              <span class="listTitle">City: </span>
              <span>{{ empTermination.city }}</span>
            </li> -->
          </ul>
          <button mat-flat-button class="confirmButton" >
            Confirm employee termination >>
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<div *ngIf="confirm == null">
  <mat-card>
    <mat-card-content>
      <div class="contentContainerTerm">
        <div class="titleTerm">
          <div class="panIcon">
            <mat-icon>pan_tool</mat-icon>
          </div>
          <h4>Are you sure?</h4>
        </div>

        <div class="terminationContainer">
          <p class="terminationTitle">
            Please confirm that you want to terminate this employee
          </p>
        </div>

        <div class="nameField">
          <span class="nameTitle">NAME: </span>
          <span>{{ emp.name }} {{ emp.surname }}</span>
        </div>
        <form #formDelete="ngForm" class="formDelete">
          <mat-form-field appearance="outline">
            <mat-label>Write the word DELETE</mat-label>
            <input matInput placeholder="Write the word DELETE" name="deleteCtrl" [(ngModel)]="textDelete" type="text"
              required />
            <mat-error *ngIf="formDelete.controls['deleteCtrl']?.errors?.required">Please write the word DELETE
            </mat-error>
          </mat-form-field>
          <div class="buttons">
            <div>
              <button mat-dialog-close mat-flat-button [disabled]="!formDelete.valid"
                class="confirmButtonTerm">
                Apply >>
              </button>
            </div>
            <div>
              <button mat-stroked-button class="cancelButtonTerm">
                Cancel
              </button>
            </div>
          </div>
        </form>
      </div>
    </mat-card-content>
  </mat-card>
</div>
