

.empTermination {
  box-shadow: none;
}

mat-card .empTerminationEdit {
  width: 100%;
}

.title {
  width: 90%;
  display: flex;
  margin-bottom: 20px;
  box-shadow: 0 4px 4px -2px #00000014;
  align-items: center;
}

.title img {
  padding-top: 0.2em;
  min-width: 20px;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 30px;
}

.noEntry-icon {
  margin-right: 10px;
}

.applyContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 2em;
  margin-bottom: 2em;
}

.applyButton {
  width: fit-content;
  border-radius: 24px;
  color: #fff;
  background-color: #db5e5e;
  padding-left: 3em;
  padding-right: 3em;
}

.mat-icon {
  color: #db5e5e;
}

ul li {
  list-style: none;
  margin: 30px 0;
  color: #767676;
  font-size: 1em;
  margin-left: 0.5em;
}

.listTitle {
  font-weight: bold;
}

.confirmButton {
  border-radius: 24px;
  color: #fff;
  background-color: #db5e5e;
  margin-left: 2.5em;
  padding-left: 3em;
  padding-right: 3em;
}

.summaryContainer {
  display: flex;
}

.summaryTitle {
  margin-left: 3.5em;
  color: #626161;
}

.editButton {
  font-size: 1.1em;
  color: #de7373;
  margin-left: 2.5em;
}

.editIcon {
  color: #626161;
}

mat-icon {
  font-size: 1.3em;
  color: #de7373;
  margin-right: 0.3em;
}

.contentContainer {
  margin-left: 1.2em;
  margin-bottom: 6em;
}

/** VENTANA SURE **/

.nameTitle {
  font-weight: bold;
}

.nameField {
  padding: 20px 0;
}

.confirmButtonTerm {
  border-radius: 24px;
  color: #fff;
  background-color: #db5e5e;
  padding-left: 3em;
  padding-right: 3em;
}


.titleTerm {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 5em;
}

.titleTerm h4 {
  color: #de7373;
  text-align: center;
}

.terminationContainer {
  display: flex;
}

.terminationTitle {
  color: #767676;
}

.titleTerm mat-icon {
  color: #de7373;
  font-size: 4em;
  text-align: center;
  margin-right: 50px;
}

.contentContainerTerm {
  width: 100%;
  margin-bottom: 6em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.buttons {
  width: 100%;
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.formDelete mat-form-field {
  text-align: center;
}

.matSelect-inline{
  display: inline;
}
