<div class="edit-account-component">
    <mat-card id="accHeader">
        <div class="left">
            <app-photo-uploader [defaultMatIcon]="'business'"
                                [defaultMatIconSize]=90
                                [photo]="photo"
                                [editable]=true
                                (photoChanged)="photoChanged($event)">
            </app-photo-uploader>
        </div>
        <div id="accHeaderInfo">
            <h2 class="left">{{ account.commercialName | titlecase }}</h2>
            <p class="left">Email: {{ account.email }}</p>
            <p class="left">Address: {{ account.address }}</p>
        </div>
        <div id="accHeaderButtons">
            <button mat-flat-button class="rowbutton" aria-label="email" matTooltip="email"
                    (click)="openEmail(account.email)">
                <span class="material-icons">
                  email
                </span>
                <span id="btnCall">Send mail</span>
            </button>
        </div>
    </mat-card>

    <form class="formCampaign" [formGroup]="form">
        <section class="select" id="accInfo">
            <mat-accordion>
                <mat-expansion-panel [expanded]="true" [togglePosition]="'before'">
                    <mat-expansion-panel-header>
                        <!-- <img src="assets/CRM/icons/placeholder.png"> -->
                        <h2>About this account</h2>
                    </mat-expansion-panel-header>

                    <div class="fields">
                        <mat-form-field appearance="outline" class="thirdSelect">
                            <mat-label>Comercial name:</mat-label>
                            <input matInput placeholder="Comercial name" formControlName="commercialName" required/>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="thirdSelect">
                            <mat-label>Comercial name 2:</mat-label>
                            <input matInput placeholder="Comercial name 2" formControlName="commercialName2"/>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="thirdSelect">
                            <mat-label>CIF:</mat-label>
                            <input matInput placeholder="CIF" formControlName="cif" required/>
                        </mat-form-field>
                        <br/>
                        <div class="autocompletes">
                            <app-autocomplete class="autocomplete-edit m-auto-right"
                                              [width]="width"
                                              [placeholder]="'Territory'"
                                              [matLabel]="'Territory'"
                                              [options]="territoryOptions"
                                              [appearance]="'outline'"
                                              [defaultValue]="territoryValue"
                                              (selectedValue)="autocompleteSelected({ formField: 'territory', value: $event })"></app-autocomplete>

                            <app-autocomplete class="autocomplete-edit m-auto-right"
                                              [width]="width"
                                              [placeholder]="'User'"
                                              [matLabel]="'User'"
                                              [options]="allMineUserOptions"
                                              [appearance]="'outline'"
                                              [defaultValue]="userValue"
                                              [edit]="true"
                                              (selectedValue)="autocompleteSelected({ formField: 'user', value: $event })"></app-autocomplete>
                            <mat-form-field appearance="outline" class="thirdSelect">
                                <mat-label>Description:</mat-label>
                                <input matInput placeholder="Description" formControlName="description"/>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </section>

        <section class="select" id="accAddress">
            <mat-accordion>
                <mat-expansion-panel [expanded]="true" [togglePosition]="'before'">
                    <mat-expansion-panel-header>
                        <!-- <img src="assets/CRM/icons/placeholder.png"> -->
                        <h2>Address</h2>
                    </mat-expansion-panel-header>

                    <div class="fields">
                        <mat-form-field appearance="outline" class="thirdSelect">
                            <mat-label>Address:</mat-label>
                            <input matInput placeholder="Address" formControlName="address"/>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="thirdSelect">
                            <mat-label>Postal code:</mat-label>
                            <input matInput placeholder="Postal Code" formControlName="postCode"/>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="thirdSelect">
                            <mat-label>City:</mat-label>
                            <input matInput placeholder="City" formControlName="city"/>
                        </mat-form-field>
                        <br/>
                        <div class="autocompletes">
                            <mat-form-field appearance="outline" class="thirdSelect">
                                <mat-label>Province:</mat-label>
                                <input matInput placeholder="Province" formControlName="province"/>
                            </mat-form-field>
                            <app-autocomplete class="autocomplete-edit m-auto-left" [width]="width"
                                              [placeholder]="'Region'" [matLabel]="'Region'" [options]="regionOptions"
                                              [appearance]="'outline'" [defaultValue]="account.region"
                                              (selectedValue)="autocompleteSelected({ formField: 'region', value: $event })"></app-autocomplete>
                            <app-autocomplete class="autocomplete-edit m-auto-left" [width]="width"
                                              [placeholder]="'Country'" [matLabel]="'Country'"
                                              [options]="countryOptions" [appearance]="'outline'"
                                              [defaultValue]="account.country"
                                              (selectedValue)="autocompleteSelected({ formField: 'country', value: $event })"></app-autocomplete>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </section>

        <section class="select" id="accCompany">
            <mat-accordion>
                <mat-expansion-panel [expanded]="true" [togglePosition]="'before'">
                    <mat-expansion-panel-header>
                        <!-- <img src="assets/CRM/icons/placeholder.png"> -->
                        <h2>Company</h2>
                    </mat-expansion-panel-header>

                    <div class="fields">
                        <mat-form-field appearance="outline" class="thirdSelect">
                            <mat-label>Social reason:</mat-label>
                            <input matInput placeholder="Social reason" formControlName="socialReason" required/>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="thirdSelect">
                            <mat-label>Nº Employees:</mat-label>
                            <input matInput placeholder="Nº Employees" formControlName="employeeNum"/>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="thirdSelect">
                            <mat-label>Industry:</mat-label>
                            <input matInput placeholder="Industry" formControlName="industry"/>
                        </mat-form-field>
                        <br/>

                        <div class="autocompletes">
                            <app-autocomplete class="autocomplete-edit m-auto-right" [width]="width"
                                              [placeholder]="'Sector'" [matLabel]="'Sector'" [options]="sectorOptions"
                                              [appearance]="'outline'" [defaultValue]="account.sector"
                                              (selectedValue)="autocompleteSelected({ formField: 'sector', value: $event })"></app-autocomplete>
                            <app-autocomplete class="autocomplete-edit m-auto-right" [width]="width"
                                              [placeholder]="'Category'" [matLabel]="'Category'"
                                              [options]="categoryOptions"
                                              [appearance]="'outline'" [defaultValue]="categoryValue"
                                              [icon]="{icon:'info', matToolTip: 'captions', style: 'cursor: pointer'}"
                                              (iconClicked)="showCaptions()"
                                              (selectedValue)="autocompleteSelected({ formField: 'category', value: $event })"
                                              required>
                            </app-autocomplete>
                            <mat-form-field appearance="outline" class="thirdSelect">
                                <mat-label>Domain:</mat-label>
                                <input matInput placeholder="Domain" formControlName="domain"/>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </section>

        <section class="select" id="accContact">
            <mat-accordion>
                <mat-expansion-panel [expanded]="true" [togglePosition]="'before'">
                    <mat-expansion-panel-header>
                        <!-- <img src="assets/CRM/icons/placeholder.png"> -->
                        <h2>Contact</h2>
                    </mat-expansion-panel-header>

                    <div class="fields">
                        <mat-form-field appearance="outline" class="thirdSelect">
                            <mat-label>Phone:</mat-label>
                            <input matInput placeholder="Phone" formControlName="phone"/>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="thirdSelect">
                            <mat-label>Mail:</mat-label>
                            <input matInput placeholder="Mail" formControlName="email"/>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="thirdSelect">
                            <mat-label>Web:</mat-label>
                            <input matInput placeholder="Web" formControlName="web"/>
                        </mat-form-field>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </section>

        <section class="select" id="accOther">
            <mat-accordion>
                <mat-expansion-panel [expanded]="true" [togglePosition]="'before'">
                    <mat-expansion-panel-header>
                        <!-- <img src="assets/CRM/icons/placeholder.png"> -->
                        <h2>Other info</h2>
                    </mat-expansion-panel-header>

                    <div class="fields">
                        <mat-form-field appearance="outline" class="thirdSelect">
                            <mat-label>CNAE Activity:</mat-label>
                            <input matInput placeholder="CNAE" formControlName="CNAEActivity"/>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="thirdSelect">
                            <mat-label>SIC Activity:</mat-label>
                            <input matInput placeholder="SIC" formControlName="SICActivity"/>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="thirdSelect">
                            <mat-label>EBITDA:</mat-label>
                            <input matInput placeholder="EBITDA" formControlName="ebitda"/>
                        </mat-form-field>
                        <br/>
                        <div class="autocompletes">
                            <app-autocomplete class="autocomplete-edit m-auto-right" [width]="width"
                                              [placeholder]="'Priority'" [matLabel]="'Priority'"
                                              [options]="priorityOptions" [appearance]="'outline'"
                                              [defaultValue]="priorityValue"
                                              (selectedValue)="autocompleteSelected({ formField: 'priority', value: $event })"></app-autocomplete>
                            <app-autocomplete class="autocomplete-edit m-auto-right" [width]="width"
                                              [placeholder]="'Car'" [matLabel]="'Car'" [options]="carOptions"
                                              [appearance]="'outline'" [defaultValue]="carValue"
                                              (selectedValue)="autocompleteSelected({ formField: 'car', value: $event })"></app-autocomplete>
                            <app-autocomplete class="autocomplete-edit" [width]="width" [placeholder]="'Subcar'"
                                              [matLabel]="'subCar'" [options]="subCarOptions" [appearance]="'outline'"
                                              [defaultValue]="subCarValue"
                                              (selectedValue)="autocompleteSelected({ formField: 'subCar', value: $event })"></app-autocomplete>
                        </div>
                        <mat-form-field appearance="outline" class="thirdSelect">
                            <mat-label>Balance:</mat-label>
                            <input matInput placeholder="Balance" formControlName="balance"/>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="thirdSelect">
                            <mat-label>LEAD State:</mat-label>
                            <input matInput placeholder="LEAD State" formControlName="leadState"/>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="thirdSelect">
                            <mat-label>Life Stage:</mat-label>
                            <input matInput placeholder="Life Stage" formControlName="lifeCycleState"/>
                        </mat-form-field>
                        <br/>
                        <mat-form-field appearance="outline" class="thirdSelect">
                            <mat-label>Billing:</mat-label>
                            <input matInput placeholder="Billing" formControlName="billing"/>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="thirdSelect">
                            <mat-label>Origin:</mat-label>
                            <input matInput placeholder="Origin" formControlName="origin"/>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="thirdSelect">
                            <mat-label>ID CRM360:</mat-label>
                            <input matInput placeholder="ID CRM360" formControlName="idCrm360"/>
                        </mat-form-field>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </section>

        <div class="apply">
            <button class="btnConfirm" mat-raised-button (click)="applyChanges()">
                Update
            </button>
        </div>
    </form>
</div>


