<div class="account-detail-content">
    <app-edit-account [accountEditData]="accountEditData" (modAccount)="editAccount($event)"
                      class="flex-detail">
    </app-edit-account>
    <app-account-slider [accountSliderData]="accountSliderData"
                        (addedContact)="addContact($event)"
                        (addedActivity)="addActivity($event)"
                        (addedOpportunity)="addOpportunity($event)"
                        (modActivity)="modifyActivity($event)"
                        (modOpportunity)="modifyOpportunity($event)"
                        class="flex-slider">
    </app-account-slider>
</div>
