<div class="activity-container">
    <div class="activity-info" (click)="openDetailActivityDialog()">
        <section class="title">{{this.activityItemData.activity.name | titlecase}}</section>

        <section *ngIf="warningDateParsed && warningDateParsed <= today; else date" class="red-date">
            {{this.activityItemData.activity.warningDate | date:'dd-MM-yyyy'}}
        </section>
        <ng-template #date>{{this.activityItemData.activity.warningDate | date:'dd-MM-yyyy'}}</ng-template>

        <section class="activity-state" *ngIf="this.activityItemData.activity.state != undefined">
            {{this.activityItemData.activity.state}}
        </section>
    </div>

    <div class="activity-item-edit">
        <button mat-flat-button >
            <!-- <mat-icon>search</mat-icon> -->
        </button>
        <button mat-flat-button (click)="openEditActivityDialog()">
            <mat-icon>create</mat-icon>
        </button>

        <div class="activity-color" style.backgroundColor={{this.activityItemData.activity.color}}></div>
        
        <div *ngIf="this.activityItemData.activity.priority"
            class="activity-priority priority priority-{{this.activityItemData.activity.priority.replace(' ','').toLowerCase()}}">
            {{this.activityItemData.activity.priority}}
        </div>
    </div>
</div>