.principalPanel {
  margin: 20px;
  border-radius: 10px;
}

.mat-accordion .principalPanel:first-of-type,
.mat-accordion .principalPanel:last-of-type {
  border-radius: 10px;
}

.principalHeader {
  padding: 10px;
  margin-left: 30px;
}

.icon {
  margin-right: 8px;
  margin-bottom: 8px;
}

.mat-accordion .principalPanel:not(.mat-expanded),
.mat-accordion .principalPanel:not(.principalPanel-spacing) {
  border-radius: 10px;
}

.principalHeader ::ng-deep .mat-expansion-indicator {
  margin-right: 39px;
}

.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 50px 0;
}

.bookingButton {
  color: #fff;
  background-color: #7467f0;
  border-radius: 24px;
  width: 200px;
  margin-right: 20px;
}

.line {
  width: 100%;
  border-bottom: 1px solid #e6d8d8;
  box-shadow: 0px 2px 4px #e6d8d8;
  margin: 10px 0;
}

.flexContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonGroup {
  border-radius: 20px;
  margin-right: 20px;
  height: 40px;
}

.buttonIcon {
  font-size: 1em;
  color: #626161;
}

.flexItem1 {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.headerItems {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addButton {
  color: #de7373;
}

.adressTitle {
  color: #576271;
  font-weight: bold;
}

.title {
  color: #8b8b8b;
}

.roomContent {
  display: flex;
  justify-content: space-between;
}

.insideColumns {
  width: 20%;
  display: flex;
  justify-content: space-around;
}

.buttonGroup2 {
  display: flex;
  margin-right: 28px;
}

.room {
  font-weight: bold;
}
