<mat-dialog-content class="dialog form">
    <div class="black-dialog">
        <img src="../../../../../assets/CRM/icons/dialogs/account-target.png" alt="">
    </div>
    <form [formGroup]="form" class="dialog-content dialog-content-form">
        <h2>NEW ACCOUNT</h2>
        <div class="columns">
            <section>
                <mat-form-field appearance="outline">
                    <mat-label>CIF</mat-label>
                    <input matInput placeholder="CIF" formControlName="cif" required>
                    <mat-error>Enter an identification</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Commercial Name</mat-label>
                    <input matInput placeholder="Commercial Name" formControlName="commercialName" required>
                    <mat-error>Enter a commercial name</mat-error>
                </mat-form-field>

                <app-autocomplete [placeholder]="'Car *'"
                                  [matLabel]="'Car *'"
                                  [options]="carOptions"
                                  [appearance]="'outline'"
                                  [defaultValue]="''"
                                  (selectedValue)="autocompleteSelected({formField: 'car', value: $event})">
                </app-autocomplete>

                <app-autocomplete [placeholder]="'Priority'"
                                  [matLabel]="'Priority'"
                                  [options]="priorityOptions"
                                  [appearance]="'outline'"
                                  [defaultValue]="'Normal'"
                                  (selectedValue)="autocompleteSelected({formField: 'priority', value: $event})">
                </app-autocomplete>

                <mat-form-field appearance="outline">
                    <mat-label>Social Reason</mat-label>
                    <input matInput placeholder="Social Reason" formControlName="socialReason">
                    <mat-error>Enter a social reason</mat-error>
                </mat-form-field>
            </section>

            <section>
                <mat-form-field appearance="outline">
                    <mat-label>Assigned User</mat-label>
                    <input class="readOnlyInput" matInput type="text" placeholder="User" aria-label="user" formControlName="user" readonly>
                </mat-form-field>

                <app-autocomplete [placeholder]="'Territory'"
                                  [matLabel]="'Territory'"
                                  [options]="territoryOptions"
                                  [appearance]="'outline'"
                                  [defaultValue]="''"
                                  (selectedValue)="autocompleteSelected({formField: 'territory', value: $event})">
                </app-autocomplete>

                <app-autocomplete [placeholder]="'SubCar'"
                                  [matLabel]="'SubCar'"
                                  [options]="subCarOptions"
                                  [appearance]="'outline'"
                                  [defaultValue]="''"
                                  (selectedValue)="autocompleteSelected({formField: 'subCar', value: $event})">
                </app-autocomplete>

                <app-autocomplete [placeholder]="'Sector'"
                                  [matLabel]="'Sector'"
                                  [options]="sectorOptions"
                                  [appearance]="'outline'"
                                  [defaultValue]="''"
                                  (selectedValue)="autocompleteSelected({formField: 'sector', value: $event})">
                </app-autocomplete>

                <app-autocomplete [placeholder]="'Category'"
                                  [matLabel]="'Category'"
                                  [options]="categoryOptions"
                                  [appearance]="'outline'"
                                  [defaultValue]="this.form.controls.category.value"
                                  [icon]="{icon:'info', matToolTip: 'captions', style: 'cursor: pointer'}"
                                  (iconClicked)="showCaptions()"
                                  (selectedValue)="autocompleteSelected({formField: 'category', value: $event})" required></app-autocomplete>
            </section>
        </div>

        <div class="buttons">
            <button mat-button class="exit-button-form" (click)="onCancelClick()">Exit</button>
            <button mat-button type="submit" class="submit-button" (click)="onSaveClick()">Create</button>
        </div>
    </form>
</mat-dialog-content>
