<mat-expansion-panel [expanded]=true [togglePosition]="'before'">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <h3 class="title pink">Notes ({{noteSliderListData.father.notes.length}}) </h3>
        </mat-panel-title>
        <mat-chip-list>
            <mat-chip (click)="createNote()">+ Add</mat-chip>
        </mat-chip-list>
    </mat-expansion-panel-header>
    <mat-card *ngFor="let note of mappedNotes" class="card-item">
        <app-note-item [note]="note" (click)="openDetail(note)" >
        </app-note-item>
    </mat-card>
</mat-expansion-panel>