@import '../../../../../../assets/styles/staffit-style-1';


.new-correction-container{
    display: flex;
    width: 100%;
}

.new-correction-component{
    margin-left:3em;
    margin-right: 3em;
    margin-bottom: 3em;
    width: 60%;
}

.counter-list-container{
    margin-bottom: 3em;
    width: 25%;
}

.add-counter-button{
    border-radius: 24px;
    height: fit-content;
    margin: 1.6rem;
}

.title-counter-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

@media (max-width: 1750px) {
    .new-correction-component{
        margin-left:3em;
        margin-right: 3em;
    }
}

.test-description{
    font-size: 15px;
    margin-bottom: 20px;
    span{
        font-weight: 500;
    }
    > div{
        padding: 5px 0;
    }
}

.question{
    padding: 10px 0;
    .question-statement{
        >span{
            font-size: 17px;
            font-weight: 600;
        }
    }

    > div{
        padding: 2px 0;
    }
}

.question-step{
    margin-top: 10px;
    margin-left: 20px;
    
    span{
        font-weight: 500;
    }
}

.question-description{
    margin-top: 10px;
    margin-left: 20px;
    span{
        font-weight: 500;
    }
}

.question-response{
    padding: 5px 0;
    margin-top: 15px;
    .one-answer{
        display: flex;
        justify-content: space-between;
        
        mat-form-field{
            text-align: center;
            max-width: 5em;
            font-size: .8em;
        }
    }
}

.mat-form-field-infix{
    padding: 0;
}

.mat-form-field-infix .ng-tns-c84-5{
    padding: 0;
}

.answer-text{
    display: flex;
    padding: 5px;
    margin-left: 50px;
    align-items: center;
}

.sirculo{
    height: 15px;
    width: 15px;
    border: 1px solid;
    border-radius: 20px;
}


/*
    COUNTERS
*/

.correction-panel, .form-counter{
    display: flex;
    flex-direction: column;
    mat-form-field{
        width: 84%;
        margin: auto;
    }

    @media(max-width: 1750px){
        mat-form-field{
            width: 79%;
        }
    }
}

.counter-list-buttons{
    display: flex;
    justify-content: space-around;
    margin: 40px 0 20px 0;
    .button-counter{
        border-radius: 25px;
        color: white;
    }
    .save{
        background-color: #DE7373;
    }
    .cancel{
        background-color: #767676;
    }
    .reset{
        background-color: #ffcb8e;
    }
}

.divide-counters{
    height: 30px;
    border-bottom: 1px solid lightgrey;
    margin: auto;
}

.title-counters{
    display: flex;
    margin-left: 30px;
    margin-top: 35px !important;
    .material-icons{
        margin-left: 10px;
    }
}

.counter-card{
    margin: 15px;

    .counter-card-content{
        display: flex;

        .counter-card-text{
            width: 70%;
            .counter-name{
                font-weight: 500;
            }
        }
        .counter-card-buttons{
            width: 30%;
            display: flex;
            flex-wrap: wrap;;
            .save-icon{
                color: #DE7373;
            }
        }
    }
}
.counter-inputs{
    display: flex;
    .material-icons{
        font-size: 22px;
        margin-top: 13px;
        color: #989898;
    }
}

.counter-list{
    mat-card{
        transition: transform 0.5s,
                    background-color 0.2s;
        cursor: pointer;
    }
    mat-card:hover{
        -webkit-transform: scale(0.95);
        -ms-transform: scale(0.95);
        transform: scale(0.95);
        background-color: rgb(238, 238, 238);
    }
}
