<div class="new-correction-container">
    <mat-card class="new-correction-component">
        <!-- HEADER -->
        <div class="title-component">
            <span class="material-icons">note_add</span>
            <h2>{{test.name}}</h2>
        </div>
        <mat-card-content>
            <div class="test-body">

                <div class="test-description">
                    <div class="text-id"><span>ID: </span>{{test.id}}</div>
                    <div class="text-description"><span>Description: </span>{{test.description}}</div>
                </div>

                <form [formGroup]="counterForm">
                    <div *ngFor="let question of test.questions; let i = index" class="test-questions">
                        <div class="question">
                            <div class="question-statement"><span>{{i+1}}. </span>{{question.name}}</div>
                            <div class="question-step"><span>Step: </span>{{ question.step }}</div>
                            <div class="question-description"><span>Description: </span>{{question.description}}</div>

                            <div class="question-response">
                                <div *ngIf="question.questionType === 'RADIO'" class="radio-question">
                                    <mat-radio-group>
                                        <div class="one-answer" *ngFor="let answer of question.answers">
                                            <div class="answer-text">
                                                <mat-radio-button disabled [value]="false">{{answer.value}} {{answer.message}}</mat-radio-button>
                                            </div>
                                            <div class="counter-inputs">
                                                <span class="material-icons">add</span>
                                                <mat-form-field class="counter-input"
                                                appearance="outline">
                                                    <input aria-label="answer" matInput formControlName="{{answer.id}}">
                                                </mat-form-field>
                                            </div>
                                        </div>

                                    </mat-radio-group>
                                </div>
                                <div *ngIf="question.questionType === 'CHECKBOX'" class="radio-question">
                                    <div class="one-answer" *ngFor="let answer of question.answers">
                                        <div class="answer-text">
                                            <mat-checkbox disabled>{{answer.value}} {{answer.message}}</mat-checkbox>
                                        </div>
                                        <div class="counter-inputs">
                                            <span class="material-icons">add</span>
                                            <mat-form-field class="counter-input"
                                            appearance="outline">
                                                <input aria-label="answer" matInput formControlName="{{answer.id}}">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="counter-list-container">
        <h3 class="title-counters">Correction <span class="material-icons">note_add</span></h3>
        <form [formGroup]="correctionForm" class="correction-panel">
            <mat-form-field>
                <input aria-label="name" placeholder="Correction name" matInput formControlName="name">
                <mat-error>Enter a name</mat-error>
            </mat-form-field>
            <mat-form-field>
                <textarea aria-label="description" placeholder="Correction description" matInput
                        formControlName="description"></textarea>
            </mat-form-field>
        </form>

        <div class="counter-list-buttons">
            <button mat-flat-button class="button-counter cancel" (click)="onCorrectCancel()">
                Cancel >>
            </button>
            <button mat-flat-button class="button-counter reset" (click)="onCorrectionReset()">
                Reset>>
            </button>
            <button mat-flat-button class="button-counter save" (click)="onCorrectionSave()">
                Save>>
            </button>
        </div>

        <div class="divide-counters"></div>
        <div class="title-counter-container">
            <h3 class="title-counters">Counters <span class="material-icons">timeline</span></h3>
            <button mat-stroked-button class="add-counter-button" (click)="addCounter()">
                <span class="material-icons">add</span>
                Add counter
            </button>
        </div>
    
        <form [formGroup]="counterForm" class="form-counter">
            <mat-form-field>
                <input aria-label="name" placeholder="Counter name" matInput formControlName="name">
                <mat-error>Enter a name</mat-error>
            </mat-form-field>
            <mat-form-field>
                        <textarea aria-label="description" placeholder="Counter description" matInput
                                formControlName="description"></textarea>
            </mat-form-field>
        </form>

        <div class="counter-list">
            <div class="counter-cards" *ngFor="let counter of counters, let i = index">
                <mat-card class="counter-card" (click)="editCounter(counter)" [ngStyle]="counter.isClicked && counterClicked">
                    <div class="counter-card-content">
                        <div class="counter-card-text">
                            <p class="counter-name">{{counter.name}}</p>
                            <p class="counter-description">{{counter.description}}</p>
                        </div>
                        <div class="counter-card-buttons">
                            <button mat-icon-button *ngIf="i === this.counterIndex" (click)="confirmEditCounter()">
                                <mat-icon>done</mat-icon>
                            </button>
                            <button mat-icon-button *ngIf="i === this.counterIndex" (click)="cancelEditCounter()">
                                <mat-icon>clear</mat-icon>
                            </button>
                            <button  mat-icon-button (click)="removeCounter(counter)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
    </mat-card>
</div>
