<mat-card class="card-component">
    <app-dynamic-filters
        class="dyn-filters"
        [filters]="filters"
        [showFilters]="true"
        (query)="filtersChanged($event)">
    </app-dynamic-filters>
    <div #cards class="cards">
        <app-room-card *ngFor="let e of rooms"
                       [room]="e"
                       [centers]="centers"
                       [editable]="editable"
                       (closeNewRoom)="deleteNewRoom()">
        </app-room-card>
    </div>

    <div class="footer">
        <div class="paginator">
            <mat-icon class="paginator__icon" (click)="paginationChanged('a')">arrow_back_ios</mat-icon>
            <p class="paginator__text">{{total}}</p>
            <mat-icon class="paginator__icon" (click)="paginationChanged('b')">arrow_forward_ios</mat-icon>
        </div>
    </div>
</mat-card>
