@import '../../../../../../assets/styles/staffit-style-1';

:host(app-room-list) {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.card-component {
  position: absolute;
  top: 3rem;
  left: 0rem;
  right: 0;
  bottom: 0.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  overflow-y: auto;
  height: 80%;
  justify-content: center;
  scroll-behavior: smooth;

  &::-webkit-scrollbar-thumb {
    background-color: $color-scrollbar-thumb;
    border-radius: 15px;
  }

  &::-webkit-scrollbar {
    width: 0.5rem;

    &:hover {
      background-color: $color-primary-light;
      width: 0.75rem;
    }
  }
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 0.1rem 1.5rem;

  .paginator{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &__text{
      text-align: center;
    }

    &__icon{
      &:hover{
        cursor: pointer;
      }
    }
  }
}

//Media queries

@media screen and (max-device-width: 766px) {
  .cards {
    flex-direction: column;
    width: 103%;
    height: 93%;
    justify-content: center;
    margin: 0;
    align-items: center;
  }
}

//For tablet
@media screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  .cards {
    justify-content: center;
    margin: 0;
    width: 101%;
    height: 82%;
  }

  .paginador {
    margin: 1rem 1.5rem;
  }
}
