.error-container{
        width: 100%;
        height: 100vh;
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
}
.error-403{
    font-family: 'roboto';
    cursor: default;
    text-transform: uppercase;
    text-align: center;
    font-size: 15vw;
    display: block;
    margin: 0;
    color: #e46e75;
    position: relative;
    z-index: 0;
    animation: colors .4s ease-in-out forwards;
    animation-delay: 1.7s;
}
.error{
    font-family: 'roboto', sans-serif;
	color:black;
	font-size:5vw;
	margin:0;
	text-transform:uppercase;
	text-align:center;
	animation: colors .4s ease-in-out forwards;
	animation-delay: 2s;
	-webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}
.error-details{
    font-size: 2vw;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    opacity: 0;
    animation: show 2s ease-in-out forwards;
    animation-delay: 3s;
}
.candado{
    width: 180px;
    margin-bottom: -40px;
    animation: colors .4s ease-in-out forwards;
	animation-delay: 2s;
}
.btn-lg{
    display: block;
    background-color: black;
    color: white;
    font-size: 20px
}
.btn-lg:hover{
    color: white;
}
.glyphicon-home{
    padding: 5px;
}

@keyframes lock{
	50%{top:-4%;}
	100%{top:-6%;}
}

@keyframes colors{
	50%{transform:scale(1.1);}
}

@keyframes show{
	100%{opacity:1;}
}