<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-container">
                <p class="error">Access forbidden</p>
                <img src="../../../../assets/icons/candado.svg" class="candado" alt="candado">
                <p class="error-403">403</p>
                <div class="error-details">
                    <p>The server understood the request but refuses to authorize it.</p>
                </div>
                <div class="error-actions">
                    <a href="" class="btn btn-lg"><span class="glyphicon glyphicon-home"></span>Take me Home</a>
                </div>
            </div>
        </div>
    </div>
</div>
