mat-drawer-container {
    background-color: rgba(0, 0, 0, 0);
}

::ng-deep .mat-expansion-panel{
    margin-bottom: 15px;
}

.slider-opportunity-container {
    margin: 0 0px 0 17px;
    overflow-y: auto;
}

.slider-sidenav {
    padding: 20px;
    display: flex;
    height: 100%;
    width: 100%;
}

.example-action-buttons {
    padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.example-headers-align .mat-form-field+.mat-form-field {
    margin-left: 8px;
}

.btn {
    color: white;
    background-color: #DE7373;
    border-radius: 24px;
    margin: 2%;
}

.buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.arrow {
    color: #DE7373;
    font-size: 40px;
    /* font-size: 50px;
    margin-left: 0px;
    margin-right: 1px; */
}

.arrow-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.close_slider {
    height: 40px;
    margin-bottom: 5%;
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.open_slider {
    height: 40px;
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin: 30% 5px 5px 5px;
}

.container {
    display: flex;
    justify-content: flex-start;
}

.left {
    width: 30%;
}

.right {
    width: 70%;
}

.title {
    font-size: large;
    font-weight: bold;
}

.pink {
    color: #DE7373;
}

.tarjeta {
    margin-bottom: 5%;
}

.agregarBtn {
    display: flex;
    justify-content: flex-end;
}

#prob {
    width: 20%;
}

#presupuesto {
    width: 45%;
}

.addOportunidad {
    display: flex;
    justify-content: flex-end;
    padding: 0;
}

.mat-card{
    margin: 15px 0 15px 0;
}

::ng-deep mat-card .card-item{
    margin: 15px 0;
}