<div class="slider-opportunity-container">
    <app-account-item
            [account]="opportunitySliderData.opportunity.account"
            [carDictionary]="opportunitySliderData.cars"
            [subCarDictionary]="opportunitySliderData.subCars"
            [categoryDictionary]="opportunitySliderData.categories">
    </app-account-item>
    <app-contact-single-item
            [contact]="opportunitySliderData.opportunity.contact"
            [carDictionary]="opportunitySliderData.cars"
            [subCarDictionary]="opportunitySliderData.subCars">
    </app-contact-single-item>
    <app-activity-slider-list
            [activitySliderListData]="activitySliderListData"
            (newActivity)="addActivity($event)"
            (modActivity)="editActivity($event)">
    </app-activity-slider-list>
    <app-notes-slider-list [noteSliderListData]="noteSliderListData">
    </app-notes-slider-list>
</div>