<div class="settings">
    <!-- <button mat-icon-button (click)="openConfigPanel()" matTooltip="Show detail">
        <mat-icon>settings</mat-icon>
    </button> -->
</div>

<div class="table-responsive">
    <mat-table matSort [dataSource]="dataSource">

        <div *ngFor="let column of columns">
            <ng-container matColumnDef="{{column.property}}" *ngIf="column.shown && column.type === 'string'">
                <mat-header-cell class="idHeader" *matHeaderCellDef mat-sort-header>{{column.name}}</mat-header-cell>
                <mat-cell class="idCell" *matCellDef="let item">
                    {{item[column.property]}}
                </mat-cell>
            </ng-container>


            <!-- TODO: this should have a routing method-->
            <ng-container matColumnDef="{{column.property}}" *ngIf="column.shown && column.type === 'id'">
                <mat-header-cell class="idHeader" *matHeaderCellDef mat-sort-header>{{column.name}}</mat-header-cell>
                <mat-cell class="idCell id-type" *matCellDef="let item"
                          (click)="navigateTo({id: item[column.property], property: column.property, item: item})">
                    {{item[column.property]}}
                </mat-cell>
            </ng-container>


            <ng-container matColumnDef="{{column.property}}" *ngIf="column.shown && column.type === 'date'">
                <mat-header-cell class="idHeader" *matHeaderCellDef mat-sort-header>{{column.name}}</mat-header-cell>
                <mat-cell class="idCell" *matCellDef="let item">
                    {{item[column.property] | date}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="{{column.property}}" *ngIf="column.shown && column.type === 'warning-date'">
                <mat-header-cell class="idHeader" *matHeaderCellDef mat-sort-header>{{column.name}}</mat-header-cell>
                <mat-cell class="idCell" *matCellDef="let item">
                    <span *ngIf="item.isLate; else date" class="red-date">
                        {{item[column.property] | date:'dd-MM-yyyy'}}
                    </span>
                    <ng-template #date>
                        {{item[column.property] | date:'dd-MM-yyyy'}}
                    </ng-template>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="{{column.property}}" *ngIf="column.shown && column.type === 'priority'">
                <mat-header-cell class="idHeader" *matHeaderCellDef mat-sort-header>Priority</mat-header-cell>
                <mat-cell class="idCell" *matCellDef="let item">
                    <div *ngIf="item[column.property]"
                        class="activity-priority priority priority-{{item[column.property].replace(' ','').toLowerCase()}}">
                        {{[item['priority']]}}
                    </div>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="{{column.property}}"
                          *ngIf="column.shown && column.type === 'opportunity-state'">
                <mat-header-cell class="idHeader" *matHeaderCellDef mat-sort-header>State</mat-header-cell>
                <mat-cell class="idCell" *matCellDef="let item" class="cellState">
                    <p>{{ item['state']['name'] ? item['state']['name'] : item['state']['nombre']}} </p>
                    <div class="stateCircle">
                        <p class="stateColor state-{{item['state'].order}}"></p>
                    </div>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="{{column.property}}" *ngIf="column.shown && column.type === 'employeeRequest-name'">
                <mat-header-cell class="idHeader" *matHeaderCellDef mat-sort-header>{{column.name}}</mat-header-cell>
                <mat-cell class="idCell" *matCellDef="let item">
                    <p *ngIf="item.isIncidence; else elseEmployeeName" style="color: #eb4141;">{{item[column.property]}}</p>
                    <ng-template #elseEmployeeName>{{item[column.property]}}</ng-template>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="{{column.property}}"
                          *ngIf="column.shown && column.type === 'employeeRequest-state'">
                <mat-header-cell class="idHeader" *matHeaderCellDef mat-sort-header>State</mat-header-cell>
                <mat-cell class="idCell" *matCellDef="let item" class="cellState">
                    <p>{{ item[column.property]}} </p>
                    <div class="stateCircle">
                        <p class="stateColor state-{{item[column.property]}}"></p>
                    </div>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="{{column.property}}"
                          *ngIf="column.shown && column.type === 'actions' && actions">
                <mat-header-cell class="idHeader" *matHeaderCellDef mat-sort-header>{{column.name}}</mat-header-cell>
                <mat-cell class="idCell" *matCellDef="let item">
                    <button *ngFor="let action of actions" mat-icon-button
                            (click)="emitAction({action: action.name, item: item})"
                            matTooltip="{{action.name}}">
                        <mat-icon>{{action.icon}}</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>
        </div>

        <mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
        <mat-row *matRowDef="let item; columns: columnNames"></mat-row>
    </mat-table>

    <div class="notFound" *ngIf="noResults">
        <img src="assets/CRM/icons/notFound-2.png" alt="">
        <p>No records found</p>
    </div>

    <div class="paginator-fixed">
        <mat-paginator #paginator
                       [pageSize]="10"
                       [length]="totalElements"
                       [pageSizeOptions]="[5, 10, 25, 50]"
                       (page)="pageChanged($event)">
        </mat-paginator>
    </div>
</div>
