
@import '../../../../assets/styles/staffit-style-1.scss';

.id-type {
    color: $color-palette-1-main;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        cursor: pointer;
    }
}

.settings {
    display: flex;

    button {
        margin-left: auto;
    }
}

.paginator-fixed {
    width: 100%;
    height: 60px;
    
    mat-paginator {
        background: transparent;
        position: absolute;
        left: 750px;
    }
}
