<mat-card class="c-card-component" *ngIf="!loading">
    <!-- HEADER -->
    <div class="title-component">
        <h2>CAMPAIGN DETAIL</h2>
    </div>

    <mat-card-content class="card-content">
        <form [formGroup]="form">
            <div class="accordion">
                <mat-accordion class="top-card">
                    <mat-expansion-panel expanded="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h4>Campaign</h4>
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <div class="fields">
                            <div class="first-row">
                                <mat-form-field appearance="outline" class="thirdSelect">
                                    <mat-label>Name</mat-label>
                                    <input aria-label="name" matInput placeholder="Name" formControlName="name"
                                           required>
                                    <mat-error>Enter a name</mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="thirdSelect">
                                    <mat-label>Hours Number</mat-label>
                                    <input aria-label="hoursNumber" matInput placeholder="Hours Number"
                                           formControlName="nhours" required>
                                    <mat-error>Enter an hours number (ie: 7)</mat-error>
                                </mat-form-field>


                                <mat-form-field appearance="outline" class="thirdSelect">
                                    <mat-label>City</mat-label>
                                    <input aria-label="city" matInput placeholder="City" formControlName="city">
                                </mat-form-field>


                                <mat-form-field appearance="outline" class="thirdSelect">
                                    <mat-label>Places Guaranteed</mat-label>
                                    <input aria-label="placeGuaranteed" matInput placeholder="Places Guaranteed"
                                           formControlName="placeGuaranteed">
                                    <mat-error>Enter a places guaranteed number (ie: 7)</mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="thirdSelect">
                                    <mat-label>Places not Guaranteed</mat-label>
                                    <input aria-label="placeNotGuaranteed" matInput placeholder="Places not Guaranteed"
                                           formControlName="placeNotGuaranteed">
                                    <mat-error>Enter a places not guaranteed number (ie: 7)</mat-error>
                                </mat-form-field>
                            </div>

                            <div class="second-row">
                                <mat-form-field appearance="outline" class="thirdSelect">
                                    <mat-label>Start Date</mat-label>
                                    <input matInput placeholder="Start date" formControlName="startDate"
                                           aria-label="startDate" [matDatepicker]="picker">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                    <mat-error>Select a start date</mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="thirdSelect">
                                    <mat-label>Weekly Schedule</mat-label>
                                    <input matInput placeholder="Weekly Schedule" aria-label="weeklySchedule"
                                           formControlName="weeklySchedule">
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="thirdSelect">
                                    <mat-label>Contact Method</mat-label>
                                    <input matInput placeholder="Contact Method" aria-label="contactMethod"
                                           formControlName="contactMethod">
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="thirdSelect">
                                    <mat-label>Internship Type</mat-label>
                                    <input matInput placeholder="Internship Type" aria-label="typeOfInternship"
                                           formControlName="typeOfInternship">
                                </mat-form-field>
                            </div>

                            <div class="third-row">
                                <app-autocomplete class="thirdSelect" [placeholder]="'Study'" [matLabel]="'Study'"
                                                  [options]="studyOptions" [appearance]="'outline'"
                                                  [defaultValue]="this.study" [width]="'100%'"
                                                  (selectedValue)="autocompleteSelected({formField: 'idStudy', value: $event})">
                                </app-autocomplete>

                                <app-autocomplete class="thirdSelect" [placeholder]="'College'" [matLabel]="'College'"
                                                  [options]="collegeOptions" [appearance]="'outline'"
                                                  [defaultValue]="this.college" [width]="'100%'"
                                                  (selectedValue)="autocompleteSelected({formField: 'idCollege', value: $event})">
                                </app-autocomplete>


                                <app-autocomplete class="thirdSelect" [placeholder]="'Status'" [matLabel]="'Status'"
                                                  [options]="this.statusOptions" [appearance]="'outline'"
                                                  [defaultValue]="this.campaign.status" [width]="'100%'"
                                                  (selectedValue)="autocompleteSelected({formField: 'status', value: $event})">
                                </app-autocomplete>

                                <mat-form-field appearance="outline" class="thirdSelect">
                                    <mat-label>End Date</mat-label>
                                    <input matInput placeholder="End date" formControlName="endDate"
                                           aria-label="endDate" [matDatepicker]="endPicker">
                                    <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
                                    <mat-datepicker #endPicker></mat-datepicker>
                                    <mat-error>Select a end date</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="campaign-buttons">
                            <button mat-flat-button class="save-button" (click)="onSaveClick()">Save</button>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </form>

        <mat-accordion>
            <mat-expansion-panel class="expansion" expanded="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h4>Campaign's candidates</h4>
                        <div class="table-buttons">
                            <button mat-flat-button class="table-button" (click)="addCandidateDialog($event)">Candidate
                                <mat-icon>add</mat-icon>
                            </button>
                            <button mat-flat-button *ngIf="canDelete" (click)="delete($event)" class="table-button">Candidate
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="filters-plus-config">
                    <app-dynamic-filters class="dyn-filters"
                                         [filters]="filters"
                                         [showFilters]="true"
                                         (query)="filtersChanged($event)">
                    </app-dynamic-filters>
            
                    <button mat-button class="configButton" (click)="setConfigVisibility(!configVisibility)"><mat-icon>settings</mat-icon> Settings</button>
                </div>
                <app-dynamic-table-mark-ii #table [config]="tableConfig" [data]="tableData" (pagination)="paginationChanged($event)" (order)="orderChanged($event)" (selected)="selected($event)">
                </app-dynamic-table-mark-ii>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card-content>
</mat-card>

<app-dynamic-table-config-panel
        [visibility]="configVisibility"
        [columnsConfig]="tableConfig"
        [filtersConfig]="filters"
        (configChanged)="configChange($event)"
        (closed)="setConfigVisibility(false)">
</app-dynamic-table-config-panel>
