@import 'src/assets/styles/staffit-style-1';

mat-form-field, app-autocomplete {
  margin: 0 0.5rem;
}

.thirdSelect {
  width: 25%;
}

.fields {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.table-button {
  background-color: $color-palette-1-main;
  border-radius: 2rem;
  height: 2.3rem;
  color: #efefef;
  margin: 0.5rem;
}

.top-card {
  height: 40%;
  margin: 3.5rem 1.5em 0 1.5rem;

  .first-row {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    width: 100%;
  }


  .second-row {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    width: 100%;
  }


  .third-row {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    width: 100%;
  }

  .campaign-buttons {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;

    .save-button {
      background-color: $color-palette-1-main;
      border-radius: 2rem;
      height: 2.3rem;
      color: #efefef;
    }
  }
}

.bottom-card{
  height: 40%;
  margin: 0.5rem 1.5em 0 1.5rem;
}

.card-title{
  padding: 0;
  display: flex;
  flex-flow: row;
  justify-content: space-between;

  h2 {
    font-size: $extra-large;
    font-weight: 500;
    margin: 0.5rem;
  }

  .buttons{

    display: flex;
    flex-flow: row;
  }
}
