<mat-card class="card-component" *ngIf="!loading">
    <div class="title-component">
        <h2>COLLEGES</h2>
        <button mat-flat-button (click)="openCreateCollege()">
            <mat-icon>add</mat-icon>
            New
        </button>
    </div>

    <div class="filters-plus-config">
        <app-dynamic-filters class="dyn-filters"
                             [filters]="filters"
                             [showFilters]="true"
                             (query)="filtersChanged($event)">
        </app-dynamic-filters>

        <button mat-button class="configButton" (click)="setConfigVisibility(!configVisibility)"><mat-icon>settings</mat-icon> Settings</button>
    </div>
    
    <app-dynamic-table-mark-ii class="card-content"
                               #table
                               [config]="tableConfig"
                               [data]="tableData"
                               (action)="doAction($event)"
                               (pagination)="paginationChanged($event)"
                               (order)="orderChanged($event)">
    </app-dynamic-table-mark-ii>
</mat-card>
<app-dynamic-table-config-panel
        [visibility]="configVisibility"
        [columnsConfig]="tableConfig"
        [filtersConfig]="filters"
        (configChanged)="configChange($event)"
        (closed)="setConfigVisibility(false)">
</app-dynamic-table-config-panel>