<div *ngIf="!loading">
    <app-dynamic-filters [filters]="filters" [showFilters]="true" (query)="filtersChanged($event)">
    </app-dynamic-filters>

    <button mat-button class="configButton" (click)="setConfigVisibility(!configVisibility)"><mat-icon>settings</mat-icon> Settings</button>

    <app-dynamic-table-mark-ii #table [config]="tableConfig" [data]="tableData" (action)="doAction($event)" (pagination)="paginationChanged($event)" (order)="orderChanged($event)">
    </app-dynamic-table-mark-ii>

    <app-dynamic-table-config-panel
        [visibility]="configVisibility"
        [columnsConfig]="tableConfig"
        [filtersConfig]="filters"
        (configChanged)="configChange($event)"
        (closed)="setConfigVisibility(false)">
    </app-dynamic-table-config-panel>
</div>
