<div class="note-container">
    <div class="note-info">
        <section class="title">{{ note.name | titlecase }}</section>
        <section>
            <small>
                {{note.date | date: 'shortDate'}}
            </small>
        </section>
        {{note.description}}
    </div>


    <div class="opportunity-item-edit">
        <button mat-flat-button>
            <mat-icon>create</mat-icon>
        </button>
    </div>
</div>