@import '../../../../../../assets/styles/staffit-style-1.scss';

.note-container {
  display: flex;
  align-items: center;
}

.note-info {
  margin-left: 15px;
  section {
    padding: 3px 0;
  }
  // img {
  //     margin-right: 5px;
  // }
  // .activity-state {
  //     display: flex;
  //     align-items: center;
  // }
}

.title {
  font-size: 16px;
  font-weight: 500;
}

.opportunity-item-edit {
  display: grid;
  grid-template-columns: 45% 55%;
  grid-template-rows: 50% 50%;
  gap: 5px;
  margin-left: auto;
  > button {
    margin: auto;
  }
  > div {
    margin: auto;
  }
  mat-icon {
    font-size: 17px;
  }
}
