@import '../../../../assets/styles/staffit-style-1.scss';

:host(app-dynamic-filters) {
    overflow-y: hidden;
    height: fit-content;
}

.filters {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5rem;
    margin-left: 0.75rem;
    overflow-x: auto;
}

.filter {
    max-width: 10rem;
    margin: 0.5rem;
}

:host ::ng-deep .mat-form-field-label {
    font-size: $small;
}

:host ::ng-deep .mat-input-element {
    font-size: $small;
}
