<form [formGroup]="form" *ngIf="showFilters" class="filters scrollbar-style">
    <ng-container *ngFor="let item of filters">
        <app-autocomplete *ngIf="showAutocomplete(item)"
                          class="filter"
                          [placeholder]="item.placeholder"
                          [matLabel]="item.label"
                          [appearance]="'standard'"
                          [defaultValue]="item.value"
                          [options]="item.options"
                          (selectedValue)="setAutocompleteValue({formFilter: item.searchValue, value: $event, type: 'autocomplete'})">
        </app-autocomplete>

        <app-autoselect *ngIf="showAutoSelect(item)"
                        class="filter"
                        [config]="this.buildFilter(item)"
                        (search)="search.emit({searchValue: item.searchValue, value: $event})"
                        (selectedValue)="selectedItem({searchValue: item.searchValue, value: $event, type: 'autoselect'})"
                        (cleared)="clear({formFilter: item.searchValue})">
        </app-autoselect>


        <mat-form-field *ngIf="showDate(item)" class="filter" appearance="{{'standard'}}">
            <mat-label>{{item.label}}</mat-label>
            <mat-datepicker #picker></mat-datepicker>
            <mat-datepicker-toggle matSuffix *ngIf="!hasValue(item.prop)" [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker-toggle matSuffix *ngIf="hasValue(item.prop)"
                                   (click)="clearDate({formFilter: item.prop, event: $event})">
                <mat-icon matDatepickerToggleIcon>clear</mat-icon>
            </mat-datepicker-toggle>
            <input type="text"
                   [placeholder]="item.placeholder"
                   aria-label="date" matInput
                   [formControlName]="item.prop"
                   [matDatepicker]="picker"
                   (dateChange)="filterDate({formFilter: item.prop, event: $event})">
        </mat-form-field>

        <mat-form-field *ngIf="showInput(item)" class="filter" appearance="{{'standard'}}">
            <mat-label>{{item.label}}</mat-label>
            <input matInput
                   [id]="item.label"
                   aria-label="input"
                   [placeholder]="item.placeholder"
                   [formControlName]="item.prop"
                   (keyup)="setInputValue({formFilter: item.prop, value: $event, type: 'input'})">
            <button mat-icon-button matSuffix *ngIf="hasValue(item.prop)" (click)="clear({formFilter: item.prop})" matTooltip="clear">
                <mat-icon>clear</mat-icon>
            </button>
        </mat-form-field>
    </ng-container>
</form>
