/* Mat tab */
.mat-expansion-panel {
  border-radius: 5px;
  margin: 1rem 0;
  height: 46.75rem;
  max-height: 46.75rem;
}

.title-bold {
  font-weight: bold;
  margin: auto 0;
}

.mat-expansion-panel-header {
  margin-left: 30px;
}

/* Materials icon */

.material-icons {
  color: #de7373;
  margin-right: 3px;
}

/* FORM */

.myProfile-form {
  // display: grid;
  // grid-template-columns: repeat(4, 1fr);
  // grid-template-rows: 1fr;
  // grid-column-gap: 20px;
  display: flex;
  flex-wrap: wrap;
}

.item-group {
  width: 29%;
  margin: 20px 27px;

  h3 {
    margin-left: 5px;
  }
}

.slider-group {
  max-height: 400px;
  overflow-y: auto;
  border: 1px solid #d8d8d8;
  border-radius: 5px;
  padding: 20px 0px;
}

.slider-group::-webkit-scrollbar {
  width: 6px;
  /* Tamaño del scroll en vertical */
  height: 6px;
}

.slider-group::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

.field-slider {
  display: flex;
  margin: 0 0 5px 35px;

  > p {
    margin-right: 15px;
  }
  mat-slider {
    margin-left: auto;
    margin-right: 30px;
  }
  mat-radio-group {
    margin: auto;
  }
  mat-radio-button {
    padding: 10px;
  }
}

.category-expansion {
  width: 100%;
  margin: 0;
  height: auto;
  max-height: auto;
}

.mat-expansion-panel-spacing {
    margin: 16px 0;
}

.apply {
  justify-content: center;
  justify-items: center;
  text-align: center;
}

.apply button {
  color: white;
  background-color: #db5e5e;
  border-radius: 20px;
  padding: 0em 2em 0em 2em;
  margin: 2em;
}

.apply button:disabled {
  background-color: #d89d9d;
}

/* Description */

.description {
  padding: 0 30px;
}

.lista {
  margin-left: 5px;
  span {
    font-size: 17px;
    font-weight: 500;
  }
  ::marker {
    color: #de7373;
  }
}

.tech {
  display: flex;
  .tech-text {
    width: 50%;
  }
  .tech-values {
    width: 50%;
    height: 40rem;
    max-height: 40rem;
    overflow: auto;
  }
}

.tech-values::-webkit-scrollbar {
  width: 6px;
  /* Tamaño del scroll en vertical */
  height: 6px;
}

.tech-values::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

.subcategories {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 767px) {

  .tech {
    display: flex;
    flex-direction: column;

    .tech-text {
      width: 100%;

      .description{
        padding: 0;
      }

    }
    .tech-values {
      width: 100%;
      height: 40rem;
      max-height: 40rem;
      overflow: auto;
    }

  }    
  
  .mat-expansion-panel {
      height: 100% !important;
      max-height: 100% !important;
    }

  .mat-expansion-panel-header{
    margin: 0;
  }

  .field-slider {
    margin: 0 !important;
  }  

}
