<mat-expansion-panel expanded="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <!-- <h4>My profile</h4> -->
      <span class="title-bold">My profile</span>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <div class="tech">
    <div class="tech-text">
      <p class="description">
        Independientemente de tu tendencia tecnológica, nos interesa que puedas cumplimentar cada uno de los campos ya
        que la división es complicada y hay tecnologías que podrían aparecer en listas que no pertenecen a tu perfil
        primario.
      </p>
      <p class="description">Los campos con valores numéricos tienen el siguiente significado:</p>
      <ul class="lista">
        <li><span>5:</span> Tengo experiencia profesional y amplio dominio de la herramienta/tech.</li>
        <li><span>4:</span> Tengo conocimiento y dominio en el uso.</li>
        <li><span>3:</span> Cuento con nociones, formación o algo de experiencia.</li>
        <li><span>2:</span> He escuchado hablar de ello.</li>
        <li><span>1:</span> No conozco la tecnología</li>
      </ul>
      <p class="description">En el apartado inglés los números indican lo siguiente:</p>
      <ul class="lista">
        <li><span>5:</span> C2. Tengo un nivel muy alto.</li>
        <li><span>4:</span> C1. Estoy cómodo conversando.</li>
        <li><span>3:</span> B2. Puedo defenderme oralmente.</li>
        <li><span>2:</span> B1. Tengo nivel para leer o escribir.</li>
        <li><span>1:</span> No tengo el conocimiento suficiente.</li>
      </ul>
    </div>
    <div class="tech-values">
      <form [formGroup]="form">
        <mat-accordion togglePosition="before">
          <mat-expansion-panel
            class="category-expansion mat-elevation-z0"
            *ngFor="let category of categories.categories"
          >
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h3>{{ category.name }}</h3>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="categories-container">
              <div class="field-slider" *ngFor="let subcategory of category.values">
                <p>{{ subcategory.name }}</p>
                <mat-slider
                  (change)="submit(false)"
                  *ngIf="subcategory.options.length === 5"
                  min="1"
                  max="{{ subcategory.options.length }}"
                  step="1"
                  thumbLabel
                  tickInterval="1"
                  formControlName="{{ subcategory.id }}"
                ></mat-slider>

                <mat-radio-group
                  formControlName="{{ subcategory.id }}"
                  *ngIf="subcategory.options.length === 2"
                  aria-label="Select an option"
                >
                  <mat-radio-button value="{{ subcategory.options[0] }}">{{ subcategory.options[0] }}</mat-radio-button>
                  <mat-radio-button value="{{ subcategory.options[1] }}">{{ subcategory.options[1] }}</mat-radio-button>
                </mat-radio-group>

                <mat-form-field *ngIf="subcategory.options.length === 1" appearance="outline">
                  <input matInput formControlName="{{ subcategory.id }}" />
                </mat-form-field>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </form>
    </div>
</div>
</mat-expansion-panel>
