<mat-dialog-content class="dialog form">
    <div class="black-dialog">
        <!-- TODO change img once icon has been designed-->
        <img src="../../../../../../assets/CRM/icons/dialogs/account-target.png" alt="">
    </div>
    <form [formGroup]="form" class="dialog-content dialog-content-form">
        <h2>New Campaign</h2>
        <div class="columns">
            <section>
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input aria-label="name" matInput placeholder="Name" formControlName="name" required>
                    <mat-error>Enter a name</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Hours Number</mat-label>
                    <input aria-label="hoursNumber" matInput placeholder="Hours Number" formControlName="nhours"
                        required>
                    <mat-error>Enter an hours number (ie: 7)</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>City</mat-label>
                    <input aria-label="city" matInput placeholder="City" formControlName="city">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Places Guaranteed</mat-label>
                    <input aria-label="placeGuaranteed" matInput placeholder="Places Guaranteed"
                        formControlName="placeGuaranteed">
                    <mat-error>Enter a places guaranteed number (ie: 7)</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Places not Guaranteed</mat-label>
                    <input aria-label="placeNotGuaranteed" matInput placeholder="Places not Guaranteed"
                        formControlName="placeNotGuaranteed">
                    <mat-error>Enter a places not guaranteed number (ie: 7)</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="date-input">
                    <mat-label>Start Date</mat-label>
                    <input matInput placeholder="Start date" formControlName="startDate" aria-label="startDate"
                        [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error>Select a start date</mat-error>
                </mat-form-field>


                <mat-form-field appearance="outline">
                    <mat-label>Weekly Schedule</mat-label>
                    <input matInput placeholder="Weekly Schedule" aria-label="weeklySchedule"
                        formControlName="weeklySchedule">
                </mat-form-field>
            </section>

            <section>
                <mat-form-field appearance="outline">
                    <mat-label>Contact Method</mat-label>
                    <input matInput placeholder="Contact Method" aria-label="contactMethod"
                        formControlName="contactMethod">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Internship Type</mat-label>
                    <input matInput placeholder="Internship Type" aria-label="typeOfInternship"
                        formControlName="typeOfInternship">
                </mat-form-field>

                <app-autocomplete [placeholder]="'Study'" [matLabel]="'Study'" [options]="studyOptions"
                    [appearance]="'outline'" [defaultValue]="''"
                    (selectedValue)="autocompleteSelected({formField: 'idStudy', value: $event})">
                </app-autocomplete>

                <app-autocomplete [placeholder]="'College'" [matLabel]="'College'" [options]="collegeOptions"
                    [appearance]="'outline'" [defaultValue]="''"
                    (selectedValue)="autocompleteSelected({formField: 'idCollege', value: $event})">
                </app-autocomplete>

                <!-- <app-autocomplete [placeholder]="'Status'"
                                  [matLabel]="'Status'"
                                  [options]="[]"
                                  [appearance]="'outline'"
                                  [defaultValue]="''"
                                  (selectedValue)="autocompleteSelected({formField: 'idStatus', value: $event})">
                </app-autocomplete> -->

                <mat-form-field appearance="outline" class="date-input">
                    <mat-label>End Date</mat-label>
                    <input matInput placeholder="End date" formControlName="endDate" aria-label="endDate"
                        [matDatepicker]="endPicker">
                    <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
                    <mat-datepicker #endPicker></mat-datepicker>
                    <mat-error>Select a end date</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Status</mat-label>
                    <mat-select formControlName="status">
                        <mat-option *ngFor="let stat of status" [value]="stat">
                            {{stat}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </section>
        </div>

        <div class="buttons">
            <button mat-button class="exit-button-form" (click)="onCancelClick()">Exit</button>
            <button mat-button type="submit" class="submit-button" (click)="onSaveClick()">Create</button>
        </div>
    </form>
</mat-dialog-content>
