<div class="card-container">
    <div *ngIf="editable" class="editRoom">
        <mat-icon *ngIf="!editRoom" (click)="editRoom = !editRoom" matTooltip="Edit">create</mat-icon>
        <mat-icon *ngIf="editRoom" (click)="closeRoom()" matTooltip="Cancel">clear</mat-icon>
        <mat-icon *ngIf="editRoom" (click)="onSubmit()" matTooltip="Save">save</mat-icon>
    </div>

    <img *ngIf="!editRoom" class="photo" src="{{room.linkImagen || defaultImagen}}" alt="room"/>
    <app-photo-uploader class="photo" *ngIf="editRoom" [defaultMatIcon]="icon"
                        [defaultMatIconSize]=90
                        [photo]="room.linkImagen"
                        [editable]=true
                        (photoChanged)="photoChanged($event)">
    </app-photo-uploader>

    <div *ngIf="!editRoom" class="properties">
        <div class="prueba">
            <h2 class="roomName">{{room?.name}}</h2>
            <p matTooltip="{{room?.description}}"
               class="description">{{room?.description?.length > maxLength ? room?.description?.substring(0, maxLength) + '...' : room?.description}}</p>
            <p><b>Address:</b> {{room?.address || 'Address unknown'}}</p>
            <p><b>Type:</b> {{room?.roomType?.charAt(0).toUpperCase() + room?.roomType?.slice(1).toLowerCase()}}
            </p>
            <p><b>Max Capacity:</b> {{room?.maxCapacity}}</p>
        </div>
        <div class="bookNowButton">
            <button mat-flat-button (click)="goToCalendar()">
                Book
            </button>
        </div>
    </div>
    <div *ngIf="editRoom" class="properties" [ngClass]="{'propertiesEdit': editRoom}">
        <form [formGroup]="form" class="formCampaign">
            <section class="values">
                <mat-form-field appearance="standard">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Name" value={{room.name}} formControlName="name">
                    <mat-error>Enter a name</mat-error>
                    <button mat-icon-button matSuffix *ngIf="hasValue('name')" (click)="clear({formFilter: 'name'})"
                            matTooltip="clear">
                        <mat-icon>clear</mat-icon>
                    </button>
                </mat-form-field>
                <app-autocomplete-required class="autocomplete-edit"
                                           [placeholder]="'Room Type'"
                                           [matLabel]="'Room Type'"
                                           [options]="['MEETING', 'EATING','LIVING']"
                                           [appearance]="'standard'"
                                           [defaultValue]="room.roomType || ''"
                                           (selectedValue)="autocompleteSelected({formField: 'roomType', value: $event})">
                </app-autocomplete-required>
            </section>
            <section class="values">
                <app-autocomplete class="address"
                                  [placeholder]="'Address'"
                                  [matLabel]="'Address'"
                                  [options]="centersOptions"
                                  [appearance]="'standard'"
                                  [defaultValue]="room.address || ''"
                                  (selectedValue)="autocompleteSelected({formField: 'address', value: $event})">
                </app-autocomplete>
                <mat-form-field class="capacity" appearance="standard">
                    <mat-label>Max Capacity</mat-label>
                    <input matInput placeholder="Max Capacity" value={{room.maxCapacity}} formControlName="maxCapacity">
                    <mat-error>Enter a max capacity</mat-error>
                    <button mat-icon-button matSuffix *ngIf="hasValue('maxCapacity')"
                            (click)="clear({formFilter: 'maxCapacity'})" matTooltip="clear">
                        <mat-icon>clear</mat-icon>
                    </button>
                </mat-form-field>
            </section>
            <section class="editDescription">
                <mat-form-field appearance="standard">
                    <mat-label>Description</mat-label>
                    <input matTooltip="{{room?.description}}" matInput placeholder="Description"
                           value={{room.description}} formControlName="description">
                    <mat-error>Enter a description</mat-error>
                    <button mat-icon-button matSuffix *ngIf="hasValue('description')"
                            (click)="clear({formFilter: 'description'})" matTooltip="clear">
                        <mat-icon>clear</mat-icon>
                    </button>
                </mat-form-field>
            </section>
        </form>
    </div>
</div>
