@import "../../../../../../assets/styles/staffit-style-1";
@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  box-sizing: border-box;
}

.card-container{
  padding: 0;
  background-color: $color-primary-light;
  border-radius: 7px;
  box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.75);
  color: $color-primary-dark;
  position: relative;
  width: 15rem;
  max-width: 100%;
  margin: 0.5rem;
}

.editRoom{
  position: absolute;
  padding: 10px 0 0 10px;
  cursor: pointer;
  z-index: 99999;
}

.properties{
  padding: 0 1.2rem 1.2rem 1.2rem;
  margin-top: 0.9rem;
  height: 200px;
  font-size: small;
}

.propertiesEdit{
  padding: 0px 16px 16px 5px;
}

.bookNowButton{
  width: 100%;
  display: flex;
  height:40px;;
  flex-direction: column;
    button { 
      margin-top: auto;
      background-color: $color-palette-1-main;
      border-radius: 2rem;
      height: 2.3rem;
      color: #efefef;
      align-self: flex-end;
    }
}

.photo{
  height: 160px;
  width: 100%;
  background-color: rgb(0 0 0 / 12%);
}

app-photo-uploader {
  height: 200px;
}

:host ::ng-deep app-photo-uploader  {
  .container{
    border-radius: 0%  !important;
    .photo, .uploadButton{
      border-radius: 0% !important;
    }
  } 
}

.roomName{
  margin-top: 8px;
  margin-bottom: 8px;
}

.description{
  margin-top: 0;
  margin-bottom: 8px;
}

.prueba{
  height: 155px;
}

.values{
  display: flex;

  mat-form-field, app-autocomplete, app-autocomplete-required{
    width: 50%;
    margin:3px;
  }

  .address{
    width: 75%;
  }

  .capacity{
    width:25%
  }
}

.editDescription{
  width: 102%;
  margin:3px;
}

:host ::ng-deep mat-form-field{
  .mat-form-field-wrapper{
    margin:0px;
    padding-bottom: 1em;
  }
}

/*for mobile screens*/
@media screen and (max-width:767px) {

  .card-container{
    display: flex;
    flex-direction: row;
    width: 18rem;

  }

  .photo{
    width: 7rem;
    height: 14rem;
  }
  .properties{
    height: 13rem;
    font-size: small;
    padding: 0 1rem 1rem 1rem;
    margin-top: 0.3rem;
  }

  .roomName{
    margin: 0.4rem;
  }

  p{
    margin: 0.1rem;
  }


}