<mat-card class="card-component" *ngIf="!loading">
    <!-- HEADER -->
    <div class="title-component">
        <h2>ACTIVITY DETAIL</h2>
    </div>
    <div class="activity-detail-content">
        <app-edit-activity [activityEditData]="activityEditData" (modActivity)="editActivity($event)"
                           class="flex-detailActivity">
        </app-edit-activity>
        <app-activity-slider
                [activitySliderData]="activitySliderData" class="flex-sliderActivity">
        </app-activity-slider>
    </div>
</mat-card>
