@import '../../../../../assets/styles/staffit-style-1.scss';

.activity-detail-content {
    display: flex;
    flex-wrap: nowrap;
}

.flex-detailActivity {
    flex-basis: 70%;
}

.flex-sliderActivity {
    flex-basis: 29%;
    margin-left: 1%;
}

@media (max-width: 1750px) {
    .flex-detailActivity {
        flex-basis: 60%;
    }
    
    .flex-sliderActivity {
        flex-basis: 39%
    }
}
