<mat-dialog-content class="dialog form">
    <div class="black-dialog">
        <img src="../../../../../assets/CRM/icons/dialogs/euro-target.png" alt="">
    </div>
    <form [formGroup]="form" class="dialog-content dialog-content-form">
        <div class="title">
            <h2>Edit Opportunity</h2>
            <div *ngIf="data.opportunity.priority" class="opportunity-priority priority priority-{{data.opportunity.priority.replace(' ','').toLowerCase()}}">
                {{data.opportunity.priority}}
            </div>
            <div class="circle-content">
                <div class="circle" style="--tooltip-color: {{color}};">
                </div>
            </div>
        </div>
        <div class="columns">
            <section>
                <mat-form-field appearance="outline">
                    <mat-label>Assigned User</mat-label>
                    <input matInput formControlName="user" readonly>
                </mat-form-field>

                <mat-form-field appearance="outline" *ngIf="data.father.type == 'Contact'">
                    <mat-label>Contact</mat-label>
                    <input matInput formControlName="contact" readonly>
                </mat-form-field>

                <mat-form-field appearance="outline" *ngIf="data.father.type == 'Account'">
                    <mat-label>Account</mat-label>
                    <input matInput formControlName="account" readonly>
                </mat-form-field>

                <app-autocomplete [placeholder]="'Territory'"
                                  [matLabel]="'Territory'"
                                  [options]="territoryOptions"
                                  [appearance]="'outline'"
                                  [defaultValue]="defaultTerritory"
                                  (selectedValue)="autocompleteSelected({formField: 'territory', value: $event})"></app-autocomplete>

                <app-autocomplete-required [placeholder]="'State'"
                                           [matLabel]="'State'"
                                           [options]="stateOptions"
                                           [appearance]="'outline'"
                                           [defaultValue]="defaultState"
                                           (selectedValue)="autocompleteSelected({formField: 'state', value: $event})">
                </app-autocomplete-required>

                <app-autocomplete [placeholder]="'Priority'"
                                  [matLabel]="'Priority'"
                                  [options]="priorityOptions"
                                  [appearance]="'outline'"
                                  [defaultValue]="defaultPriority"
                                  (selectedValue)="autocompleteSelected({formField: 'priority', value: $event})">
                </app-autocomplete>

                <app-autocomplete-required [placeholder]="'SubCAR'"
                                           [matLabel]="'SubCAR'"
                                           [options]="subCarOptions"
                                           [appearance]="'outline'"
                                           [defaultValue]="defaultSubCar"
                                           (selectedValue)="autocompleteSelected({formField: 'subCar', value: $event})">
                </app-autocomplete-required>

                <mat-form-field appearance="outline" class="date-input">
                    <mat-label>Register Date</mat-label>
                    <input matInput placeholder="Register date" formControlName="registerDate" aria-label="registerDate"
                           [matDatepicker]="registerDate">
                    <mat-datepicker-toggle matSuffix [for]="registerDate"></mat-datepicker-toggle>
                    <mat-datepicker #registerDate></mat-datepicker>
                    <mat-error>Select a date</mat-error>
                </mat-form-field>
            </section>

            <section>
                <mat-form-field appearance="outline">
                    <mat-label>Opportunity Name</mat-label>
                    <input matInput placeholder="Opportunity Name" formControlName="opportunityName" required>
                    <mat-error>Enter an opportunity name</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Estimated Budget</mat-label>
                    <input matInput placeholder="Estimated Budget" formControlName="estimatedBudget" required>
                    <mat-error>Enter a budget</mat-error>
                </mat-form-field>

                <app-autocomplete [placeholder]="'Probability'"
                                  [matLabel]="'Probability'"
                                  [options]="probabilityOptions"
                                  [appearance]="'outline'"
                                  [defaultValue]="defaultProbability"
                                  (selectedValue)="autocompleteSelected({formField: 'probability', value: $event})">
                </app-autocomplete>

                <app-autocomplete-required [placeholder]="'CAR'"
                                           [matLabel]="'CAR'"
                                           [options]="carOptions"
                                           [appearance]="'outline'"
                                           [defaultValue]="defaultCar"
                                           (selectedValue)="autocompleteSelected({formField: 'car', value: $event})">
                </app-autocomplete-required>

                <app-autocomplete 
                                  [placeholder]="'Rejection Reason'"
                                  [edit]="true"
                                  [matLabel]="'Rejection Reason'"
                                  [options]="rejectionOptions"
                                  [appearance]="'outline'"
                                  [defaultValue]="this.defaultRejectionReason"
                                  (selectedValue)="autocompleteSelected({formField: 'rejectionReason', value: $event})">
                </app-autocomplete>

                <app-autocomplete [placeholder]="'Bosonit support'"
                                  [matLabel]="'Bosonit support'"
                                  [options]="supportBosonitOptions"
                                  [appearance]="'outline'"
                                  [defaultValue]="this.data.opportunity.supportBosonit"
                                  (selectedValue)="autocompleteSelected({formField: 'supportBosonit', value: $event})">
                </app-autocomplete>

                <mat-form-field appearance="outline" class="date-input">
                    <mat-label>Warning Date</mat-label>
                    <input matInput placeholder="Warning date" formControlName="warningDate" aria-label="warningDate"
                           [matDatepicker]="warningDate">
                    <mat-datepicker-toggle matSuffix [for]="warningDate"></mat-datepicker-toggle>
                    <mat-datepicker #warningDate></mat-datepicker>
                    <mat-error>Select a date</mat-error>
                </mat-form-field>
                
                <mat-checkbox formControlName="projectClosed">Fixed price project</mat-checkbox>
            </section>
        </div>

        <div class="buttons">
            <button mat-button class="exit-button-form" (click)="onCancelClick()">Exit</button>
            <button mat-button type="submit" class="submit-button" (click)="onSaveClick()">Update</button>
        </div>
    </form>
</mat-dialog-content>
