@import '../../../../../assets/styles/dialog-unified.scss';

#thousand {
    position: absolute;
    left: 125px;
    width: 50px;
    background-color: white;
    border: none;
    font-weight: 500;
    font-size: inherit;
}

.future-div{
    margin-top: -17px;
    display: flex;

    .yellow {
        font-size: 17px;
        color: #ffc056;
    }
}

.future {
    font-weight: 300 !important;
    font-size: 13px;
}

.circle-content-opt{
    position: relative;
    margin: 20px 40px 0 auto;
}