<mat-card class="card-component">
    <!-- HEADER -->
    <div class="title-component">
        <h2>EMPLOYEE REQUESTS MANAGEMENT</h2>
        <button mat-flat-button (click)="goToNewRequest()">
            <mat-icon>add</mat-icon>
            New
        </button>
    </div>

    <div class="filters-plus-config">
        <app-dynamic-filters class="dyn-filters"
                             [filters]="filters"
                             [showFilters]="true"
                             (query)="filtersChanged($event)">
        </app-dynamic-filters>

        <button mat-button class="configButton" (click)="setConfigVisibility(!configVisibility)">
            <mat-icon>settings</mat-icon>
            Settings
        </button>
    </div>

    <mat-tab-group class="card-content">
        <mat-tab label="New employee requests">
            <app-new-employee-request-pipeline
                    (sendToNFQ)="sendToNfq($event)"
                    (stateChangedEmp)="editEmployee($event)"
                    [newEmployeeRequests]="pipelineData"
                    (actions)="goToNewRequest()"
                    (deleteRequest)="delete($event)"
            >
            </app-new-employee-request-pipeline>
        </mat-tab>
        <mat-tab label="Grid">
            <app-new-employee-request-table
                #newEmployeeRequestTable
                [dataResolved]="resolvedData"
                [data]="tableData"
                [config]="tableConfig"
                (modRequest)="goToNewRequest()"
                (sendToNFQ)="sendToNfq($event)"
                (pagination)="paginationChanged($event)"
                (order)="orderChanged($event)"
                (deleteRequest)="delete($event)">
            </app-new-employee-request-table>
        </mat-tab>
    </mat-tab-group>
</mat-card>

<app-dynamic-table-config-panel
        [visibility]="configVisibility"
        [columnsConfig]="tableConfig"
        [filtersConfig]="filters"
        (configChanged)="configChange($event)"
        (closed)="setConfigVisibility(false)">
</app-dynamic-table-config-panel>
