
<mat-dialog-content class="dialog detail">
    <div class="black-dialog">
        <img src="../../../../../assets/CRM/icons/dialogs/account-target.png" alt="">
    </div>
    <div class="dialog-content dialog-content-detail">
        <div class="title">
            <h2>{{data.account.commercialName | titlecase}}</h2>
        </div>
        <div class="columns">
            <section>
                <p><span>CIF: </span>{{data.account.cif}}</p>
                <p><span>Social Reason: </span>{{data.account.socialReason}}</p>
                <p><span>Category: </span>{{data.account.category}}</p>
                <p><span>Phone: </span>{{data.account.phone}}</p>
                <p><span>Territory: </span>{{data.account.territory}}</p>
            </section>
            <section>
                <p><span>Priority: </span>{{data.account.priority}}</p>
                <p><span>CAR: </span>{{data.account.carValue}}</p>
                <p><span>SubCAR: </span>{{data.account.subCarValue}}</p>
                <p><span>Sector: </span>{{data.account.sector}}</p>
            </section>
        </div>
        <div class="buttons">
            <button mat-raised-button class="exit-button-form" (click)="closeDialog()">Exit</button>
            <button mat-raised-button class="submit-button" (click)="goToDetails(data.account.id)">More details</button>
        </div>
    </div>
</mat-dialog-content>
