<mat-card class="card-component" *ngIf="!loading">
    <div class="title-component">
        <h2>EMPLOYEE MANAGEMENT</h2>
    </div>

    <mat-tab-group class="card-content">
        <mat-tab label="Employees">
            <div class="filters-plus-config">
                <app-dynamic-filters class="dyn-filters"
                                     [filters]="filters"
                                     [showFilters]="true"
                                     (query)="filtersChanged($event)">
                </app-dynamic-filters>

                <button mat-button class="configButton" (click)="setConfigVisibility(!configVisibility)">
                    <mat-icon>settings</mat-icon>
                    Settings
                </button>
            </div>
            <app-dynamic-table-mark-ii #table
                                       [config]="tableConfig"
                                       [data]="tableData"
                                       (action)="doAction($event)"
                                       (pagination)="paginationChanged($event)"
                                       (order)="orderChanged($event)">
            </app-dynamic-table-mark-ii>
        </mat-tab>
        <mat-tab label="People">
            <div class="filters-plus-config">
                <app-dynamic-filters class="dyn-filters"
                                     [filters]="filtersAux"
                                     [showFilters]="true"
                                     (query)="filtersChangedAux($event)">
                </app-dynamic-filters>

                <button mat-button class="configButton" (click)="setConfigAuxVisibility(!configAuxVisibility)">
                    <mat-icon>settings</mat-icon>
                    Settings
                </button>
            </div>
            <app-dynamic-table-mark-ii #tableAux
                                       [config]="tableConfigAux"
                                       [data]="tableDataAux"
                                       (pagination)="paginationChangedAux($event)"
                                       (order)="orderChangedAux($event)">
            </app-dynamic-table-mark-ii>
        </mat-tab>
    </mat-tab-group>
</mat-card>

<app-dynamic-table-config-panel
        [visibility]="configVisibility || configAuxVisibility"
        [columnsConfig]="configVisibility ? tableConfig : tableConfigAux"
        [filtersConfig]="configVisibility ? filters : filtersAux"
        (configChanged)="configVisibility ? configChange($event) : configAuxChange($event)"
        (closed)="configVisibility ? setConfigVisibility(false) : setConfigAuxVisibility(false)">
</app-dynamic-table-config-panel>
