<div class="radio-toolbar">
  <input
    type="radio"
    id="{{ rate }}1"
    name="{{ rate }}"
    value="1"
    [checked]="valor == null || valor == 1"
    (change)="selectedRating($event)"
  />
  <label for="{{ rate }}1" class="radio-style1"></label>

  <input
    type="radio"
    id="{{ rate }}2"
    name="{{ rate }}"
    value="2"
    [checked]="valor == 2"
    (change)="selectedRating($event)"
  />
  <label for="{{ rate }}2" class="radio-style2"></label>

  <input
    type="radio"
    id="{{ rate }}3"
    name="{{ rate }}"
    value="3"
    [checked]="valor == 3"
    (change)="selectedRating($event)"
  />
  <label for="{{ rate }}3" class="radio-style3"></label>

  <input
    type="radio"
    id="{{ rate }}4"
    name="{{ rate }}"
    value="4"
    [checked]="valor == 4"
    (change)="selectedRating($event)"
  />
  <label for="{{ rate }}4" class="radio-style4"></label>

  <input
    type="radio"
    id="{{ rate }}5"
    name="{{ rate }}"
    value="5"
    [checked]="valor == 5"
    (change)="selectedRating($event)"
  />
  <label for="{{ rate }}5" class="radio-style5"></label>
</div>

<!-- ANTERIOR -->
<!-- <div class="grid-container">
  <div class="grid-item">
    <div class="box" [ngStyle]="{ background: color }">
      <div class="number">{{ rate }}</div>
    </div>
  </div>

  <div class="grid-item">
    <button class="box" [ngStyle]="{ background: color }"></button>
  </div>
  <div class="grid-item">
    <button
      mat-flat-button
      class="box"
      [ngStyle]="{ background: color }"
    ></button>
  </div>
  <div class="grid-item">
    <button
      mat-flat-button
      class="box"
      [ngStyle]="{ background: color }"
    ></button>
  </div>
  <div class="grid-item">
    <button
      mat-flat-button
      class="box"
      [ngStyle]="{ background: color }"
    ></button>
  </div>
  <div class="grid-item">
    <button
      mat-flat-button
      class="box"
      [ngStyle]="{ background: color }"
    ></button>
  </div>
</div> 
  </div>
  </div>-->
