.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-toolbar label {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 24px;
  width: 50px;
  cursor: pointer;
  border: 0.2px solid #eeeeee;
  margin-left: 15px;
}

.radio-toolbar input[type="radio"]:checked + .radio-style1 {
  background-color: #d84855;
}

.radio-toolbar .radio-style1:hover {
  background-color: #d84855;
}

.radio-toolbar input[type="radio"]:checked + .radio-style2 {
  background-color: #e97171;
}

.radio-toolbar .radio-style2:hover {
  background-color: #e97171;
}

.radio-toolbar input[type="radio"]:checked + .radio-style3 {
  background-color: #ffcb8e;
}

.radio-toolbar .radio-style3:hover {
  background-color: #ffcb8e;
}

.radio-toolbar input[type="radio"]:checked + .radio-style4 {
  background-color: #a3d69d;
}

.radio-toolbar .radio-style4:hover {
  background-color: #a3d69d;
}

.radio-toolbar input[type="radio"]:checked + .radio-style5 {
  background-color: #27941a99;
}

.radio-toolbar .radio-style5:hover {
  background-color: #27941a99;
}
