<mat-dialog-content class="dialog form">
    <div class="black-dialog">
        <img src="../../../../../assets/CRM/icons/dialogs/activity-target.png" alt="">
    </div>

    <form [formGroup]="form" class="dialog-content dialog-content-form">
        <h2>NEW ACTIVITY</h2>
        <div class="columns">
            <section>
                <app-autoselect class="filter"
                                [config]="this.accountAutoSelect"
                                (search)="search('account', $event, {nombreComercial: $event})"
                                (selectedValue)="setValue('account', $event)"
                                (cleared)="clear('account')">
                </app-autoselect>

                <app-autoselect class="filter"
                                [config]="this.opportunityAutoSelect"
                                (search)="search('opportunity', $event, {nombre: $event})"
                                (selectedValue)="setValue('opportunity', $event)"
                                (cleared)="clear('opportunity')">
                </app-autoselect>

                <mat-form-field appearance="standard">
                    <mat-label>Activity Name</mat-label>
                    <input aria-label="name" matInput placeholder="Activity Name" formControlName="activityName"
                           required>
                    <mat-error>Enter an activity name</mat-error>
                </mat-form-field>

                <app-autocomplete [placeholder]="'Car'"
                                  [matLabel]="'Car'"
                                  [options]="carOptions"
                                  [appearance]="'standard'"
                                  [defaultValue]="defaultCar"
                >
                </app-autocomplete>

                <app-autocomplete [placeholder]="'State'"
                                  [matLabel]="'State'"
                                  [options]="stateOptions"
                                  [appearance]="'standard'"
                                  [defaultValue]="''"
                >
                </app-autocomplete>

                <app-autocomplete [placeholder]="'Type'"
                                  [matLabel]="'Type'"
                                  [options]="typeOptions"
                                  [appearance]="'standard'"
                                  [defaultValue]="''"
                >
                </app-autocomplete>

                <mat-form-field appearance="standard" class="date-input">
                    <mat-label>Warning Date</mat-label>
                    <input matInput placeholder="Warning date" formControlName="warningDate" aria-label="warningDate"
                           [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error>Select a date</mat-error>
                </mat-form-field>
            </section>
            <section>
                <app-autoselect class="filter"
                                [config]="this.contactAutoSelect"
                                (search)="search('contact', $event, {nombre: $event})"
                                (selectedValue)="setValue('contact', $event)"
                                (cleared)="clear('contact')">
                </app-autoselect>

                <mat-form-field appearance="standard">
                    <mat-label>Assigned User</mat-label>
                    <input class="readOnlyInput" aria-label="user" matInput placeholder="User" formControlName="user"
                           readonly>
                </mat-form-field>

                <app-autocomplete [placeholder]="'Territory'"
                                  [matLabel]="'Territory'"
                                  [options]="territoryOptions"
                                  [appearance]="'standard'"
                                  [defaultValue]="defaultTerritory"
                >
                </app-autocomplete>

                <app-autocomplete [placeholder]="'SubCar'"
                                  [matLabel]="'SubCar'"
                                  [options]="subCarOptions"
                                  [appearance]="'standard'"
                                  [defaultValue]="defaultSubCar"
                >
                </app-autocomplete>

                <app-autocomplete [placeholder]="'Priority'"
                                  [matLabel]="'Priority'"
                                  [options]="priorityOptions"
                                  [appearance]="'standard'"
                                  [defaultValue]="'Normal'"
                >
                </app-autocomplete>


                <app-autocomplete [placeholder]="'Bosonit Support'"
                                  [matLabel]="'Bosonit Support'"
                                  [options]="supportBosonitOptions"
                                  [appearance]="'standard'"
                                  [defaultValue]="''"
                >
                </app-autocomplete>
            </section>
        </div>

        <div class="buttons">
            <button mat-button class="exit-button-form" (click)="onCancelClick()">Exit</button>
            <button mat-button type="submit" class="submit-button" (click)="onSaveClick()">Create</button>
        </div>
    </form>
</mat-dialog-content>
