@import '../../../../../assets/styles/dialog-unified.scss';

.future-div{
  margin-top: -17px;
  display: flex;
  .yellow {
    font-size: 17px;
    color: #ffc056;
  }
}
.future {
  font-weight: 300 !important;
  font-size: 13px;
}

