<div class="container">
    <div class="info">
      <h1>COMING SOON</h1>
      <hr>
      <p class="datecalculated">New feature on {{fechaTarget | date: 'dd-MM-yyyy'}}</p>
      <span class="days">{{days}}d</span>
      <span class="hours">{{hours}}h</span>
      <span class="minutes">{{minutes}}m</span>
      <span class="seconds">{{seconds}}s</span>
    </div>
    <div class="image"></div>
  </div>