.container {
  height: 50%;
  transform: translate(0, 25%);
  position: relative;
  color: #565759;
}

.info {
  text-align: center;
}

.image {
  height: 6.5rem;
  margin: auto;
  background-image: url('../../../../assets/logos/BOSONIT_color.svg');
  background-repeat: no-repeat;
  background-size: 25rem;
  background-position: center;
}

/* Style the <hr> element */
hr {
  margin: auto;
  width: 40%;
}

span {
  font-size: 3rem;
  font-weight: bold;
  margin-left: 1rem;
}

.days {
  color: #ef7b00;
}

.hours {
  color: #c5162f;
}

.minutes {
  color: #5464ac;
}

.seconds {
  color: #4da5dc;
}
