<div class="contacts-container" (click)="openSimpleDetailDialog()">
    <div class="contact-black">
        <app-photo-uploader [photo]="photo"
                            [editable]=false>
        </app-photo-uploader>
        <!--<img class="contact-img" src="assets/CRM/icons/NoPath - copia (19).png" alt="">-->
        <img src="assets/CRM/icons/dialogs/user-target-white.png" alt="">
    </div>
    <div class="contact-info">
        <section>
            <p><span>Name:</span> {{ contact.name }}, {{contact.surname}}</p>
            <p><span>Phone:</span> {{ contact.phone1 }}</p>
            <p><span>Email:</span> {{ contact.email }}</p>
            <p><span>Position:</span> {{ contact.position }}</p>
            <p><span>Area:</span> {{ contact.area }}</p>
        </section>
    </div>
</div>

