@import "src/assets/styles/staffit-style-1";

.contacts-container {
    display: flex;
    // align-items: center;
}

.contact-black {
    min-height: 200px;
    margin-right: 20px;
    margin-top: 0.5rem;
    width: 80px;
    display: flex;
    flex-direction: column;
    background-color: #262626;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    .contact-img {
        width: 80%;
        margin: 30px auto auto auto;
        border: 2px solid white;
        border-radius: 40px;
    }

    img {
        width: 50%;
        margin: auto 0 auto auto;
    }

    app-photo-uploader {
        width: 60px;
        height: 60px;
        margin: auto;
    }
}

.contact-info {
    margin: auto 0;

    span {
        font-weight: 500;
    }

    img {
        margin-right: 5px;
    }
}

