<div class="cards">
    <mat-card>
        <mat-card-content class="container" *ngIf="!loading">
            <div class="content">
                <div class="user-info">
                    <h2>USER INFO</h2>
                    <form [formGroup]="form">
                        <div class="columns">
                            <section>
                                <mat-form-field *ngIf="user" appearance="outline">
                                    <mat-label>Id</mat-label>
                                    <input aria-label="id" matInput placeholder="Id" formControlName="id">
                                </mat-form-field>
                                <mat-form-field appearance="outline">
                                    <mat-label>Email</mat-label>
                                    <input (keyup)="completeUserName()" aria-label="email" matInput placeholder="Email" formControlName="email">
                                </mat-form-field>
                                <mat-form-field appearance="outline">
                                    <mat-label>User Name</mat-label>
                                    <input aria-label="username" matInput placeholder="UserName" formControlName="username">
                                </mat-form-field>
                                <div *ngIf="checkUserName()" class="check">
                                    <mat-icon>error</mat-icon>
                                    <p>Do not put white characters</p>
                                </div>
                                <mat-form-field *ngIf="!user" appearance="outline">
                                      <mat-label>Enter your password</mat-label>
                                      <input matInput [type]="hide ? 'password' : 'text'"  aria-label="password" matInput placeholder="password" formControlName="password">
                                      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                      </button>
                                </mat-form-field>
                                <div *ngIf="strongPassword" class="check">
                                    <mat-icon>error</mat-icon>
                                    <p>Password should consist 8-16 letters including alphabets and numbers</p>
                                </div>
                                <mat-form-field *ngIf="!user" appearance="outline">
                                    <mat-label>Confirm your password</mat-label>
                                    <input matInput [type]="hide ? 'password' : 'text'"  aria-label="cpassword" matInput placeholder="confirm your password" formControlName="cpassword">
                                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                              </mat-form-field>
                                <div *ngIf="!checkPassword() && form.get('cpassword').value" class="check">
                                    <mat-icon>error</mat-icon>
                                    <p>Passwords do not match</p>
                                </div>
                            </section>   
                        </div>
                    </form>
                    <span>
                    <p *ngIf="user" class="username"><strong>Status:     </strong><mat-slide-toggle
                            [checked]="user.locked"
                            (change)="toggleChange()"
                            #toggle
                    > {{user.locked ? 'Locked' : 'Unlocked' }}</mat-slide-toggle>
                    </p>
                </span>
                </div>
            </div>

        </mat-card-content>
    </mat-card>

    <mat-card>
        <div class="role-list">
            <div class="list-header">
                <h2>ASSIGNED ROLES</h2>
                <div class="list-header">
                    <mat-form-field>
                        <mat-label>ROLES OPTION</mat-label>
                        <mat-select [(value)]="selected" (selectionChange)="change($event)">
                            <mat-option *ngIf="user" value="user">USER ROLES</mat-option>
                            <mat-option value="all">ALL ROLES</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <app-autocomplete #filtro
                          class="filter"
                          [placeholder]="'Name'"
                          [matLabel]="'ROL NAME'"
                          [appearance]="'standard'"
                          [options]="rolesName"
                          (selectedValue)="autocompleteValue($event)">
                    </app-autocomplete>
                    <button *ngIf="user" mat-flat-button (click)="addPersonalRol()"><mat-icon>add</mat-icon>
                        New</button>
                </div>
            </div>
            <div class="scroll">
                <mat-list class="list-content">
                    <div *ngFor="let role of roles">
                        <mat-list-item class="role-list-item">
                            <mat-checkbox [disabled]="user===null" [checked]="updatedRoles.includes(role.value)"
                                          (change)="detectRoleChange(role)">
                                {{ role.name }}
                            </mat-checkbox>
                            <div class="role_detail">
                                <mat-icon (click)="viewRole(role)">send</mat-icon>
                                <mat-icon *ngIf="role.value!=='ROLE_ADMIN' && role.value!=='ROLE_USER'" (click)="deleteRole(role.value)">delete_forever</mat-icon>
                            </div>
                        </mat-list-item>
                    </div>
                </mat-list>
            </div>
        </div>
    </mat-card>
</div>

<div class="buttons">
    <button mat-button class="apply-button" (click)="onSaveClick()">Apply</button>
</div>
