@import '../../../../../../assets/styles/staffit-style-1';

:host ::ng-deep mat-card{
  max-height: 588px;
  margin: 3rem;
  width: 50%;
}

.cards {
  display: flex;
  justify-content: center;
  margin: 3em 3em 1em;
}

.container {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

.content {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
}

.content .user-info {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  margin: 7.5rem;
    h2 {
      text-align: center;
    }
}

p {
  font-weight: 500;
}

.role-list {
  margin: 0.5em 0.5em 1rem;

  mat-list {
    height: 25vw;
    margin: 0.5em;

    mat-list-item:hover {
      cursor: pointer;
      background: grey;
      color: white;
    }
  }

  mat-icon {
    color: $color-palette-1-main;
  }
}

.scroll {
  overflow-y: auto;
}

.scroll::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scroll::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

:host ::ng-deep .mat-list-item-content{
  justify-content: space-between;
}

.role_detail{
  display: flex;
  align-items: center;
  min-width: 3em;
}

.list-header{
  display: flex;
  justify-content: space-between;
  font-size: $small;
  align-items: baseline;
  margin-left: 1em;

  .mat-form-field{
    max-width: 11em;
    margin-right: 1em;
  }

  button {
    background-color: $color-palette-1-main;
    border-radius: 2rem;
    color: #efefef;
    margin-left: 1em;
  }
  mat-icon{
    color: #efefef;
  }
  app-autocomplete{
    max-width: 11em;
  }
}

.buttons {
  text-align: center;

  .apply-button {
    color: #fff;
    background-color: #e46e75;
    border-radius: 24px;
    width: 200px;

    &:hover {
      background-color: #eb4e4e;
      cursor: pointer;
    }
  }
}

.check{
  font-size:$small;
  color:red;
  display: flex;
  align-items: center;
  margin:-1.5em 0 0.5em;
}

:host ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: $color-palette-1-main;
}
