@import '../../../../../assets/styles/dialog-unified.scss';

.future-div{
    margin-top: -17px;
    display: flex;

    .yellow {
        font-size: 17px;
        color: #ffc056;
    }
}

.future {
    font-weight: 300 !important;
    font-size: 13px;
}
.autocomplete-edit{
    width: 32%;
}

.bot-sup {
    display: flex;
    justify-content: space-between;
}

.text {
    color: black;
}

.contactbtn {
    display: flex;
}

.acciones {
    width: 25%;
}

#person-icon {
    margin-top: 3px;
}

#back {
    color: #de7373;
    background-color: #FEF2F2;
    height: fit-content;
}

.icon {
    justify-content: center;
    font-size: 100px;
}

section {
    display: table;
    margin-bottom: 15px;
}
.row {
    display: flex;
    justify-content: space-between;
}

.mat-form-field + .mat-form-field {
    margin-left: 8px;
}

.see-buttons {
    border-radius: 24px;
    background-color: #de7373;
    color: #fff;
    margin: 5px;
}

.rowbutton {
    margin: 2px;
    background-color: #FEF2F2;
}

.center {
    display: flex;
    justify-content: center;
}

.select {
    width: 100%;
}

.thirdSelect {
    width: 100%;
}

.m-auto-left{
    margin-left: 8px;
}
.m-auto-right{
    margin-right: 8px;
}

.fields {
    margin: 0 2%;
}

#accHeader {
    display: flex;
    padding: 2.5%;
    box-shadow: 1px 4px 4px -2px #00000050;
}

#accHeaderInfo {
    display: flex;
    margin-left: 2.5%;
    .left {
        margin-right: 30px;
    }
}

#accHeaderButtons {
    margin: auto;
    .material-icons{
        color: #de7373;
    }
}

#btnCall{
    color: #de7373;
    padding-left: 10px;
}

.rowbutton {
    border: 1px solid #de7373;
}

.apply {
    margin-top: -3em;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.apply button {
    color: white;
    background-color: #DB5E5E;
    border-radius: 20px;
    padding: 0em 2em 0em 2em;
    margin-right: 2em;
    margin-bottom: 1em;

}

.apply button:disabled {
    background-color: #d89d9d;
}

form h2 {
    font-size: 16px;
    font-weight: 500;
}

.circle-content{
    display: inline-block;
    position: relative;
    margin-bottom: 20px;
    margin-left: 14px;
}

.activity-priority {
    display: inline-block;
    width: fit-content;
}

.formCampaign {
    margin-top: 2em;
    padding-left: 1em;
    box-shadow: 1px 4px 4px -1px #00000050;
}