<div class="edit-activity-component">
    <section id="accHeader">
        <div id="accHeaderInfo">
            <h2 class="left">{{ activity.name | titlecase }}</h2>
            <div *ngIf="activity.priority" class="activity-priority priority priority-{{activity.priority.replace(' ','').toLowerCase()}}">
                {{activity.priority}}
            </div>
        </div>
    </section>
    <form [formGroup]="form" class="formCampaign">
        <div class="title">
            <h2>About this activity</h2>
        </div>
        <div class="columns">
            <section>
                <!--<mat-form-field appearance="outline" class="thirdSelect">
                    <mat-label>{{activityType}}</mat-label>
                    <input aria-label="father" matInput placeholder="Father" formControlName="father" readonly>
                </mat-form-field>-->
                <mat-form-field appearance="outline" class="thirdSelect">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Name" formControlName="activityName" required>
                    <mat-error>Enter a name</mat-error>
                </mat-form-field>
                <app-autocomplete class="autocomplete-edit" [width]="width" 
                                  [placeholder]="'CAR'"
                                  [matLabel]="'CAR'"
                                  [options]="carOptions"
                                  [appearance]="'outline'"
                                  [defaultValue]="defaultCar"
                                  (selectedValue)="autocompleteSelected({formField: 'car', value: $event})">
                </app-autocomplete>
                <app-autocomplete class="autocomplete-edit" [width]="width"
                                  [placeholder]="'Type'"
                                  [matLabel]="'Type'"
                                  [options]="typeOptions"
                                  [appearance]="'outline'"
                                  [defaultValue]="defaultType"
                                  (selectedValue)="autocompleteSelected({formField: 'type', value: $event})">
                </app-autocomplete>
                <!-- <app-autocomplete-required [placeholder]="'NFQ Support'"
                                           [matLabel]="'NFQ Support'"
                                           [options]="supportNfqOptions"
                                           [appearance]="'outline'"
                                           [defaultValue]=""
                                           (selectedValue)="autocompleteSelected({formField: 'supportNfq', value: $event})">
                </app-autocomplete-required>
                <div class="future-div">
                    <span class="material-icons yellow">report_problem</span><span class="future">Future
                        functionality</span>
                </div> -->
                <mat-form-field appearance="outline" class="thirdSelect">
                    <mat-label>Warning Date</mat-label>
                    <input matInput placeholder="Warning date" formControlName="warningDate" aria-label="warningDate"
                           [matDatepicker]="warningDate">
                    <mat-datepicker-toggle matSuffix [for]="warningDate"></mat-datepicker-toggle>
                    <mat-datepicker #warningDate></mat-datepicker>
                    <mat-error>Select a date</mat-error>
                </mat-form-field>
            </section>
            <section>
                <app-autocomplete-required class="autocomplete-edit" [width]="width"
                                           [placeholder]="'Assigned User'"
                                           [matLabel]="'Assigned User'"
                                           [options]="supportBosonitOptions"
                                           [appearance]="'outline'"
                                           [defaultValue]="defaultUser"
                                           (selectedValue)="autocompleteSelected({formField: 'user', value: $event})">
                </app-autocomplete-required>
                <app-autocomplete class="autocomplete-edit" [width]="width"
                                  [placeholder]="'SubCAR'"
                                  [matLabel]="'SubCAR'"
                                  [options]="subCarOptions"
                                  [appearance]="'outline'"
                                  [defaultValue]="defaultSubCar"
                                  (selectedValue)="autocompleteSelected({formField: 'subCar', value: $event})">
                </app-autocomplete> 
                <app-autocomplete class="autocomplete-edit" [width]="width"
                                  [placeholder]="'Bosonit Support'"
                                  [matLabel]="'Bosonit Support'"
                                  [options]="supportBosonitOptions"
                                  [appearance]="'outline'"
                                  [defaultValue]="defaultSupportBosonit"
                                  (selectedValue)="autocompleteSelected({formField: 'supportBosonit', value: $event})">
                </app-autocomplete>
                <mat-form-field appearance="outline" class="thirdSelect">
                    <mat-label>Register Date</mat-label>
                    <input matInput placeholder="Register date" formControlName="registerDate" aria-label="registerDate"
                           [matDatepicker]="registerDate">
                    <mat-datepicker-toggle matSuffix [for]="registerDate"></mat-datepicker-toggle>
                    <mat-datepicker #registerDate></mat-datepicker>
                    <mat-error>Select a date</mat-error>
                </mat-form-field>
            </section>
            <section>
                <app-autocomplete class="autocomplete-edit" [width]="width"
                                  [placeholder]="'State'"
                                  [matLabel]="'State'"
                                  [options]="stateOptions"
                                  [appearance]="'outline'"
                                  [defaultValue]="defaultState"
                                  (selectedValue)="autocompleteSelected({formField: 'state', value: $event})">
                </app-autocomplete>
                <app-autocomplete class="autocomplete-edit" [width]="width"
                                  [placeholder]="'Territory'"
                                  [matLabel]="'Territory'"
                                  [options]="territoryOptions"
                                  [appearance]="'outline'"
                                  [defaultValue]="defaultTerritory"
                                  (selectedValue)="autocompleteSelected({formField: 'territory', value: $event})">
                </app-autocomplete>
                <app-autocomplete class="autocomplete-edit" [width]="width"
                                  [placeholder]="'Priority'"
                                  [matLabel]="'Priority'"
                                  [options]="priorityOptions"
                                  [appearance]="'outline'"
                                  [defaultValue]="defaultPriority"
                                  (selectedValue)="autocompleteSelected({formField: 'priority', value: $event})">
                </app-autocomplete>
                <!-- <app-autocomplete-required [placeholder]="'Tech Support'"
                                           [matLabel]="'Tech Support'"
                                           [options]="supportTechOptions"
                                           [appearance]="'outline'"
                                           [defaultValue]=""
                                           (selectedValue)="autocompleteSelected({formField: 'supportTech', value: $event})">
                </app-autocomplete-required>
                <div class="future-div">
                    <span class="material-icons yellow">report_problem</span><span class="future">Future
                        functionality</span>
                </div> -->
                <mat-form-field appearance="outline" class="thirdSelect">
                    <mat-label>Close Date</mat-label>
                    <input matInput placeholder="Close date" formControlName="closeDate" aria-label="closeDate"
                           [matDatepicker]="closeDate">
                    <mat-datepicker-toggle matSuffix [for]="closeDate"></mat-datepicker-toggle>
                    <mat-datepicker #closeDate></mat-datepicker>
                    <mat-error>Select a date</mat-error>
                </mat-form-field>
            </section>
        </div>
        <div class="apply">
            <button mat-raised-button type="submit" class="submit-button" (click)="onSaveClick()">Update</button>
        </div>
    </form>
</div>
