<mat-expansion-panel [expanded]=true [togglePosition]="'before'">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <h3 class="title pink">Activities ({{activitySliderListData.father.activities.length}}) </h3>
        </mat-panel-title>
        <mat-chip-list>
            <mat-chip (click)="openNewActivityDialog()">+ Add</mat-chip>
        </mat-chip-list>
    </mat-expansion-panel-header>
    <div *ngIf="activitySliderListData.father.activities.length != 0">
        <mat-card *ngFor="let activity of activitySliderListData.father.activities" class="card-item">
            <app-activity-item
                    [activityItemData]="mapActivity(activity)"
                    (modActivity)="editActivity($event)">
            </app-activity-item>
        </mat-card>
    </div>
</mat-expansion-panel>