<mat-card class="ev-card-component" *ngIf="!loading">
    <!-- HEADER -->
    <div class="title-component">
        <span class="material-icons icon-title">description</span>
        <h2>{{evaluation.name}}</h2>
    </div>
    <mat-card-content>
        <mat-progress-bar [color]="progressColor" mode="determinate" [value]="progressbarValue"></mat-progress-bar>

        <mat-horizontal-stepper>
            <mat-step [stepControl]="form" *ngFor="let form of forms, index as i">

                <form [formGroup]="form">
                    <div class="form-title">Step {{evaluation.steps[i].name}}</div>
                    <div class="question" *ngFor="let question of evaluation.steps[i].questions, index as n">
                        <div>{{question.name}}</div>
                        <div class="description"><div [innerHTML]="question.description"></div></div>
                        <!-- RADIO -->
                        <mat-radio-group aria-label="Select an option" *ngIf="question.questionType === 'RADIO'"
                            formControlName="{{question.id}}">
                            <mat-radio-button *ngFor="let option of question.answers" value="{{option.id}}">
                                {{option.message}}</mat-radio-button>
                        </mat-radio-group>

                        <!-- CHECKBOX -->
                        <ng-container *ngIf="question.questionType === 'CHECKBOX'">
                            <ul class="checkbox-list">
                                <li *ngFor="let option of question.answers">
                                    <mat-checkbox (change)="setFormCheckBoxes(option, $event)">
                                        {{option.message}}
                                    </mat-checkbox>
                                </li>
                            </ul>
                        </ng-container>

                        <!-- TEXT -->
                        <app-ckeditor *ngIf="question.questionType === 'TEXT'" [control]="form.get(question.id)"></app-ckeditor>
                    </div>

                    <div>
                        <button mat-button matStepperPrevious>Anterior</button>
                        <button mat-button matStepperNext>Siguiente</button>
                    </div>
                </form>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Fin</ng-template>
                <p>Ya has termiando, revisa tus respuestas si lo necesitas.</p>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button (click)="reset()">Reset</button>
                    <button mat-button (click)="finishTest()">Enviar</button>
                </div>
            </mat-step>
        </mat-horizontal-stepper>
    </mat-card-content>
</mat-card>
