
@import '../../../../../../assets/styles/staffit-style-1';

.ev-card-component {
    margin: 3.5rem 1.5em 0 1.5rem;
}

.form-title {
    font-size: 20px;
    font-weight: 500;
}

.question {
    margin-top: 15px;
}

.description{
    font-size: 16px;

    > span{
        font-size: 19px;
    }
}

.field-textarea{
    width: 100%;
}

.mat-radio-group{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    
    .mat-radio-button{
        padding:10px 0;
    }
}

::ng-deep {
    .mat-step-header{
        width: 50px;
    }
    .mat-step-icon{
        margin-left: 11px;
    }
}

.checkbox-list{
    list-style: none;
}
