<div *ngIf="!loading">
    <mat-card class="card-component">

        <!-- HEADER -->
        <div class="title-component">
            <h2>OPPORTUNITIES MANAGEMENT</h2>
            <button mat-flat-button (click)="openNewOpportunityDialog()">
                <mat-icon>add</mat-icon>
                New
            </button>
        </div>

        <div class="filters-plus-config">
            <app-dynamic-filters class="dyn-filters"
                                 [filters]="filters"
                                 [showFilters]="true"
                                 (query)="filtersChanged($event)"
                                 (search)="changeOptions($event)">
            </app-dynamic-filters>

            <button mat-button class="configButton" (click)="setConfigVisibility(!configVisibility)"><mat-icon>settings</mat-icon> Settings</button>
        </div>

        <mat-tab-group class="card-content">
            <mat-tab label="Sales Pipeline">
                <app-opportunity-pipe-line
                        [opportunities]="pipelineData"
                        [data]="resolvedData"
                        (modOpportunity)="openModifyOpportunity($event)"
                        (stateChangedOpt)="changeOpportunityState($event)"
                        (detailOpportunity)="openDetailOpportunityDialog($event)">
                </app-opportunity-pipe-line>
            </mat-tab>
            <mat-tab label="Grid">
                <app-opportunity-grid #opportunityGrid
                                      [config]="tableConfig"
                                      [data]="tableData"
                                      (pagination)="paginationChanged($event)"
                                      (order)="orderChanged($event)">
                </app-opportunity-grid>
            </mat-tab>
        </mat-tab-group>
    </mat-card>

    <app-dynamic-table-config-panel
        [visibility]="configVisibility"
        [columnsConfig]="tableConfig"
        [filtersConfig]="filters"
        (configChanged)="configChange($event)"
        (closed)="setConfigVisibility(false)">
    </app-dynamic-table-config-panel>
</div>
