.container {
  display: flex;
  justify-content: center;
}

mat-card {
  margin: 100px;
  width: 50%;
}

.title {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
  box-shadow: 0 4px 4px -2px #00000014;
  align-items: center;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 30px;
}

.houseIcon {
  margin-right: 10px;
}

.applyContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.applyButton {
  width: fit-content;
  border-radius: 24px;
  color: #fff;
  background-color: #db5e5e;
}

.roomPrice {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.roomText {
  color: #716e6e;
  font-weight: bold;
  margin-bottom: 18px;
}

.cancelButton {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.mat-icon {
  color: #db5e5e;
}
