
@import '../../../../../../assets/styles/staffit-style-1.scss';

.opportunity-container {
    display: flex;
    align-items: center;
}

.opportunity-info {
    margin-left: 15px;
    section {
        padding: 3px 0;
    }
    img {
        margin-right: 5px;
    }
    .activity-state {
        display: flex;
        align-items: center;
    }
}

.opportunity-item-edit {
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 50% 50%;
    gap: 5px;
    margin-left: auto;
    >button {
        margin: auto;
    }
    >div {
        margin: auto;
    }
    mat-icon {
        font-size: 17px;
    }
}

.red-date {
    color: #eb4141;
}

.title {
    font-size: 16px;
    font-weight: 500;
}

.circle-item { 
    width: 20px;
    height: 20px;
    border-radius: 25px;
    margin: -35px 18px 5px auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/*
    CHIP & CIRCLE
*/

.activity-color {
    width: 18px;
    height: 18px;
    border-radius: 15px;
    margin: auto;
}

.activity-priority {
    margin: auto;
}

