<div class="opportunity-container">
    <div class="opportunity-info" (click)="openDetailOpportunityDialog()">
        <section class="title">{{opportunityItemData.opportunity.name | titlecase}}</section>

        <section *ngIf="warningDateParsed && warningDateParsed <= today; else date" class="red-date">
            {{opportunityItemData.opportunity.warningDate | date:'dd-MM-yyyy'}}
        </section>
        <ng-template #date>{{opportunityItemData.opportunity.warningDate | date:'dd-MM-yyyy'}}</ng-template>

        <section class="opportunity-state" *ngIf="this.opportunityItemData.opportunity.state != undefined">
            {{opportunityItemData.opportunity.state['nombre']}}
        </section>

        <section *ngIf="this.opportunityItemData.opportunity.probability != undefined">
            {{opportunityItemData.opportunity.probability}}%
        </section>
    </div>

    <div class="opportunity-item-edit">
        <button mat-flat-button >
            <!-- <mat-icon>search</mat-icon> -->
        </button>
        <button mat-flat-button (click)="openDetailOpportunity(opportunityItemData.opportunity)">
            <mat-icon>create</mat-icon>
        </button>

        <div class="circle-item" style.backgroundColor={{color}}>
        </div>
        
        <div *ngIf="this.opportunityItemData.opportunity.priority"
            class="opportunity-priority priority priority-{{this.opportunityItemData.opportunity.priority.replace(' ','').toLowerCase()}}">
            {{this.opportunityItemData.opportunity.priority}}
        </div>
    </div>
</div>