@import "../../../../../../assets/styles/staffit-style-1";

:host(app-weekly-calendar) {
  height: 100%;
  display: flex;
  flex-flow: column;
}

.header {
  display: flex;
  flex-flow: row;
  background-color: white;
  border-bottom: solid #e2e8f0 0.01rem;
  flex: 0 1 auto;

  &__white {
    width: 10%;
  }

  &__schedule {
    width: 90%;
    display: flex;
    flex-flow: row;
  }

  &__day {
    text-align: center;
    width: 14.28%;

    &-today {
      color: $color-palette-1-main;
    }
  }

  &__text {
    font-size: $medium;
  }
}

.body {
  display: flex;
  flex-flow: row;
  flex: 1 1 auto;

  &__schedule {
    width: 10%;
    background-color: white;
    border-right: solid #e2e8f0 0.01rem;
    display: flex;
    flex-flow: column;
  }

  &__hour {
    text-align: center;
    border-bottom: solid #e2e8f0 0.01rem;
    height: 8.3%;
    display: flex;
    justify-content: center;
    align-items: center;

    .text {
      font-size: $medium;
    }
  }

  &__grid {
    width: 90%;
    display: flex;
    flex-flow: column;
  }

  &__row {
    text-align: center;
    background-color: white;
    border-bottom: solid #e2e8f0 0.01rem;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    height: 8.3%;
  }

  &__cell{
    width: 14.28%;

    &-empty{
      border-right: solid #e2e8f0 0.01rem;

      &:hover{
        cursor: pointer;
        background-color: #e2e8f0;
      }
    }
  }
}

