<div class="header">
    <div class="header__white"></div>
    <div class="header__schedule">
        <div class="header__day header__day-{{day === currentDay ? 'today' : ''}}"
             *ngFor="let day of daysFormat">
            <p class="header__text">{{day | uppercase}}</p>
        </div>
    </div>
</div>

<div class="body">
    <div class="body__schedule">
        <div class="body__hour" *ngFor="let period of periods">
            <p class="hour__text">{{period}}:00</p>
        </div>
    </div>
    <div class="body__grid">
        <div class="body__row" *ngFor="let period of periods">
            <div class="body__cell body__cell-empty"
                 *ngFor="let day of daysFormat"
                 (click)="getPeriod(day,period,'00')">
            </div>
        </div>
    </div>
</div>

