<mat-dialog-content class="dialog form">
    <div class="black-dialog">
        <img src="../../../../../../assets/CRM/icons/dialogs/user-target.png" alt="exam image">
    </div>
    <form [formGroup]="form" class="dialog-content dialog-content-form">
        <div class="title">
            <h2>Add candidate</h2>
        </div>
        <div class="columns">
            <section>
                <mat-form-field appearance="outline">
                    <mat-label>Add to campaign</mat-label>
                    <input matInput placeholder="Exam" formControlName="campaign" readonly>
                </mat-form-field>

                <app-autocomplete [placeholder]="'Candidates'" [matLabel]="'Candidates'" [options]="candidates"
                    [appearance]="'outline'" [defaultValue]="''" [width]="'100%'"
                    (selectedValue)="autocompleteSelected($event)">
                </app-autocomplete>

                <mat-form-field appearance="outline" class="w100">
                    <mat-label>Selected Candidates</mat-label>
                    <mat-chip-list #chipList aria-label="Fruit selection">
                        <mat-chip *ngFor="let candidate of selected" [selectable]="'false'" [removable]="'true'"
                            (removed)="remove(candidate)">
                            {{candidate.emails}} ({{candidate.name}} {{candidate.surname}})
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                        <input formControlName="candidate" [matChipInputFor]="chipList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" readonly>
                    </mat-chip-list>
                </mat-form-field>
            </section>
        </div>

        <div class="buttons">
            <button mat-raised-button class="exit-button-form" (click)="onCancelClick()">Exit</button>
            <button mat-raised-button type="submit" class="submit-button" (click)="onSaveClick()">Add</button>
        </div>
    </form>
</mat-dialog-content>
