.entity-container {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.entity-item {
  margin: 0.2rem;
  width: 12rem;

  .entity-header {
    background: black;
    border-radius: 5px;
    color: white;

    mat-checkbox {
      color: white;
    }
  }

  .entity-body {
    display: flex;
    flex-flow: column;
  }
}

mat-checkbox {
  margin: 3px;
}


