<div class="entity-container">
    <div class="entity-item" *ngFor="let entity of entities">
        <div class="entity-header">
            <mat-checkbox (change)="detectEntityChange(entity.scopes)">
                {{ entity.name }}
            </mat-checkbox>
        </div>

        <div class="entity-body">
            <mat-checkbox *ngFor="let scope of entity.scopes"
                          class="scope-checkbox"
                          [checked]="hasScope(scope.name)"
                          (change)="detectScopeChange(scope.id)">
                {{ scope.name }}
            </mat-checkbox>
        </div>
    </div>
</div>

