@import "../../../../../../assets/styles/staffit-style-1";

$inner-left-width: 18rem;

mat-icon {
  font-size: 1.3rem;
  height: 1.75rem;
  width: 1.75rem;

  &:hover {
    cursor: pointer;
  }
}

.actions {
  display: flex;
  flex-flow: row;
  justify-content: center;

  .save-button {
    background-color: #DE7373;
    color: $color-primary-light;
    border-radius: 2rem;
  }
}

.container {
  margin: 3.5rem 1.5em 0 1.5rem;
  display: flex;
  flex-flow: row;

  .left {

    .employee-profile {
      margin: 1rem 0 0 0.1rem;
      height: fit-content;
      width: $inner-left-width;

      .employee-profile-header {
        display: flex;
        flex-flow: row;
        justify-content: flex-end;
      }

      .employee-profile-body {
        display: flex;
        flex-flow: column;
        align-items: center;

        .round {
          border-radius: 50%;
          object-fit: cover;
          height: 4.5rem;
          width: 4.5rem;
        }

        .info {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 0.5rem 0 0;

          .editing-profile {
            padding-left: 174px;
            display: flex;

            .cars-container {
              width: 30%;

              .profile-field {
                width: 20%;
              }
            }
          }

          .profile-name {
            margin: 0.25rem 0;
            font-size: $medium;
            font-weight: 500;
          }

          .profile-email {
            margin: 0.25rem 0;
            font-size: $small;
            font-weight: 400;
          }

          .profile-occupation {
            margin: 0.25rem 0;
            font-size: $small;
            font-weight: 400;

            span {
              margin-right: 0.1rem;
              font-weight: 500;
            }
          }

          .cars {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .cars-container {
              width: 49%;
              display: flex;
              flex-flow: column;
              align-items: center;
              text-align: center;
              justify-content: center;
            }
          }

          #cars-divider {
            height: 3rem;
            margin: 1rem 0.6rem;
          }
        }
      }
    }

    .superior {
      margin: 1.25rem 0;
      width: $inner-left-width;

      .superior-header {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: baseline;

        h4 {
          font-size: $small;
          font-weight: 500;
          background-color: $color-palette-1-main;
          padding: 0.25rem;
          color: $color-primary-light;
          border-radius: 1.5rem;
        }
      }

      .superior-body {
        display: flex;
        flex-flow: row;
        justify-content: space-around;

        img {
          height: 4rem;
          width: 4rem;
          object-fit: cover;
          border-radius: 50%;
        }

        .superior-info {
          .superior-name {
            margin: 0.25rem 0;
            font-size: $medium;
            font-weight: 500;
          }

          .superior-email {
            margin: 0.25rem 0;
            font-size: $small;
            font-weight: 400;
          }

          .superior-occupation {
            margin: 0.25rem 0;
            font-size: $small;
            font-weight: 400;

            span {
              margin-right: 0.1rem;
              font-weight: 500;
            }
          }
        }
      }

      .no-superior-content {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;

        p {
          font-weight: 400;
          text-align: center;
        }
      }
    }
  }

  .right {

    .employee-aux {
      margin: 1.25rem;

      .employee-aux-form {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: flex-start;

        .employee-aux-field {
          width: 20%;
          margin: 0.5rem;
        }
      }

      .no-employee-aux {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;

        p {
          font-weight: 400;
          text-align: center;
        }
      }
    }

    .employee {
      ::ng-deep mat-tab-header {
        margin-bottom: 0.5rem !important;
      }

      .employee-personal-form {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: flex-start;

        .address {
          width: 100%;
        }

        .personal-field, .address-field {
          width: 15%;
          margin: 0.5rem;
        }
      }

      .employee-business-form {
        display: flex;
        flex-flow: column;

        h4 {
          font-size: $medium;
          font-weight: 500;
        }

        .observations-date-container {
          display: flex;
          flex-flow: row;

          h4 {
            margin: 0.25rem;
          }

          mat-form-field {
            width: 35%;
            margin: 0 0.5rem;
          }

          .observations-container {
            display: flex;
            flex-flow: column;

            mat-form-field {
              width: 100%;
            }
          }

          .date-container {
            margin-left: 11.5rem;
          }
        }

        .business-field {
          width: 15%;
          margin: 0.5rem;
        }

        .business-checkbox {
          margin: 0 0.5rem;
        }
      }

      .billing-form {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: center;

        h4 {
          font-size: $medium;
          font-weight: 500;
        }

        .billing-field {
          width: 20%;
          margin: 0.5rem;
        }
      }

      .breakdown {
        h4 {
          margin: 0.25rem;
          font-weight: 500;
          font-size: $large;
        }
        .breakdown-list {
          overflow-y: auto;
          display: flex;
          flex-flow: row;
          flex-wrap: wrap;
          justify-content: space-between;
          height: 21rem;

          .breakdown-month {
            width: 50%;
            display: flex;
            flex-flow: row;

            .chip-date {
              width: 22%;
              margin-top: 0.9rem;
            }

            .cost {
              width: 75%;
            }
          }
        }

        .breakdown-list::-webkit-scrollbar {
          background-color: $color-primary-light;
          width: 0.5rem;
        }


        .breakdown-list::-webkit-scrollbar:hover {
          background-color: $color-primary-light;
          width: 0.75rem;
        }

        .breakdown-list::-webkit-scrollbar-thumb{
          background-color: #8c8c8c;
          border-radius: 15px;
        }
      }
    }
  }
}
