<div class="tools">
    <button mat-fab
            class="tools__button tools__button-chat"
            color="primary"
            aria-label="Open chat icon button"
            (click)="setChatVisibility(true)">
        <mat-icon>insert_comment</mat-icon>
    </button>
    <button mat-fab
            class="tools__button tools__button-storage"
            color="primary"
            aria-label="Open storage icon button"
            (click)="setStorageVisibility(true)">
        <mat-icon>folder</mat-icon>
    </button>
</div>
<div *ngIf="!loading && storageHidden" class="container">
    <div class="left">
        <form [formGroup]="leftForm">
            <mat-card class="employee-profile">
                <div class="employee-profile-header">
                    <mat-icon *ngIf="!editProfile" (click)="goToCandidate()" matTooltip="Go to candidate">
                        person_search
                    </mat-icon>
                    <mat-icon *ngIf="!editProfile" (click)="goToRequest()" matTooltip="Go to request">person_adds
                    </mat-icon>
                    <mat-icon *ngIf="!editProfile" (click)="editProfile = !editProfile" matTooltip="Edit">create
                    </mat-icon>
                    <mat-icon *ngIf="editProfile" (click)="saveProfile()">save</mat-icon>
                    <mat-icon *ngIf="editProfile" (click)="editProfile = !editProfile">close</mat-icon>
                </div>

                <div class="employee-profile-body">
                    <img class="round" src="{{currentEmployee.imageLink || '../../../assets/icons/user-2-1.svg'}}"
                         alt="employee"/>
                    <div class="info">
                        <p class="profile-name">{{ currentEmployee.name }} {{ currentEmployee.surname }}</p>
                        <p class="profile-email">{{ currentEmployee.businessEmail }}</p>
                        <p *ngIf="!editProfile" class="profile-occupation"><span>Occupation:</span>{{ categoryName }}
                        </p>
                        <app-autocomplete *ngIf="editProfile"
                                          class="profile-field"
                                          [placeholder]="'Occupation'"
                                          [matLabel]="'Occupation'"
                                          [options]="categories"
                                          [appearance]="'standard'"
                                          [defaultValue]="currentEmployee.category?.name || ''"
                                          (selectedValue)="profileAutocompleteSelected('category', $event)"
                        >
                        </app-autocomplete>
                        <div class="{{editProfile ? 'editing-profile' : 'cars'}}">
                            <div class="cars-container">
                                <p *ngIf="!editProfile">{{ carName }}</p>
                                <app-autocomplete *ngIf="editProfile"
                                                  class="profile-field"
                                                  [placeholder]="'Car'"
                                                  [matLabel]="'Car'"
                                                  [options]="cars"
                                                  [appearance]="'standard'"
                                                  [defaultValue]="carName"
                                                  (selectedValue)="profileAutocompleteSelected('car', $event)"
                                >
                                </app-autocomplete>
                            </div>
                            <mat-divider id="cars-divider" [vertical]="true"></mat-divider>
                            <div class="cars-container">
                                <p *ngIf="!editProfile">{{ subcarName }}</p>
                                <app-autocomplete *ngIf="editProfile"
                                                  class="profile-field"
                                                  [placeholder]="'Subcar'"
                                                  [matLabel]="'Subcar'"
                                                  [options]="subcars"
                                                  [appearance]="'standard'"
                                                  [defaultValue]="subcarName"
                                                  (selectedValue)="profileAutocompleteSelected('subcar', $event)"
                                >
                                </app-autocomplete>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card>

            <mat-card class="superior" *ngIf="coach || editCoach; else noCoach">
                <div class="superior-header">
                    <h4>COACH</h4>
                    <mat-icon *ngIf="!editCoach" (click)="editCoach = !editCoach">create</mat-icon>
                    <mat-icon *ngIf="editCoach" (click)="saveCoach()">save</mat-icon>
                    <mat-icon *ngIf="editCoach" (click)="editCoach = !editCoach">close</mat-icon>
                </div>

                <div class="superior-body" *ngIf="!editCoach">
                    <img src="{{coach.imageLink || '../../../assets/icons/user-2-1.svg'}}" alt="superior-img"/>
                    <div class="superior-info">
                        <p class="superior-name">{{ coach.name }} {{ coach.surname }}</p>
                        <p class="superior-email">{{ coach.businessEmail }}</p>
                        <p class="superior-occupation"><span>Occupation:</span> {{ coach.categoryName }}</p>
                    </div>
                </div>

                <app-autoselect *ngIf="editCoach"
                                class="filter"
                                [config]="this.coachAutoSelect"
                                (search)="searchSuperior('coach', $event)"
                                (selectedValue)="selectedItem({searchValue: 'coach', value: $event, type: 'autoselect'})"
                                (cleared)="clearSuperior('coach')">
                </app-autoselect>
            </mat-card>

            <ng-template #noCoach>
                <mat-card class="superior">
                    <div class="no-superior-content">
                        <p>This employee doesn't have a coach, should it have?</p>
                        <mat-icon (click)="editCoach = !editCoach">create</mat-icon>
                    </div>
                </mat-card>
            </ng-template>

            <mat-card class="superior" *ngIf="mentor || editMentor; else noMentor">
                <div class="superior-header">
                    <h4>MENTOR</h4>
                    <mat-icon *ngIf="!editMentor" (click)="editMentor = !editMentor">create</mat-icon>
                    <mat-icon *ngIf="editMentor" (click)="saveMentor()">save</mat-icon>
                    <mat-icon *ngIf="editMentor" (click)="editMentor = !editMentor">close</mat-icon>
                </div>

                <div class="superior-body" *ngIf="!editMentor">
                    <img src="{{mentor.imageLink || '../../../assets/icons/user-2-1.svg'}}" alt="superior-img"/>
                    <div class="superior-info">
                        <p class="superior-name">{{ mentor.name }} {{ mentor.surname }}</p>
                        <p class="superior-email">{{ mentor.businessEmail }}</p>
                        <p class="superior-occupation"><span>Occupation:</span> {{ mentor.categoryName }}</p>
                    </div>
                </div>

                <app-autoselect *ngIf="editMentor"
                                class="filter"
                                [config]="this.mentorAutoSelect"
                                (search)="searchSuperior('mentor', $event)"
                                (selectedValue)="selectedItem({searchValue: 'mentor', value: $event, type: 'autoselect'})"
                                (cleared)="clearSuperior('mentor')">
                </app-autoselect>
            </mat-card>

            <ng-template #noMentor>
                <mat-card class="superior">
                    <div class="no-superior-content">
                        <p>This employee doesn't have a mentor, should it have?</p>
                        <mat-icon (click)="editMentor = !editMentor">create</mat-icon>
                    </div>
                </mat-card>
            </ng-template>

            <mat-card class="superior" *ngIf="manager || editManager; else noManager">
                <div class="superior-header">
                    <h4>MANAGER</h4>
                    <mat-icon *ngIf="!editManager" (click)="editManager = !editManager">create</mat-icon>
                    <mat-icon *ngIf="editManager" (click)="saveManager()">save</mat-icon>
                    <mat-icon *ngIf="editManager" (click)="editManager = !editManager">close</mat-icon>
                </div>

                <div class="superior-body" *ngIf="!editManager">
                    <img src="{{manager.imageLink || '../../../assets/icons/user-2-1.svg'}}" alt="superior-img"/>
                    <div class="superior-info">
                        <p class="superior-name">{{ manager.name }} {{ manager.surname }}</p>
                        <p class="superior-email">{{ manager.businessEmail }}</p>
                        <p class="superior-occupation"><span>Occupation:</span> {{ manager.categoryName }}</p>
                    </div>
                </div>

                <app-autoselect *ngIf="editManager"
                                class="filter"
                                [config]="this.managerAutoSelect"
                                (search)="searchSuperior('manager', $event)"
                                (selectedValue)="selectedItem({searchValue: 'manager', value: $event, type: 'autoselect'})"
                                (cleared)="clearSuperior('manager')">
                </app-autoselect>
            </mat-card>

            <ng-template #noManager>
                <mat-card class="superior">
                    <div class="no-superior-content">
                        <p>This employee doesn't have a manager, should it have?</p>
                        <mat-icon (click)="editManager = !editManager">create</mat-icon>
                    </div>
                </mat-card>
            </ng-template>
        </form>
    </div>

    <div class="right">
        <mat-card class="employee-aux" *ngIf="empAux; else noAux">
            <form [formGroup]="empAuxForm" class="employee-aux-form">
                <mat-form-field appearance="standard" class="employee-aux-field">
                    <mat-label>Dni:</mat-label>
                    <input aria-label="employee-aux-field" matInput placeholder="Dni" formControlName="dniEmployee"/>
                </mat-form-field>

                <mat-form-field appearance="standard" class="employee-aux-field">
                    <mat-label>Date first productive car:</mat-label>
                    <input aria-label="employee-aux-field"
                           matInput
                           placeholder="Date first productive car"
                           formControlName="dateFirstProductiveCar"
                           [matDatepicker]="dateFirstProductiveCar"
                    />
                    <mat-datepicker-toggle matSuffix [for]="dateFirstProductiveCar"></mat-datepicker-toggle>
                    <mat-datepicker #dateFirstProductiveCar></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="standard" class="employee-aux-field">
                    <mat-label>Date first car:</mat-label>
                    <input aria-label="employee-aux-field"
                           matInput
                           placeholder="Date first car"
                           formControlName="firstCarDate"
                           [matDatepicker]="dateFirstCar"
                    />
                    <mat-datepicker-toggle matSuffix [for]="dateFirstCar"></mat-datepicker-toggle>
                    <mat-datepicker #dateFirstCar></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="standard" class="employee-aux-field">
                    <mat-label>Technology Investment:</mat-label>
                    <input aria-label="employee-aux-field" matInput placeholder="Technology Investment"
                           formControlName="technologyInvestment"/>
                </mat-form-field>

                <mat-form-field appearance="standard" class="employee-aux-field">
                    <mat-label>Type of incorporation:</mat-label>
                    <input aria-label="employee-aux-field" matInput placeholder="Type of incorporation"
                           formControlName="incorporationType"/>
                </mat-form-field>

                <app-autocomplete
                        class="employee-aux-field"
                        [placeholder]="'Productive car'"
                        [matLabel]="'Productive car'"
                        [options]="cars"
                        [appearance]="'standard'"
                        [defaultValue]="productiveCarName"
                        (selectedValue)="auxAutocompleteSelected('idProductiveCar', $event)"
                >
                </app-autocomplete>

                <app-autocomplete
                        class="employee-aux-field"
                        [placeholder]="'First Car'"
                        [matLabel]="'First Car'"
                        [options]="cars"
                        [appearance]="'standard'"
                        [defaultValue]="firstCarName"
                        (selectedValue)="auxAutocompleteSelected('idFirstCar', $event)"
                >
                </app-autocomplete>
            </form>
            <div class="actions">
                <button mat-raised-button class="save-button" (click)="saveEmpAux()">Save</button>
            </div>
        </mat-card>

        <ng-template #noAux>
            <mat-card class="employee-aux">
                <div class="no-employee-aux">
                    <p>This information is not available yet, we will generate it for you.</p>
                    <mat-icon>query_builder</mat-icon>
                </div>
            </mat-card>
        </ng-template>

        <mat-tab-group class="employee">
            <mat-tab label="Personal">
                <mat-card class="employee-card">
                    <form [formGroup]="personalForm" class="employee-personal-form">
                        <mat-form-field appearance="standard" class="personal-field">
                            <mat-label>Phone number:</mat-label>
                            <input aria-label="personal-field" matInput placeholder="Phone"
                                   formControlName="personalPhoneNumber"/>
                        </mat-form-field>

                        <mat-form-field appearance="standard" class="personal-field">
                            <mat-label>Land Line (Tlfno fijo):</mat-label>
                            <input aria-label="personal-field" matInput placeholder="Land Line"
                                   formControlName="personalPhoneNumberFijo"/>
                        </mat-form-field>

                        <mat-form-field appearance="standard" class="personal-field">
                            <mat-label>Personal email:</mat-label>
                            <input aria-label="personal-field" matInput placeholder="Personal email"
                                   formControlName="personalEmail"/>
                        </mat-form-field>

                        <mat-form-field appearance="standard" class="personal-field">
                            <mat-label>Social Security Number:</mat-label>
                            <input aria-label="personal-field" matInput placeholder="SSN"
                                   formControlName="socialSecurityNumber"
                                   readonly/>
                        </mat-form-field>

                        <app-autocomplete
                                class="personal-field"
                                [placeholder]="'English level'"
                                [matLabel]="'English level'"
                                [options]="englishLevels"
                                [appearance]="'standard'"
                                [defaultValue]="englishLevel"
                                (selectedValue)="personalAutocompleteSelected('englishLevel', $event)"
                        >
                        </app-autocomplete>

                        <div class="address">
                            <mat-form-field appearance="standard" class="address-field">
                                <mat-label>Address</mat-label>
                                <input aria-label="Address" matInput formControlName="addressHab" required/>
                                <mat-error>Enter an address</mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="standard" class="address-field">
                                <mat-label>City</mat-label>
                                <input aria-label="cityHab" matInput formControlName="cityHab" required/>
                                <mat-error>Enter a City</mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="standard" class="address-field">
                                <mat-label>Country</mat-label>
                                <input aria-label="countryHab" matInput formControlName="countryHab" required/>
                                <mat-error>Enter a country</mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="standard" class="address-field">
                                <mat-label>Province</mat-label>
                                <input aria-label="province" matInput formControlName="provinceHab" required/>
                                <mat-error>Enter a province</mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="standard" class="address-field">
                                <mat-label>Postal code</mat-label>
                                <input aria-label="Postal code" matInput formControlName="postalCodeHab" required/>
                                <mat-error>Enter a postal code</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="address">
                            <mat-form-field appearance="standard" class="address-field">
                                <mat-label>Delivery Address</mat-label>
                                <input aria-label="deliveryAddress" matInput formControlName="addressDel" required/>
                                <mat-error>Enter a Delivery Address</mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="standard" class="address-field">
                                <mat-label>Delivery city</mat-label>
                                <input aria-label="cityDel" matInput formControlName="cityDel" required/>
                                <mat-error>Enter a delivery city</mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="standard" class="address-field">
                                <mat-label>Delivery country</mat-label>
                                <input aria-label="countryDel" matInput formControlName="countryDel" required/>
                                <mat-error>Enter a delivery country</mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="standard" class="address-field">
                                <mat-label>Delivery province</mat-label>
                                <input aria-label="provinceDel" matInput formControlName="provinceDel" required/>
                                <mat-error>Enter a delivery province</mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="standard" class="address-field">
                                <mat-label>Delivery postal code</mat-label>
                                <input aria-label="Postal code" matInput formControlName="postalCodeDel" required/>
                                <mat-error>Enter a delivery postal code</mat-error>
                            </mat-form-field>
                        </div>
                    </form>
                    <div class="actions">
                        <button mat-raised-button class="save-button" (click)="savePersonal()">Save</button>
                    </div>
                </mat-card>
            </mat-tab>

            <mat-tab label="Business">
                <mat-card class="employee-card">
                    <form [formGroup]="businessForm" class="employee-business-form">
                        <div class="business-data">
                            <h4>BUSINESS DATA</h4>
                            <mat-form-field appearance="standard" class="business-field">
                                <mat-label>Business phone number:</mat-label>
                                <input aria-label="business-field" matInput placeholder="Phone"
                                       formControlName="businessPhoneNumber"/>
                            </mat-form-field>

                            <mat-form-field appearance="standard" class="business-field">
                                <mat-label>Company:</mat-label>
                                <input aria-label="business-field" matInput placeholder="Company"
                                       formControlName="company"
                                       readonly/>
                            </mat-form-field>

                            <mat-form-field appearance="standard" class="business-field">
                                <mat-label>Type of contract:</mat-label>
                                <input aria-label="business-field" matInput placeholder="Contract type"
                                       formControlName="contractType" readonly/>
                            </mat-form-field>

                            <mat-form-field appearance="standard" class="business-field">
                                <mat-label>Working date:</mat-label>
                                <input aria-label="business-field" matInput placeholder="Working date"
                                       formControlName="workingDate"/>
                            </mat-form-field>

                            <mat-form-field appearance="standard" class="business-field">
                                <mat-label>Fixed remuneration:</mat-label>
                                <input aria-label="business-field" matInput placeholder="Remuneration"
                                       formControlName="fixedRemuneration" readonly/>
                            </mat-form-field>

                            <mat-form-field appearance="standard" class="business-field">
                                <mat-label>Variable remuneration:</mat-label>
                                <input aria-label="business-field" matInput placeholder="Variable remuneration"
                                       formControlName="variableRemuneration"
                                       readonly/>
                            </mat-form-field>

                            <app-autocomplete
                                    class="business-field"
                                    [placeholder]="'Center'"
                                    [matLabel]="'Center'"
                                    [options]="centers"
                                    [appearance]="'standard'"
                                    [defaultValue]="centerName"
                                    (selectedValue)="businessAutocompleteSelected('center', $event)"
                            >
                            </app-autocomplete>
                        </div>

                        <div class="observations-date-container">
                            <div class="observations-container">
                                <h4>OBSERVATIONS</h4>
                                <mat-checkbox formControlName="contratable">
                                    Available to hire
                                </mat-checkbox>

                                <mat-form-field appearance="standard">
                                    <mat-label>Study year</mat-label>
                                    <mat-select formControlName="studyYear" placeholder="studyYear">
                                        <mat-option *ngFor="let option of years" [value]="option">
                                            {{ option }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="date-container">
                                <h4>DATES</h4>
                                <mat-form-field appearance="standard">
                                    <mat-label>Start date:</mat-label>
                                    <input aria-label="business-field" matInput placeholder="Start date"
                                           formControlName="startDate"
                                           [matDatepicker]="StartDatepicker"/>
                                    <mat-datepicker-toggle matSuffix [for]="StartDatepicker"></mat-datepicker-toggle>
                                    <mat-datepicker #StartDatepicker></mat-datepicker>
                                </mat-form-field>

                                <mat-form-field appearance="standard">
                                    <mat-label>End date:</mat-label>
                                    <input aria-label="business-field" matInput placeholder="End date"
                                           formControlName="endDate"
                                           [matDatepicker]="EndDatepicker"/>
                                    <mat-datepicker-toggle matSuffix [for]="EndDatepicker"></mat-datepicker-toggle>
                                    <mat-datepicker #EndDatepicker></mat-datepicker>
                                </mat-form-field>

                                <mat-form-field appearance="standard">
                                    <mat-label>Prevision end date:</mat-label>
                                    <input aria-label="business-field"
                                           matInput
                                           placeholder="Prevision end date"
                                           formControlName="previsionEndDate"
                                           [matDatepicker]="previsionEndDate"
                                    />
                                    <mat-datepicker-toggle matSuffix [for]="previsionEndDate"></mat-datepicker-toggle>
                                    <mat-datepicker #previsionEndDate></mat-datepicker>
                                </mat-form-field>

                                <mat-form-field appearance="standard">
                                    <mat-label>Internship end date:</mat-label>
                                    <input aria-label="business-field" matInput placeholder="Internship end date"
                                           formControlName="testEndDate"
                                           [matDatepicker]="testEndDate"/>
                                    <mat-datepicker-toggle matSuffix [for]="testEndDate"></mat-datepicker-toggle>
                                    <mat-datepicker #testEndDate></mat-datepicker>
                                </mat-form-field>
                            </div>

                            <div class="mobility-container">
                                <h4>MOBILITY</h4>
                                <mat-checkbox formControlName="geographicAvailability" class="business-checkbox">
                                    Geographical availability
                                </mat-checkbox>

                                <mat-form-field appearance="standard">
                                    <mat-label>City of preference:</mat-label>
                                    <input aria-label="business-field" matInput placeholder="City of preference"
                                           formControlName="cityOfPreference"/>
                                </mat-form-field>

                                <mat-checkbox formControlName="hosting" class="business-checkbox">
                                    Hosting
                                </mat-checkbox>

                                <mat-form-field appearance="standard">
                                    <mat-label>Hosting city:</mat-label>
                                    <input aria-label="business-field" matInput placeholder="Hosting city"
                                           formControlName="hostingCity"/>
                                </mat-form-field>
                            </div>
                        </div>
                    </form>
                    <div class="actions">
                        <button mat-raised-button class="save-button" (click)="saveBusiness()">Save</button>
                    </div>
                </mat-card>
            </mat-tab>


            <mat-tab label="Billing">
                <mat-card class="employee-card">
                    <form [formGroup]="billingForm" class="billing-form">
                        <mat-form-field appearance="standard" class="billing-field">
                            <mat-label>Starting month</mat-label>
                            <input aria-label="billing-field" matInput [matDatepicker]="picker"
                                   formControlName="startingMonth"/>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field appearance="standard" class="billing-field">
                            <mat-label>Total cost:</mat-label>
                            <input aria-label="billing-field" matInput placeholder="Total cost"
                                   formControlName="studiesTotalCost"/>
                            <mat-icon matSuffix>euro</mat-icon>
                        </mat-form-field>
                        <mat-form-field appearance="standard" class="billing-field">
                            <mat-label>Number of months:</mat-label>
                            <input aria-label="billing-field"
                                   matInput
                                   placeholder="Number of months"
                                   formControlName="internshipMonths"
                            />
                        </mat-form-field>
                        <mat-form-field appearance="standard" class="billing-field">
                            <mat-label>Number of expandable months:</mat-label>
                            <input aria-label="billing-field"
                                   matInput
                                   placeholder="Number of expandable months"
                                   formControlName="expandableMonths"
                            />
                        </mat-form-field>
                    </form>

                    <div class="breakdown">
                        <h4>BREAKDOWN</h4>
                        <div class="breakdown-list">
                            <div class="breakdown-month" *ngFor="let cp of costsPerMonth">
                                <mat-chip-list class="chip-date">
                                    <mat-chip>{{ cp.fecha | date: 'MMMM, yyyy' }}</mat-chip>
                                </mat-chip-list>
                                <mat-form-field class="cost" appearance="standard">
                                    <mat-label>Total cost:</mat-label>
                                    <input aria-label="cost-per-month-label" matInput placeholder="Total cost"
                                           [(ngModel)]="cp.coste"/>
                                    <mat-icon matSuffix>euro</mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div class="actions">
                        <button mat-raised-button class="save-button" (click)="saveBilling()">Save</button>
                    </div>
                </mat-card>
            </mat-tab>

            <mat-tab label="Tech profile">
                <mat-card>
                    <form [formGroup]="techForm">
                        <div class="tech-profile-container">
                            <h4>TECHNOLOGICAL PROFILE</h4>
                            <app-autocomplete
                                    class="business-field"
                                    [placeholder]="'Primary technology'"
                                    [matLabel]="'Primary technology'"
                                    [options]="technologies"
                                    [appearance]="'standard'"
                                    [defaultValue]="primaryTechName"
                                    (selectedValue)="businessAutocompleteSelected('primaryTechnology', $event)"
                            >
                            </app-autocomplete>

                            <app-autocomplete
                                    class="business-field"
                                    [placeholder]="'Secondary technology'"
                                    [matLabel]="'Secondary technology'"
                                    [options]="technologies"
                                    [appearance]="'standard'"
                                    [defaultValue]="secondaryTechName"
                                    (selectedValue)="businessAutocompleteSelected('secondaryTechnology', $event)"
                            >
                            </app-autocomplete>

                            <mat-form-field appearance="standard" class="business-field">
                                <mat-label>Profile type:</mat-label>
                                <input aria-label="business-field" matInput placeholder="Profile type"
                                       formControlName="profileType"/>
                            </mat-form-field>

                            <mat-form-field appearance="standard" class="business-field">
                                <mat-label>Recommended itinerary:</mat-label>
                                <input aria-label="business-field" matInput placeholder="Recommended itinerary"
                                       formControlName="recommendedItinerary"/>
                            </mat-form-field>
                        </div>
                    </form>
                    <div class="actions">
                        <button mat-raised-button class="save-button" (click)="saveTechs()">Save</button>
                    </div>
                </mat-card>
            </mat-tab>

            <mat-tab label="Coach of">
                <app-employee-chick-table [chicks]="coachOf">
                </app-employee-chick-table>
            </mat-tab>

            <mat-tab label="Mentor of">
                <app-employee-chick-table [chicks]="mentorOf">
                </app-employee-chick-table>
            </mat-tab>

            <mat-tab label="Manager of">
                <app-employee-chick-table [chicks]="managerOf">
                </app-employee-chick-table>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>

<app-chat [visible]="!chatHidden"
          (closed)="setChatVisibility(false)"
          [id]="idChat">
</app-chat>

<app-storage *ngIf="!storageHidden"
             [readonly]="false"
             (closed)="setStorageVisibility(false)"
             [id]="idStorage"
></app-storage>
