<div class="slider-contact-container">
        <app-account-item
                [account]="contactSliderData.contact.account"
                [carDictionary]="contactSliderData.cars"
                [subCarDictionary]="contactSliderData.subCars"
                [categoryDictionary]="contactSliderData.categories">
        </app-account-item>
        <app-activity-slider-list
                [activitySliderListData]="activitySliderListData"
                (newActivity)="addActivity($event)"
                (modActivity)="editActivity($event)">
        </app-activity-slider-list>
        <app-opportunity-slider-list
                [opportunitySliderListData]="opportunitySliderListData"
                (newOpportunity)="addOpportunity($event)"
                (modOpportunity)="editOpportunity($event)">
        </app-opportunity-slider-list>
        <app-notes-slider-list
                [noteSliderListData]="noteSliderListData"
        ></app-notes-slider-list>
</div>
