<div class="container" [ngClass]="{'clickable': editable}">
    <div class="photo">
        <img *ngIf="photo" [src]="photo" alt="noPath"/>
        <mat-icon *ngIf="!photo"
                [ngStyle]="{'fontSize': defaultMatIconSize + 'px'}">
            {{ defaultMatIcon }}
        </mat-icon>
    </div>
    <div *ngIf="editable" class="uploadButton" [ngClass]="{'uploadButtonIcon': !photo}" (click)="openUploadPhotoDialog()">
        <mat-icon>add_a_photo</mat-icon>
    </div>
</div>