:host {
    display: block;
    width: 100%;
    height: 100%;
}

.clickable {
    cursor: pointer;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
	overflow: hidden;

    img {
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
    }

    .photo, .uploadButton {
        position: absolute;
        border-radius: 50%;
        top: 0; 
        left: 0;
		width: 100%;
		height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        mat-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 60px;
        }
    }

    .uploadButton {
        background: grey;
        opacity: 0;
        transition: all .3s ease;

        mat-icon {
            font-size: 70px;
        }
    }
    .uploadButton:hover {
        opacity: 0.8;
    }
    
    .uploadButtonIcon:hover {
        opacity: 0.95;
    }
}
