<mat-dialog-content class="dialog form">
    <div class="black-dialog">
        <img src="../../../../assets/CRM/icons/dialogs/exam.png" alt="exam-image">
    </div>

    <form [formGroup]="form" class="dialog-content dialog-content-form">
        <h2>New Exam</h2>
        <div class="container">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" required>
            </mat-form-field>

            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="description" rows="4" required></textarea>
            </mat-form-field>

            <div class="selectors">
                <section style="padding-right: 1rem;">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Select test</mat-label>
                        <mat-select formControlName="test" placeholder="Select Test" required (selectionChange)="selectedTest($event)">
                            <mat-option *ngFor="let test of tests" [value]="test">{{ test.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </section>   
                <section style="padding-left: 1rem;">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Select correction of test</mat-label>
                        <mat-select formControlName="correction" name="correction" required>
                            <mat-option *ngFor="let correction of corrections" [value]="correction">{{ correction.name }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </section>
            </div>
        </div>
        <div class="buttons">
            <button mat-button type="submit" class="submit-button" (click)="onSaveClick()">Create exam</button>
        </div>
    </form>
</mat-dialog-content>
