.error-container {
  padding: 180px 15px;
  text-align: center;
}
.error-actions {
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 20px;
}
.error-actions .btn {
  background-color: black;
  color: white;
  font-size: 20px;
}
.error-404 {
  font-size: 110px;
  color: #e46e75;
  margin: -50px 0px 0px 100px;
}
.error-details {
  font-size: 20px;
}
.error {
  margin-right: 100px;
  font-size: 50px;
  color: #e46e75;
}
h1 {
  font-size: 50px;
  margin: 0px 0px 0px 65px;
}
