<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-container">
                <h1>Oops!</h1>
                <p class="error">ERROR</p>
                <p class="error-404">404</p>
                <div class="error-details">
                    <p>Sorry, an error has occured, Requested page not found!</p>
                </div>
                <div class="error-actions">
                    <a href="" class=" btn btn-lg"><span class="glyphicon glyphicon-home"></span>
                        Take Me Home </a>
                </div>
            </div>
        </div>
    </div>
</div>
