
@import "../../../../../../assets/styles/staffit-style-1";
@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  box-sizing: border-box;
}

h3 {
  margin: 10px;
  font-size: $large;
  white-space: break-spaces;
  min-height: 3.125rem;
}

h6 {
  margin: 5px 0;
  text-transform: uppercase;
  min-height: 1.688rem;
}

p {
  font-size: 14px;
  line-height: 21px;
}

.card-container {
  border-radius: 7px;
  box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.75);
  color: $color-primary-dark;
  padding-top: 30px;
  position: relative;
  width: 15.25rem;
  max-width: 100%;
  text-align: center;
  margin: 0.5rem;
  height: 96%;
}

.card-container .round {
  border-radius: 50%;
  object-fit: cover;
  height: 4.5rem;
  width: 4.5rem;
}

.skills {
  //background-color: $color-scrollbar-thumb;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  text-align: left;
  padding: 0 1rem 1rem 1rem ;
  margin-top: 0;
  
}

.skills ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

.skills ul li {
  //border: 2px solid #c2c2c2;
  border-radius: 3rem;
  display: inline-block;
  font-size: 10px;
  margin: 0 1.5px 0 0;
  padding: 0.3rem 1rem;
  background-color: #ffb91a;
  color: white;
}

hr{
    width: 90%;
    background-color: #c9c7c7;
    border-width: 0;
    height: 0.1rem;
}