<div class="card-container">
    <img class="round" src="{{employee.imageLink || '../../../../assets/icons/user-2-1.svg'}}" alt="user"/>
    <h3 class="surname">{{employee.name}} {{employee.surname}}</h3>
    <div *ngIf="employee.linkedin">
        <img src="../../../../assets/icons/linkedin.svg" width="17px" alt="linkedin icon"/>
        <p >{{employee.linkedin}}</p>
    </div>
    <h6>Office: {{employee.center?.location || 'Office unknown'}}</h6>
    <p>{{employee.businessEmail}}<br/> <b>Ocupation:</b> {{employee.categoryName}}</p>
    <hr>
    <div class="skills">
        <h6>Techs</h6>
        <ul>
            <li>{{employee.technologies[0]?.name || 'No techs'}}</li>
            <li *ngIf="employee.technologies[1]" >{{employee.technologies[1].name}}</li>
        </ul>
    </div>
</div>      