<mat-dialog-content class="dialog form">
    <div class="black-dialog">
        <img src="../../../../../assets/CRM/icons/dialogs/user-target-2.png" alt="">
    </div>
    <form [formGroup]="form" class="dialog-content dialog-content-form">
        <h2>NEW CONTACT</h2>
        <div class="columns">
            <section>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input aria-label="email" matInput placeholder="email" formControlName="email" required>
                    <mat-error>Enter an email</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input aria-label="name" matInput placeholder="Name" formControlName="name" required>
                    <mat-error>Enter a name</mat-error>
                </mat-form-field>

                <app-autocomplete [placeholder]="'Car'"
                                  [matLabel]="'Car'"
                                  [options]="carOptions"
                                  [appearance]="'outline'"
                                  [defaultValue]="defaultCar"
                                  (selectedValue)="autocompleteSelected({formField: 'car', value: $event})"></app-autocomplete>

                <app-autocomplete [placeholder]="'Territory'"
                                  [matLabel]="'Territory'"
                                  [options]="territoryOptions"
                                  [appearance]="'outline'"
                                  [defaultValue]="defaultTerritory"
                                  (selectedValue)="autocompleteSelected({formField: 'territory', value: $event})"></app-autocomplete>

                <mat-form-field appearance="outline">
                    <mat-label>Charge</mat-label>
                    <input aria-label="charge" matInput placeholder="charge" formControlName="charge">
                    <mat-error>Enter a charge</mat-error>
                </mat-form-field>

                <app-autocomplete [placeholder]="'Relationship Level'"
                                  [matLabel]="'Relationship Level'"
                                  [options]="relationshipOptions"
                                  [appearance]="'outline'"
                                  [defaultValue]="''"
                                  (selectedValue)="autocompleteSelected({formField: 'relationship', value: $event})"></app-autocomplete>

            </section>

            <section>
                <mat-form-field appearance="outline">
                    <mat-label>Assigned User</mat-label>
                    <input class="readOnlyInput" aria-label="user" matInput placeholder="User" formControlName="user" readonly>
                    <mat-error>Enter a user</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Surname</mat-label>
                    <input aria-label="surname" matInput placeholder="Surname" formControlName="surname">
                    <mat-error>Enter a surname</mat-error>
                </mat-form-field>

                <app-autocomplete [placeholder]="'SubCar'"
                                  [matLabel]="'SubCar'"
                                  [options]="subCarOptions"
                                  [appearance]="'outline'"
                                  [defaultValue]="defaultSubCar"
                                  (selectedValue)="autocompleteSelected({formField: 'subCar', value: $event})"></app-autocomplete>


                <mat-form-field appearance="outline">
                    <mat-label>Area</mat-label>
                    <input aria-label="area" matInput placeholder="area" formControlName="area">
                    <mat-error>Enter an area</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Phone</mat-label>
                    <input aria-label="phone" matInput placeholder="phone" formControlName="phone">
                    <mat-error>Enter a phone</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Associated Account</mat-label>
                    <input class="readOnlyInput" aria-label="account" matInput formControlName="account" readonly>
                </mat-form-field>
            </section>
        </div>

        <div class="buttons">
            <button mat-button class="exit-button-form" (click)="onCancelClick()">Exit</button>
            <button mat-button type="submit" class="submit-button" (click)="onSaveClick()">Create</button>
        </div>
    </form>
</mat-dialog-content>
