<div class="test-detail-container">
    <mat-card class="test-detail-component">
        <!-- HEADER -->
        <div class="title-component">
            <h2>{{test.name | uppercase}}</h2>
            <button class="edit-button" mat-icon-button matTooltip="Edit question" (click)="editTest()"><mat-icon>create</mat-icon></button>
        </div>
        <mat-card-content>
            <div class="test-body">

                <div class="test-description">
                    <div class="text-id"><span>ID: </span>{{test.id}}</div>
                    <div class="text-description"><span>Description: </span>{{test.description}}</div>
                </div>

                <div *ngFor="let question of test.questions; let i = index" class="test-questions">
                    <div class="question">
                        <div class="question-statement"><span>{{i+1}}. </span>{{question.name}}</div>
                        <div class="question-step"><span>Step: </span>{{ question.step }}</div>
                        <div class="question-description"><span>Description: </span>
                            <div [innerHTML]="question.description"></div></div>

                        <div class="question-response">

                            <div *ngIf="question.questionType === 'RADIO'" class="radio-question">
                                <mat-radio-group>
                                    <div class="one-answer" *ngFor="let answer of question.answers">
                                        <div class="answer-text">
                                            <mat-radio-button disabled [value]="false">{{answer.value}} {{answer.message}}</mat-radio-button>
                                        </div>
                                    </div>
                                </mat-radio-group>
                            </div>
                            <div *ngIf="question.questionType === 'CHECKBOX'" class="radio-question">
                                <div class="one-answer" *ngFor="let answer of question.answers">
                                    <div class="answer-text">
                                        <mat-checkbox disabled>{{answer.value}} {{answer.message}}</mat-checkbox>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="question.questionType === 'TEXT'">
                                <app-ckeditor [disabled]="true"></app-ckeditor>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="counter-list-container">
        <h3 class="title-counters">CORRECTIONS</h3>
        
        <div class="actions-bar">
            <p class="corrections-number">{{corrections.content.length}} Corrections</p>
            <button class="add-correction-button" mat-icon-button matTooltip="Add correction" (click)="addCorrection()"><mat-icon>control_point</mat-icon></button>
        </div>

        <div class="counter-list">
            <div class="counter-cards" *ngFor="let correction of corrections.content, let i = index">
                <mat-card class="counter-card">
                    <div class="counter-card-content" (click)="editCorrection(correction)">
                        <div class="counter-card-text">
                            <p class="counter-name">{{correction.name}}</p>
                            <p class="counter-description">{{correction.description}}</p>
                        </div>
                        <div class="counter-card-buttons">
                            <button mat-icon-button (click)="deleteCorrection($event, correction)">
                                <mat-icon>delete</mat-icon>
                              </button>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
    </mat-card>
</div>
