mat-card {
  margin: 1rem;
}

.roleInfo{
  width: 30%;
}

.roleCheck{
  width: 70%;
}

.cards{
  display: flex;
  justify-content: center;
  margin: 3em;
}

.container {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}
  
.content {
  margin: 2em;
}

.checkboxChild{
  margin-right: 5em;
}

.mat-icon{
  margin-right: 0.5em;
}
.scopes{
    padding-right: 1em;
    align-items: baseline;
    margin-left: 2em;
    height: 33vw;
    overflow-y: scroll;
}
.allScopes{
  display: flex;
  padding-right: 1em;
  align-items: baseline;
  height: 33vw;
  overflow-y: scroll;
  flex-flow: wrap;
  justify-content: space-around;
  column-gap: 0.5rem;

  .oneScope{
    width: 33%;
  }

  .oneScope:hover{
    background: #ccc;
    color: white;
  }
}

.hr{
  width: 100%;
}

.scopes::-webkit-scrollbar, .allScopes::-webkit-scrollbar{
  width: 6px;
  height: 6px;
}

.scopes::-webkit-scrollbar-thumb, .allScopes::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

.categorias {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.categorias:hover{
  background: #ccc;
  color: white;
}

.subCategorias {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.subCategorias:hover{
  background: #ccc;
  color: white;
}

.iconos{
  display: flex;
  align-items: center;
  width: 40%;
  padding-left: 0.2em;
}

.subIconos{
  display: flex;
  align-items: center;
  width: 40%;
  margin-left: 2em;
  padding-left: 0.2em;
}

.columns{
  justify-content: center;
  height: 65%;
  section{
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
}

.buttons {
  margin-top: 20px;
  text-align: center;

  button {
    margin-bottom: 1rem;
  }
  .apply-button {
    color: #fff;
    background-color: #e46e75;
    border-radius: 24px;
    width: 200px;

    &:hover {
      background-color: #eb4e4e;
      cursor: pointer;
    }
  }
}

.mr {
  margin-right: 2em;
}

:host ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #eb4e4e;
}

:host ::ng-deep .mat-checkbox-layout{
  padding: 0.5em;
}

.selectAll {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.445);
}
