<div class="cards">
<mat-card class="roleInfo">
    <mat-card-content class="container" *ngIf="!loading">
        <div class="content">
            <h2>Role Info</h2>
            <form [formGroup]="form">
                <div class="columns">
                    <section>
                        <mat-form-field appearance="outline">
                            <mat-label>Name</mat-label>
                            <input aria-label="name" matInput placeholder="Name" formControlName="name">
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Value</mat-label>
                            <input aria-label="value" matInput placeholder="Value" formControlName="value">
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Description</mat-label>
                            <textarea aria-label="description" matInput placeholder="Description" formControlName="description"></textarea>
                        </mat-form-field>
                    </section>   
                </div>
            </form>
            <div class="buttons">
                <button mat-button class="apply-button" (click)="onSaveClick()">Save</button>
                <button *ngIf="!cantBeChanged" mat-button class="apply-button" (click)="remove()">Delete</button>
            </div>
        </div>


    </mat-card-content>

</mat-card>
<mat-card class="roleCheck">
    <mat-tab-group>

        <mat-tab label="Basic">
            <div class="scopes" *ngIf="!loading">
                <div *ngFor="let module of modules">
                    <h3>{{module.name}}</h3>
                    <div  *ngFor="let child of module.children">
                        <hr *ngIf="child !== module.children[0]">
                        <div class="categorias">
                            <div class="iconos">
                                <mat-icon mat-list-icon>{{child.icon}}</mat-icon>
                                <span>{{child.name}}</span>
                            </div>
                            <mat-checkbox [checked]="allAreChecked(child.scopeCreate)"
                                          [disabled]="child.scopeCreate.length === 0"
                                          (change)="onConceptChange(child.scopeCreate, $event, 'create', child.name)">CREATE
                            </mat-checkbox>
                            <mat-checkbox [checked]="allAreChecked(child.scopeRead)"
                                          [disabled]="child.scopeRead.length === 0"
                                          (change)="onConceptChange(child.scopeRead, $event, 'read', child.name)"
                                          class="checkboxChild">READ
                            </mat-checkbox>
                        </div>

                        <div *ngFor="let subchild of child.children">
                            <div class="subCategorias">
                                <div class="subIconos">
                                    <mat-icon mat-list-icon>{{subchild.icon}}</mat-icon>
                                    <span>{{subchild.name}}</span>
                                </div>
                                <mat-checkbox [checked]="allAreChecked(subchild.scopeCreate)"
                                              [disabled]="subchild.scopeCreate.length === 0"
                                              (change)="onConceptChange(subchild.scopeCreate, $event, 'create', subchild.name)"
                                              class="mr">CREATE
                                </mat-checkbox>
                                <mat-checkbox [checked]="allAreChecked(subchild.scopeRead)"
                                              [disabled]="subchild.scopeRead.length === 0"
                                              (change)="onConceptChange(subchild.scopeRead, $event, 'read', subchild.name)"
                                              class="checkboxChild">READ
                                </mat-checkbox>
                            </div>
                        </div>
                    </div><br>   
                </div>
            </div>
        </mat-tab>

        <mat-tab label="Advanced">
            <div class="allScopes" *ngIf="!loading">
                <div class="selectAll">
                    <mat-checkbox [checked]="allScopes.length === checkedScopes.length" (change)="onSelectAll($event)">Select all</mat-checkbox>
                </div>
                <ng-container *ngFor="let scope of allScopes">
                    <div class="oneScope">
                        <mat-checkbox [checked]="isChecked(scope)"
                                      (change)="onScopeChange(scope, $event)">{{scope.name}}</mat-checkbox>
                    </div>
                </ng-container>
            </div>
        </mat-tab>
    </mat-tab-group>
</mat-card>

</div>
