<mat-form-field class="{{config.class}}" appearance="{{config.appearance}}">
  <mat-label>{{config.label}}</mat-label>
  <input matInput [matDatepicker]="picker" (dateChange)="emit()" [formControl]="myControl">
  <button mat-icon-button (click)="clear()" matTooltip="clear"><mat-icon>clear</mat-icon></button>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker touchUi #picker></mat-datepicker>
</mat-form-field>
