@import '../../../../../assets/styles/staffit-style-1.scss';

.newAccount-button {
    color: #fff;
    background-color: #7467f0;
    border-radius: 24px;
    width: 200px;
}

.title-component{
    display: flex;
    align-items: center;
}

.title-component > span{
    margin: 0;
}

.title-component > h2{
    padding-left: 10px;
}

.buttonHeader {
    margin-left: auto;
}