<div class="edit-account-component">
  <mat-card id="accHeader">
    <div class="left">
      <app-photo-uploader [defaultMatIcon]="'contact_page'"
                          [defaultMatIconSize]=90
                          [photo]="photo"
                          [editable]=true
                          (photoChanged)="photoChanged($event)">
      </app-photo-uploader>
    </div>
    <div id="accHeaderInfo">
      <h2 class="left">
        {{ this.contactEditData.contact.name | titlecase }} {{ this.contactEditData.contact.surname | titlecase }}
      </h2>
      <p class="left">Email: {{ this.contactEditData.contact.email }}</p>
      <p class="left">Phone: {{ this.contactEditData.contact.phone1 }}</p>
    </div>
    <div id="accHeaderButtons">
      <button mat-flat-button class="rowbutton" aria-label="email" matTooltip="email"
              (click)="openEmail(this.contactEditData.contact.email)">
          <span class="material-icons">
            email
          </span>
        <span id="btnCall">Send mail</span>
      </button>
    </div>
  </mat-card>

  <form class="formCampaign" [formGroup]="form" (ngSubmit)="onSubmit()">
    <section class="select" id="accInfo">
      <mat-accordion>
        <mat-expansion-panel [expanded]="true" [togglePosition]="'before'">
          <mat-expansion-panel-header>
            <h2>About this contact</h2>
          </mat-expansion-panel-header>

          <div class="fields">
            <mat-form-field appearance="outline" class="thirdSelect">
              <mat-label>Name:</mat-label>
              <input matInput placeholder="Name" formControlName="name" required />
              <mat-error>Enter a name</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="thirdSelect">
              <mat-label>Surname:</mat-label>
              <input matInput placeholder="Surname" formControlName="surname"/>
              <mat-error>Enter a surname</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="thirdSelect">
              <mat-label>Surname 2:</mat-label>
              <input matInput placeholder="Surname 2" formControlName="surname2" />
            </mat-form-field>
            <br />

            <mat-form-field appearance="outline" class="thirdSelect">
              <mat-label>Phone:</mat-label>
              <input matInput placeholder="Phone" formControlName="phone1"/>
              <mat-error>Enter a phone</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="thirdSelect">
              <mat-label>Phone 2:</mat-label>
              <input matInput placeholder="Phone 2" formControlName="phone2" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="thirdSelect">
              <mat-label>Email:</mat-label>
              <input matInput placeholder="email" formControlName="email"/>
              <mat-error>Enter an email</mat-error>
            </mat-form-field>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </section>

    <section class="select" id="accAddress">
      <mat-accordion>
        <mat-expansion-panel [expanded]="true" [togglePosition]="'before'">
          <mat-expansion-panel-header>
            <h2>Address</h2>
          </mat-expansion-panel-header>

          <div class="fields">
            <mat-form-field appearance="outline" class="thirdSelect">
              <mat-label>Address:</mat-label>
              <input matInput placeholder="Address" formControlName="address" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="thirdSelect">
              <mat-label>Postal code:</mat-label>
              <input matInput placeholder="Postal Code" formControlName="postCode" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="thirdSelect">
              <mat-label>City:</mat-label>
              <input matInput placeholder="City" formControlName="city" />
            </mat-form-field>
            <br />

            <mat-form-field appearance="outline" class="thirdSelect">
              <mat-label>Province:</mat-label>
              <input matInput placeholder="Province" formControlName="province" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="thirdSelect">
              <mat-label>Country:</mat-label>
              <mat-select formControlName="country">
                <mat-option *ngFor="let pais of paises" [value]="pais.value">{{ pais.value }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </section>

    <section class="select" id="accOther">
      <mat-accordion>
        <mat-expansion-panel [expanded]="true" [togglePosition]="'before'">
          <mat-expansion-panel-header>
            <h2>Other info</h2>
          </mat-expansion-panel-header>
          <div class="fields">
            <div class="autocompletes">
              <mat-form-field appearance="outline" class="thirdSelect">
                <mat-label>Account ID:</mat-label>
                <input matInput placeholder="accountId" formControlName="accountId" readonly />
              </mat-form-field>
              <app-autocomplete-required
                class="autocomplete-edit m-auto-left m-auto-right" [width]="width" 
                [placeholder]="'User'"
                [matLabel]="'User'"
                [options]="userOptions"
                [appearance]="'outline'"
                [defaultValue]="userValue"
                (selectedValue)="autocompleteSelected({ formField: 'userId', value: $event })"
              ></app-autocomplete-required>
              <mat-form-field appearance="outline" class="thirdSelect">
                <mat-label>Contact ID:</mat-label>
                <input matInput placeholder="Contact ID" formControlName="id" readonly />
              </mat-form-field>
            </div>

            <mat-form-field appearance="outline" class="thirdSelect">
              <mat-label>Creation date:</mat-label>
              <input matInput [matDatepicker]="created" formControlName="created" />
              <mat-datepicker-toggle matSuffix [for]="created"></mat-datepicker-toggle>
              <mat-datepicker #created></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline" class="thirdSelect">
              <mat-label>Last contact date:</mat-label>
              <input matInput [matDatepicker]="lastContacted" formControlName="lastContacted" />
              <mat-datepicker-toggle matSuffix [for]="lastContacted"></mat-datepicker-toggle>
              <mat-datepicker #lastContacted></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline" class="thirdSelect">
              <mat-label>Position:</mat-label>
              <input matInput placeholder="Position" formControlName="charge"/>
              <mat-error>Enter a position</mat-error>
            </mat-form-field>
            <br />

            <mat-form-field appearance="outline" class="thirdSelect">
              <mat-label>Life Stage:</mat-label>
              <input matInput placeholder="Life Stage" formControlName="lifeCycleState" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="thirdSelect">
              <mat-label>Industry:</mat-label>
              <input matInput placeholder="Industry" formControlName="industry" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="thirdSelect">
              <mat-label>Origin:</mat-label>
              <input matInput placeholder="Source origin" formControlName="source" />
            </mat-form-field>
            <br />
            <div class="autocompletes">
              <mat-form-field appearance="outline" class="thirdSelect">
                <mat-label>LEAD stage:</mat-label>
                <input matInput placeholder="LEAD stage" formControlName="leadState" />
              </mat-form-field>
              <mat-form-field appearance="outline" class="thirdSelect">
                <mat-label>Area</mat-label>
                <input matInput placeholder="Area" formControlName="area"/>
                <mat-error>Enter an area</mat-error>
              </mat-form-field>
              <app-autocomplete
                      class="autocomplete-edit m-auto-left" [width]="width"
                      [placeholder]="'Territory'"
                      [matLabel]="'Territory'"
                      [options]="territoryOptions"
                      [appearance]="'outline'"
                      [defaultValue]="territoryValue"
                      (selectedValue)="autocompleteSelected({ formField: 'territory', value: $event })"
              ></app-autocomplete>
            </div>

            <div class="autocompletes">
              <app-autocomplete
                      class="autocomplete-edit m-auto-right" [width]="width"
                      [placeholder]="'Car'"
                      [matLabel]="'Car'"
                      [options]="carOptions"
                      [appearance]="'outline'"
                      [defaultValue]="carValue"
                      (selectedValue)="autocompleteSelected({ formField: 'car', value: $event })"
              ></app-autocomplete>
              <app-autocomplete
                      class="autocomplete-edit m-auto-right" [width]="width"
                      [placeholder]="'Subcar'"
                      [matLabel]="'Subcar'"
                      [options]="subCarOptions"
                      [appearance]="'outline'"
                      [defaultValue]="subCarValue"
                      (selectedValue)="autocompleteSelected({ formField: 'subCar', value: $event })"
              ></app-autocomplete>
              <mat-form-field appearance="outline" class="thirdSelect">
                <mat-label>Relationship:</mat-label>
                <input
                  type="text"
                  placeholder="Relationship"
                  aria-label="relationship"
                  matInput
                  formControlName="relationship"
                  [matAutocomplete]="autoRelationship"
                />
                <mat-error>Enter a relationship</mat-error>
                <mat-autocomplete
                  #autoRelationship="matAutocomplete"
                  (optionSelected)="filterRelationship($event.option.value)"
                >
                  <mat-option *ngFor="let relationship of filteredRelationshipOptions | async" [value]="relationship">
                    {{ relationship }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </section>

    <div class="apply">
      <button class="btnConfirm" mat-raised-button (click)="applyChanges()">Update</button>
    </div>
  </form>
</div>
