<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
<div class="new-correction-container" *ngIf="!loading">
    <mat-card class="new-correction-component">
        <!-- HEADER -->
        <div class="title-component">
            <h2>{{test.name | uppercase}}</h2>
        </div>
        <mat-card-content>
            <div class="test-body">

                <div class="test-description">
                    <div class="text-id"><span>ID: </span>{{test.id}}</div>
                    <div class="text-description"><span>Description: </span>{{test.description}}</div>
                </div>

                <form [formGroup]="counterForm">
                    <div *ngFor="let question of test.questions; let i = index" class="test-questions">
                        <div class="question">
                            <div class="question-statement"><span>{{i+1}}. </span>{{question.name}}</div>
                            <div class="question-step"><span>Step: </span>{{ question.step }}</div>
                            <div class="question-description"><span>Description: </span>
                                <div [innerHTML]="question.description"></div></div>

                            <div class="question-response">

                                <div *ngIf="question.questionType === 'RADIO' || question.questionType === 'CHECKBOX'" class="radio-question">
                                    <div class="one-answer" *ngFor="let answer of question.answers">
                                        <div class="answer-text" *ngIf="question.questionType === 'RADIO'"><mat-radio-button value="false" disabled>{{answer.value}} {{answer.message}}</mat-radio-button></div>
                                        <div class="answer-text" *ngIf="question.questionType === 'CHECKBOX'"><mat-checkbox disabled>{{answer.value}} {{answer.message}}</mat-checkbox></div>

                                        <div class="counter-inputs">
                                            <span class="material-icons">add</span>
                                            <mat-form-field class="counter-input"
                                            appearance="standard">
                                                <input matInput type="number" aria-label="answer" formControlName="{{answer.id}}">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>

                                <div *ngIf="question.questionType === 'TEXT'">
                                    <app-ckeditor [disabled]="true"></app-ckeditor>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="counter-list-container">
        <h3 class="title-counters">Correction <span class="material-icons">note_add</span></h3>
        
        <div class="correction">
            <p class="correction-name"><strong>Name: </strong> {{correction.name}}</p>
            <p class="correction-description"><strong>Description: </strong> {{correction.description}}</p>
        </div>

        <div class="counter-list-buttons">
            <button mat-flat-button class="button-counter cancel" (click)="onCorrectCancel()">
                Cancel
            </button>
            <button mat-flat-button class="button-counter reset" (click)="onCorrectionReset()">
                Reset
            </button>
            <button mat-flat-button class="button-counter save" (click)="onCorrectionSave()">
                Save
            </button>
        </div>

        <div class="divide-counters"></div>
        <div class="title-counter-container">
            <h3 class="title-counters">Counters <span class="material-icons">timeline</span></h3>
            <button mat-stroked-button class="add-counter-button" (click)="addCounter()">
                Add counter
                <span class="material-icons">add</span>
            </button>
        </div>
    
        <form [formGroup]="counterForm" class="form-counter">
            <mat-form-field>
                <input aria-label="name" placeholder="Counter name" matInput formControlName="name">
                <mat-error>Enter a name</mat-error>
            </mat-form-field>
            <mat-form-field>
                        <textarea aria-label="description" placeholder="Counter description" matInput
                                formControlName="description"></textarea>
            </mat-form-field>
        </form>

        <div class="counter-list">
            <div class="counter-cards" *ngFor="let counter of correction.counters, let i = index" (click)="editCounter(counter, i)">
                <mat-card class="counter-card">
                    <div class="counter-card-content">
                        <div class="counter-card-text">
                            <p class="counter-name">{{counter.name}}</p>
                            <p class="counter-description">{{counter.description}}</p>
                        </div>
                        <div class="counter-card-buttons">
                            <button mat-icon-button *ngIf="i === this.counterIndex" (click)="confirmEditCounter($event, counter)">
                                <mat-icon>done</mat-icon>
                            </button>
                            <button mat-icon-button *ngIf="i === this.counterIndex" (click)="cancelEditCounter($event)">
                                <mat-icon>clear</mat-icon>
                            </button>
                            <button  mat-icon-button *ngIf="i === this.counterIndex" (click)="removeCounter(counter, 'current')">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
    </mat-card>
</div>
