@import '../../../../../assets/styles/staffit-style-1.scss';

.opportunity-detail-content {
    display: flex;
    flex-wrap: nowrap;
}

.flex-detail {
    flex-basis: 70%;
}

.flex-slider {
    flex-basis: 30%
}

@media (max-width: 1750px) {
    .flex-detail {
        flex-basis: 60%;
    }
    
    .flex-slider {
        flex-basis: 40%
    }
}