<mat-card class="card-component" *ngIf="!loading">
    <!-- HEADER -->
    <div class="title-component">
        <h2>OPPORTUNITY DETAIL</h2>
    </div>
    <div class="opportunity-detail-content">
        <app-full-edit-opportunity
                class="flex-detail"
                [data]="opportunityDetailData"
                (modOpportunity)="editOpportunity($event)">
        </app-full-edit-opportunity>
        <app-opportunity-slider
                [opportunitySliderData]="opportunitySliderData"
                (addedActivity)="addActivity($event)"
                (modActivity)="modifyActivity($event)"
                class="flex-slider">
        </app-opportunity-slider>
    </div>
</mat-card>
