@import '../../../../../../assets/styles/staffit-style-1';


.new-test-component{
    margin: 3em 17em 3em 17em;
}

@media (max-width: 1750px) {
    .new-test-component{
        margin: 3em 10em 3em 10em;
    }
}

/*
    --------------
        HEADER
    --------------
*/

.btn{
    border-radius: 24px;
    margin: 1rem 0;
}

.text-answer{
    width: 100%;
}

.form-newTest{
    margin-left: 35px;
    display: flex;

    > form{
        width: 100%;
    }
    .test-name{
        width: 30%;
    }
    .test-description{
        width: 63%;
        margin-left: 4%;
    }
}




/*
    -------------
        PAPER    
    -------------
*/

.folio{
    width: 90%;
    background: white;
    border-radius: 1px;
    padding-top: 30px;

    mat-icon{
        color: #DE7373;
    }

    .question-answer{
        padding: 5px;
        margin-left: 50px;
        position: relative;
    }

    .question-actions{
        position: absolute;
        top: 0px;
        right: -80px;
    }
}

.answer-actions{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    mat-icon{
        font-size: 17px;
    }
}

.answer-message{
    width: 95%;
}

/*
    -----------------
        QUESTIONS
    -----------------
*/

.form-question{
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    
    .form-statement, .form-description{
        width: 56%;
    }
    .form-statement-noType{
        width: 76%;
    }
    .form-step, .form-type{
        margin-left: auto;
        margin-top: 15px;
    }
}

.question{
    margin-bottom: 10px;
    position: relative;
    .question-statement{
        > span{
            font-size: 17px;
            font-weight: 600;
        }
    }
    .questions-margin{
        margin-left: 20px;
        span{
            font-weight: 500;
        }
    }
    .question-step, .question-description, .question-statement{
        padding: 5px;
    }
}

.add-question{
    margin: 10px 0px;
}

.answer-card{
    padding: 0;
}

.question-text{
    margin: 2rem 0 1rem;
    font-size: large;
    font-weight: 500;
}

.edit-answer{
    display: flex;
    .answer-value-form{
        width: 25%;
    }
    .answer-statement-form{
        width: 100%;
        :first-child{
            width: 90%;
        }
    }
}

.add-answer{
    display: flex;
    .answer-value-form{
        margin: 0 2rem 0 0;
    }
    .answer-statement-form{
        width: 100%;
        :first-child{
            width: 90%;
        }
    }
}





/* 
    ----------------
        BUTTONS
    ----------------
*/

.buttons-test{
    display: flex;
    justify-content: flex-end;
    margin: 80px 0 30px 0;
}

.staffit-button {
    color: #fff;
    border-radius: 24px;
    width: 150px;
    margin-right: 20px;
}

.save-test-button{
    background-color: #DE7373;
}

.reset-test-button{
    background-color: #ffcb8e;
}

.cancel-button{
    background-color: #767676;
}

