@import '../../../../../assets/styles/staffit-style-1.scss';

:host(app-dynamic-table-config-panel) {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    z-index: 2;
}

.select-columns {
    flex-direction: column;
    max-height: 100%;
    display: flex;
    border-radius: 4px;
    overflow: hidden;
}

mat-checkbox {
    padding-left: 10px;
}

:host ::ng-deep .mat-checkbox-layout {
    width: 100%;
}

:host ::ng-deep .mat-checkbox-label {
    width: 100%;
}

// Checkbox disabled font color
:host ::ng-deep .mat-checkbox-disabled * {
    color: #777777;
}

// Checkbox background
:host ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: $color-primary-light;
}

:host ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    background-color: $color-primary-light;
}

:host ::ng-deep .mat-checkbox-disabled:not(.mat-checkbox-checked) .mat-checkbox-frame {
    border-color: #484848;
}

:host ::ng-deep .mat-checkbox .mat-checkbox-frame {
    border-color: $color-primary-light;
}

:host ::ng-deep .mat-checkbox-checkmark-path {
    stroke: $color-primary-dark !important;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    visibility: hidden;

    .click-to-exit-area {
        flex: 1;
        background-color: rgba(114, 114, 114, 0);
        -webkit-transition: all 0.5s cubic-bezier(0.33, 0.46, 0.58, 1);
        -moz-transition: all 0.5s cubic-bezier(0.33, 0.46, 0.58, 1);
        -o-transition: all 0.5s cubic-bezier(0.33, 0.46, 0.58, 1);
        transition: all 0.5s cubic-bezier(0.33, 0.46, 0.58, 1);
    }

    .config-area {
        position: fixed;
        transform: translateY(15%);
        right: 0;
        margin-left: auto;
        width: 0;
        max-height: 72%;
        padding: 0 20px 20px 20px;
        border-radius: 10px;
        background-color: $color-primary-light;
        overflow-y: scroll;
        border: 1px solid gainsboro;
        background-color: $color-secondary-dark;
        color: $color-primary-light;

        box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);

        -webkit-transition: all 0.5s cubic-bezier(0.33, 0.46, 0.58, 1);
        -moz-transition: all 0.5s cubic-bezier(0.33, 0.46, 0.58, 1);
        -o-transition: all 0.5s cubic-bezier(0.33, 0.46, 0.58, 1);
        transition: all 0.5s cubic-bezier(0.33, 0.46, 0.58, 1);

        h3 {
            overflow: hidden;
            white-space: nowrap;
            font-weight: normal;
        }
    }
}

.visibility {
    z-index: 2;

    .click-to-exit-area {
        visibility: visible;
        background-color: rgba(114, 114, 114, 0.432);
    }
    .config-area {
        visibility: visible;
        width: 20%;
    }
}

.config-area::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.config-area::-webkit-scrollbar-thumb {
    background: $color-scrollbar-thumb;
    border-radius: 4px;
}

.textCursor{
    cursor:move;
    display: flex;
    justify-content: space-between;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    color: $color-primary-light;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);

    mat-icon {
        visibility: hidden;
    }
}
  
.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}