<div [ngClass]="{'visibility': visibility}" class="container">
    <div class="click-to-exit-area" (click)="close()"></div>
    <div class="config-area">
        <h3>Select Columns</h3>
        <div class="select-columns" cdkDropList (cdkDropListDropped)="drop($event)">
            <mat-checkbox *ngFor="let column of columnsConfig.columns"
                          #tableCheckbox 
                          [formGroup]="checkboxGroup" 
                          [checked]="column.shown"
                          (change)="check(column,'column')"
                          cdkDrag>
                <span class="textCursor">
                    <div>{{column.name}}</div>
                    <mat-icon>reorder</mat-icon>
                </span> 
            </mat-checkbox>
        </div>
    
        <h3>Select Filters</h3>
        <div class="select-columns">
            <mat-checkbox *ngFor="let filter of filtersConfig"
                          #tableCheckbox 
                          [formGroup]="checkboxGroup" 
                          [checked]="filter.shown"
                          [disabled]="filterDisable(filter.label)"
                          (change)="check(filter,'filter')">
                {{filter.label}} 
            </mat-checkbox>
        </div>
    </div>
</div>