@import "src/assets/styles/staffit-style-1";

:host(app-breadcrumb) {
  height: 6%;
}

.breadcrumb {
  display: flex;
  flex-flow: wrap;
  font-size: $medium;
  font-weight: 300;
  cursor: pointer;
  margin-left: 1rem;
  padding: 0;

  a, span {
    color: $color-secondary-dark;
  }

  a:hover, span:hover {
    color: $color-palette-1-main;
    text-decoration: none;
  }

  li {
    list-style: none;
    margin: 5px;
  }

  li:last-child {
    margin-right: 20px;
  }

  li::after {
    content: '>';
    color: darkgrey;
  }

  li:last-child::after {
    content: ''
  }
}
