<ol class="breadcrumb">
    <li *ngFor="let breadcrumb of breadcrumbs">
    <span [routerLink]="'/app/'+breadcrumb.url" routerLinkActive="router-link-active">
      {{ breadcrumb.label | uppercase}}
    </span>
    </li>
</ol>
