@import '../../../../../../assets/styles/dialog-unified';
.columns{
    justify-content: center;
    height: 65%;
    section{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.buttons{
    display: flex;
    height: 14%;
    margin-bottom: 0px;
}
