<mat-dialog-content class="dialog form">
    <div class="black-dialog">
        <img src="../../../../../../assets/CRM/icons/dialogs/account-target.png" alt="">
    </div>

    <form [formGroup]="form" class="dialog-content dialog-content-form">
        <h2>STUDY DETAIL</h2>
        <div class="columns">
            <section>
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input aria-label="name" matInput placeholder="Name" formControlName="name" required>
                    <mat-error>Enter a name</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Description</mat-label>
                    <textarea aria-label="description" matInput placeholder="Description" formControlName="description"></textarea>
                </mat-form-field>
            </section>
        </div>

        <div class="buttons">
            <button mat-button class="exit-button-form" (click)="onCancelClick()">Exit</button>
            <button mat-button class="submit-button" (click)="onSaveClick()">Create</button>
        </div>
    </form>
</mat-dialog-content>
