<mat-expansion-panel [expanded]=true [togglePosition]="'before'" *ngIf="contact != undefined">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <h3 class="title">Contact</h3>
        </mat-panel-title>
    </mat-expansion-panel-header>
        <mat-card class="no-padding">
            <div class="contact-container" (click)="openSimpleDetailDialog()">
                <div class="contact-black">
                    <img class="contact-img" src="assets/CRM/icons/NoPath - copia (19).png">
                    <img src="assets/CRM/icons/dialogs/user-target-white.png" alt="">
                </div>
                <div class="contact-info">
                    <section>
                        <p><span>Name:</span> {{ contact.name }}, {{contact.surname}}</p>
                        <p><span>Phone:</span> {{ contact.phone1 }}</p>
                        <p><span>Email:</span> {{ contact.email }}</p>
                        <p><span>Position:</span> {{ contact.position }}</p>
                        <p><span>Area:</span> {{ contact.area }}</p>
                    </section>
                </div>
            </div>
        </mat-card>
</mat-expansion-panel>