
.contact-container {
    display: flex;
}

.contact-black {
    min-height: 200px;
    margin-right: 20px;
    width: 80px;
    display: flex;
    flex-direction: column;
    background-color: #262626;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    .contact-img {
        width: 80%;
        margin: 30px auto auto auto;
        border: 2px solid white;
        border-radius: 40px;
    }
    img {
        width: 60%;
    margin: auto 0 auto auto;
    }
}

.contact-info {
    padding: 16px;
    span {
        font-weight: 500;
    }
    img{
        margin-right: 5px;
    }
}

.material-icons {
    font-size: 20px;
    color: #de7373;
    margin-right: 5px;
}

.no-padding {
    padding: 0;
}

.contact-item-edit {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    
    .mat-icon {
        font-size: 17px;
    }
}