@import "../../../../../../assets/styles/staffit-style-1";

:host(app-my-employee) {
  width: 100%;
}

$inner-left-width: 18rem;

::ng-deep form {
  display: flex;
  flex-direction: column;
}

::ng-deep .info {
  display: flex;
}

::ng-deep .address {
  display: flex;
}

::ng-deep .employee-profile {
  display: flex;
}

.buttons {
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin: 3rem 0;

  button {
    color: white;
    background-color: $color-palette-1-main;
    border-radius: 20px;
    padding: 0 2em 0 2em;
    margin-right: 2em;
  }
}

.container {
  margin: 0 1.5em 0 1.5rem;
  display: flex;
  flex-flow: row;

  .left {
    margin-top: 2rem;

    mat-card {
      width: inherit;
    }

    .employee-profile {
      margin: 1rem 0 0 0.1rem;
      height: fit-content;
      width: inherit;

      .employee-profile-header {
        display: flex;
        flex-flow: row;
        justify-content: flex-end;
      }

      .employee-profile-body {
        display: flex;
        flex: 1;
        flex-flow: column;
        align-items: center;

        .round {
          border-radius: 50%;
          object-fit: cover;
          height: 4.5rem;
          width: 4.5rem;
        }

        .info {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 0.5rem 0 0;

          .profile-name {
            margin: 0.25rem 0;
            font-size: $medium;
            font-weight: 500;
          }

          .profile-email {
            margin: 0.25rem 0;
            font-size: $small;
            font-weight: 400;
          }

          .profile-occupation {
            margin: 0.25rem 0;
            font-size: $small;
            font-weight: 400;

            span {
              margin-right: 0.1rem;
              font-weight: 500;
            }
          }

          .cars {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .cars-container {
              width: 49%;
              display: flex;
              flex-flow: column;
              align-items: center;
              text-align: center;
              justify-content: center;
            }
          }

          #cars-divider {
            height: 3rem;
            margin: 1rem 0.6rem;
          }
        }
      }
    }

    .superior {
      margin: 1.25rem 0;
      width: inherit;

      .superior-header {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: baseline;

        h4 {
          font-size: $small;
          font-weight: 500;
          background-color: $color-palette-1-main;
          padding: 0.25rem;
          color: $color-primary-light;
          border-radius: 1.5rem;
        }
      }

      .superior-body {
        display: flex;
        flex-flow: row;
        justify-content: space-around;

        img {
          height: 4rem;
          width: 4rem;
          object-fit: cover;
          border-radius: 50%;
        }

        .superior-info {
          .superior-name {
            margin: 0.25rem 0;
            font-size: $medium;
            font-weight: 500;
          }

          .superior-email {
            margin: 0.25rem 0;
            font-size: $small;
            font-weight: 400;
          }

          .superior-occupation {
            margin: 0.25rem 0;
            font-size: $small;
            font-weight: 400;

            span {
              margin-right: 0.1rem;
              font-weight: 500;
            }
          }
        }
      }

      .no-superior-content {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;

        p {
          font-weight: 400;
          text-align: center;
        }
      }
    }
  }

  .right {
    flex: 1;
    display: flex;
    overflow: auto;

    h4 {
      margin: 0;
      font-size: $medium;
      font-weight: 500;
    }

    .data-card {
      .address-form {
        margin-top: 4rem;

        .address {
          display: flex;
          flex-flow: row wrap;
          justify-content: flex-start;

          mat-form-field {
            margin: 0.25rem;
            width: 25%;
          }
        }
      }

      .info {
        margin-top: 1rem;
        display: flex;
        flex-wrap: wrap;

        .info-field {
          width: 15rem;

          .info-title {
            font-weight: 500;
          }

          .info-content {
            margin-top: 0.2rem;
            font-weight: 300;
          }
        }
      }
    }

    .no-supplies {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      margin: 18.5rem 18.5rem 18.5rem 26.5rem;
    }

    .drags {
      display: flex;
      flex-flow: row;
      flex-wrap: wrap;
      justify-content: space-around;
      margin: 1rem;
      background: white;
      box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%),
      0 1px 3px 0 rgb(0 0 0 / 12%);
      border-radius: 4px;
      padding: 0 1rem 0 1rem;

      app-dragndrop2 {
        width: 60%;
        margin: 30px 0;
      }

      mat-list {
        width: 40%;
        margin: 30px 0;
      }

      .mat-list-item-content {
        text-align: start;
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1) !important;
        display: flex;
        justify-content: space-between;
        width: 100%;

        span,
        p {
          min-height: unset;
          display: inline-block;
          white-space: nowrap;
          width: 50%;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .upload-info-container {
        flex-grow: 2;

        .saved-list,
        .non-saved-list {
          margin: 5px;
          overflow-y: auto;
          height: 50%;

          .list-title {
            font-weight: 700;
          }
        }
      }

      .control {
        display: flex;
        justify-content: space-between;
        width: 40%;

        span {
          cursor: pointer;
          text-align: center;
        }

        mat-select {
          width: 100%;
        }
      }
    }
  }
}

/*Media queries*/
//For mobile
@media screen and (max-width: 767px) {
  .container {
    flex-flow: column;

    .left {
      .superiors {
        display: flex;
        flex-direction: column;

        .superior {
          flex: 1;
        }
      }
    }
  }

  .left {
    flex: 1 !important;
    margin-top: 0 !important;
  }

  .info-content,
  .info-content {
    padding: 0.4rem;
  }

  form {
    margin-top: 1.5em !important;
  }

  mat-form-field {
    margin: 0.25rem;
    width: 100% !important;
  }

  ::ng-deep .mat-form-field-flex {
    padding-top: 0 !important;
  }

  .materials-container {
    margin: 1rem;
  }

  //right
  ::ng-deep .container .right {
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-left: 0;
    margin-bottom: 2rem;
  }

  ::ng-deep .info {
    justify-content: space-between;
  }

  ::ng-deep .buttons {
    margin-bottom: 1rem !important;
  }

  ::ng-deep button {
    margin-right: 0 !important;
  }
}

//
@media screen and (max-width: 1023px) {
  .container {
    flex-wrap: wrap;

    .right {
      overflow: unset;
    }

    .left {
      display: flex;
      flex-direction: column;
      flex: 1;
      margin-top: 0;

      .employee-profile {
        margin-top: 0;
      }

      .superiors {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 1.25rem 0;
        gap: 1rem;

        .superior {
          flex: 1;
          margin: 0;
          display: flex;
          flex-direction: row;
          justify-content: center;
          gap: 1.25rem;
        }
      }
    }
  }

  .buttons {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .street {
    flex-grow: 4;
  }
}
