<div class="tools">
    <button mat-fab
            class="tools__button tools__button-chat"
            color="primary"
            aria-label="Open storage icon button"
            (click)="setStorageVisibility(true)">
        <mat-icon>folder</mat-icon>
    </button>
</div>
<div *ngIf="!loading && storageHidden" class="container">
    <div class="left">
        <mat-card class="employee-profile">
            <div class="employee-profile-header">
                <button mat-icon-button
                        [matMenuTriggerFor]="account"
                        *ngIf="options.length > 1">
                    <mat-icon>manage_accounts</mat-icon>
                </button>
                <mat-menu #account="matMenu">
                    <mat-selection-list [multiple]="false">
                        <mat-list-option *ngFor="let option of options" [value]="option"
                                         (click)="changeProfile(option)">
                            {{option}}
                        </mat-list-option>
                    </mat-selection-list>
                </mat-menu>
            </div>

            <div class="employee-profile-body">
                <app-photo-uploader class="round"
                                    [photo]="photoLink"
                                    [defaultMatIcon]="'account_circle'"
                                    [defaultMatIconSize]="148"
                                    [editable]="true"
                                    (photoChanged)="photoChanged($event)">
                </app-photo-uploader>
                <div class="info">
                    <p class="profile-name">{{ employee.name }} {{ employee.surname }}</p>
                    <p class="profile-email">{{ employee.businessEmail }}</p>
                    <p class="profile-occupation"><span>Occupation:</span>{{ categoryName }}</p>
                    <div class="cars">
                        <div class="cars-container">
                            <p>{{ carName }}</p>
                        </div>
                        <mat-divider id="cars-divider" [vertical]="true"></mat-divider>
                        <div class="cars-container">
                            <p>{{ subcarName }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card>

        <div class="superiors">
            <mat-card class="superior" *ngIf="coach; else noCoach">
                <div class="superior-header">
                    <h4>COACH</h4>
                </div>
    
                <div class="superior-body">
                    <img src="{{coach.imageLink}}" alt="superior-img"/>
                    <div class="superior-info">
                        <p class="superior-name">{{ coach.name }} {{ coach.surname }}</p>
                        <p class="superior-email">{{ coach.businessEmail }}</p>
                        <p class="superior-occupation"><span>Occupation:</span> {{ coach.categoryName }}</p>
                    </div>
                </div>
            </mat-card>
    
            <ng-template #noCoach>
                <mat-card class="superior">
                    <div class="no-superior-content">
                        <p>You don't have a coach</p>
                    </div>
                </mat-card>
            </ng-template>
    
            <mat-card class="superior" *ngIf="mentor; else noMentor">
                <div class="superior-header">
                    <h4>MENTOR</h4>
                </div>
    
                <div class="superior-body">
                    <img src="{{mentor.imageLink}}" alt="superior-img"/>
                    <div class="superior-info">
                        <p class="superior-name">{{ mentor.name }} {{ mentor.surname }}</p>
                        <p class="superior-email">{{ mentor.businessEmail }}</p>
                        <p class="superior-occupation"><span>Occupation:</span> {{ mentor.categoryName }}</p>
                    </div>
                </div>
            </mat-card>
    
            <ng-template #noMentor>
                <mat-card class="superior">
                    <div class="no-superior-content">
                        <p>You don't have a mentor</p>
                    </div>
                </mat-card>
            </ng-template>
    
            <mat-card class="superior" *ngIf="manager; else noManager">
                <div class="superior-header">
                    <h4>MANAGER</h4>
                </div>
    
                <div class="superior-body">
                    <img src="{{manager.imageLink}}" alt="superior-img"/>
                    <div class="superior-info">
                        <p class="superior-name">{{ manager.name }} {{ manager.surname }}</p>
                        <p class="superior-email">{{ manager.businessEmail }}</p>
                        <p class="superior-occupation"><span>Occupation:</span> {{ manager.categoryName }}</p>
                    </div>
                </div>
            </mat-card>
    
            <ng-template #noManager>
                <mat-card class="superior">
                    <div class="no-superior-content">
                        <p>You don't have a manager</p>
                    </div>
                </mat-card>
            </ng-template>
        </div>
        
    </div>

    <mat-tab-group class="right">
        <!-- PERSONAL INFO TAB -->
        <mat-tab label="Info">
            <mat-card class="data-card">
                <h4>INFO</h4>
                <div class="info">
                    <div class="info-field">
                        <div class="info-title">Personal Business ID</div>
                        <div class="info-content">{{ employee.id }}</div>
                    </div>

                    <div class="info-field">
                        <div class="info-title">Company</div>
                        <div class="info-content">{{ employee.company.name }}</div>
                    </div>

                    <div class="info-field">
                        <div class="info-title">Start date</div>
                        <div class="info-content">{{ employee.startDate | date }}</div>
                    </div>

                    <div class="info-field">
                        <div class="info-title">English level</div>
                        <div class="info-content"
                             *ngIf="employee.englishLevel; else noData">{{ employee.englishLevel}}</div>
                    </div>

                    <div class="info-field">
                        <div class="info-title">Center</div>
                        <div class="info-content"
                             *ngIf="employee.center; else noData">{{ employee.center.location}}</div>
                    </div>
                </div>
                <ng-template #noData>
                    <div class="info-content">There is no data</div>
                </ng-template>

                <form [formGroup]="form" class="address-form">
                    <h4>ADDRESS</h4>
                    <div class="address">
                        <mat-form-field class="street" appearance="standard">
                            <mat-label>Address</mat-label>
                            <input aria-label="Address" matInput formControlName="addressHab" required/>
                            <mat-error>Enter an address</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="standard">
                            <mat-label>City</mat-label>
                            <input aria-label="cityHab" matInput formControlName="cityHab" required/>
                            <mat-error>Enter a City</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="standard">
                            <mat-label>Country</mat-label>
                            <input aria-label="countryHab" matInput formControlName="countryHab" required/>
                            <mat-error>Enter a country</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="standard">
                            <mat-label>Province</mat-label>
                            <input aria-label="province" matInput formControlName="provinceHab" required/>
                            <mat-error>Enter a province</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="standard">
                            <mat-label>Postal code</mat-label>
                            <input aria-label="Postal code" matInput formControlName="postalCodeHab" required/>
                            <mat-error>Enter a postal code</mat-error>
                        </mat-form-field>
                    </div>
                    <h4>DELIVERY ADDRESS</h4>
                    <div class="address">
                        <mat-form-field class="street" appearance="standard">
                            <mat-label>Delivery Address</mat-label>
                            <input aria-label="deliveryAddress" matInput formControlName="addressDel" required/>
                            <mat-error>Enter a Delivery Address</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="standard">
                            <mat-label>Delivery city</mat-label>
                            <input aria-label="cityDel" matInput formControlName="cityDel" required/>
                            <mat-error>Enter a delivery city</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="standard">
                            <mat-label>Delivery country</mat-label>
                            <input aria-label="countryDel" matInput formControlName="countryDel" required/>
                            <mat-error>Enter a delivery country</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="standard">
                            <mat-label>Delivery province</mat-label>
                            <input aria-label="provinceDel" matInput formControlName="provinceDel" required/>
                            <mat-error>Enter a delivery province</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="standard">
                            <mat-label>Delivery postal code</mat-label>
                            <input aria-label="Postal code" matInput formControlName="postalCodeDel" required/>
                            <mat-error>Enter a delivery postal code</mat-error>
                        </mat-form-field>
                    </div>
                </form>

                <div class="buttons">
                    <button mat-button (click)="onSubmit()" [disabled]="updating">Update</button>
                </div>
            </mat-card>
        </mat-tab>
        <!-- END INFO TAB -->

        <!-- MATERIAL INFO TAB -->
        <mat-tab label="Office supplies">
            <div class="materials-container">
                <ng-container *ngIf="employee.materials.length > 0; else noSupplies">
                    <mat-card *ngFor="let material of employee.materials; index as i">
                        <mat-card-content>
                            <div class="info-field">
                                <div class="info-title">Material {{ i + 1 }}</div>
                                <div class="info-content">Name: {{ material.name }}</div>
                                <div class="info-content">Type: {{ material.materialType }}</div>
                                <div class="info-content">Description: {{ material.description }}</div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </ng-container>

                <ng-template #noSupplies>
                    <div class="no-supplies">
                        <h4>You don't have currently any office supplies, should you ask for them?</h4>
                        <mat-icon>phonelink_off</mat-icon>
                    </div>
                </ng-template>
            </div>
        </mat-tab>
        <!-- END MATERIAL INFO TAB -->

        <mat-tab label="My profile">
            <app-my-profile
                    [myProfile]="myProfile"
                    [index]="index">
            </app-my-profile>
        </mat-tab>

        <mat-tab label="Coach of" *ngIf="employee.isCoach">
            <app-employee-chick-table
                    [chicks]="employee.coachOf"></app-employee-chick-table>
        </mat-tab>

        <mat-tab label="Mentor of" *ngIf="employee.isMentor">
            <app-employee-chick-table
                    [chicks]="employee.mentorOf"></app-employee-chick-table>
        </mat-tab>

        <mat-tab label="Manager of" *ngIf="employee.isManager">
            <app-employee-chick-table
                    [chicks]="employee.managerOf"></app-employee-chick-table>
        </mat-tab>

    </mat-tab-group>
</div>

<app-storage *ngIf="!storageHidden"
             [id]="idStorage"
             [readonly]="false"
             [fileTags]="tags"
             (closed)="setStorageVisibility(false)"
></app-storage>
