<div class="container">
    <div *ngFor="let group of groups" class="group">
        <div *ngFor="let column of group.columns, let index = i" class="column">
            <div class="column-header-{{column.id}}">
                <p class="column-header-name">{{column.header.name}} | {{column.data.length}}</p>
                <p class="column-header-description">{{column.header.description}}</p>
                <div *ngIf="index !== group.columns.length-1" class="arrow arrow-{{column.id}}"></div>
                <div *ngIf="index !== 0" class="arrow arrow-white"></div>
            </div>

            <div class="column-body" cdkDropList
                 [id]="column.id"
                 [cdkDropListData]="column.data"
                 [cdkDropListDisabled]="column.isDraggable"
                 (cdkDropListDropped)="drop($event)">

                <ng-content *ngFor="let item of column.data" cdkDrag></ng-content>
            </div>
        </div>
    </div>
</div>
