<div class="container" [ngClass]="{'visible': visible}">
    <div class="click-to-exit-area" (click)="close()"></div>
    <div class="chat">
        <div class="chat__left">
            <div class="chat-header">
                <div class="chat-header__title">{{ chat?.description }}</div>
                <button mat-icon-button class="chat-header__close" (click)="close()">
                    <mat-icon>close</mat-icon>
                </button>
                <button mat-icon-button matTooltip="Chat users" class="chat-header__action" *ngIf="users" class="chat-header__action" 
                        (click)="showChatUsers = !showChatUsers">
                    <mat-icon>people</mat-icon>
                </button>
            </div>
    
            <ng-template #noContent>
                <div class="no-content">{{id ? 'No messages' : 'You are not subscribed to this chat'}}</div>
            </ng-template>
    
            <div *ngIf="messages.length !== 0; else noContent" class="chat-body">
                <div #msgContainer class="msg-container scrollbar-style" (scroll)="onScroll($event)">
                    <div *ngIf="messages.length === chatPageSize && !isLastPage" class="msg-container__loading">
                        <mat-spinner [diameter]=50></mat-spinner>
                    </div>
                    <div class="msg" *ngFor="let msg of messages; let i = index"
                        [ngClass]="{
                            'msg--sent': msg.chatterEmail === chatter?.email,
                            'msg--not-first': messages[i-1]?.chatterEmail === msg.chatterEmail
                        }">
                        <img class="msg__avatar"
                            src="{{ users.get(msg.chatterEmail)?.image || '../../../assets/icons/user-2-1.svg'}}" alt="User image"/>
                        <div class="msg__content">
                            <div class="msg__user">
                                {{ users.get(msg.chatterEmail)?.name }} {{ users.get(msg.chatterEmail)?.surname }}
                            </div>
                            <div class="msg__text">{{ msg.payload }}</div>
                            <div class="msg__date">{{ msg.date | date: 'dd MMMM yyyy, h:mm a' }}</div>
                        </div>
                    </div>
                    <div #scrollTarget></div>
                </div>
                <div class="scroll-bottom" *ngIf="canScrollToBottom">
                    <button mat-icon-button (click)="scrollToBottom()">
                    <mat-icon>keyboard_arrow_down</mat-icon>
                </button>
                </div>
            </div>
    
            <div class="chat-input">
                <form [formGroup]="messageInput">
                    <textarea #msgTextArea matInput matTool
                        formControlName="message"
                        placeholder="Send a message..."
                        cdkTextareaAutosize
                        #autosize="cdkTextareaAutosize"
                        cdkAutosizeMinRows="1"
                        cdkAutosizeMaxRows="5"
                        class="scrollbar-style"
                        (keydown.enter)="handleKeyEnter($event)"
                        > <!--(input)="onInputChanged($event)"-->
                        <!--[matAutocomplete]="auto"-->
                    </textarea>
                    <!--<mat-autocomplete isOpen="true" #auto="matAutocomplete" autocomplete="off" (optionSelected)="selectedOption($event.option.value)">
                        <mat-option *ngFor="let option of options" [value]="option"
                                    [matTooltip]="" matTooltipPosition="after">
                            {{option}}
                        </mat-option>
                    </mat-autocomplete>-->
                    <button type="submit" class="chat-submit" (click)="sendMessage()">
                        <mat-icon>send</mat-icon>
                    </button>
                </form>
            </div>
        </div>

        <div class="chat__right" [ngClass]="{'chat__right--hidden': !showChatUsers}">
            <div class="chat-users scrollbar-style">
                <div class="chat-user" *ngFor="let user of users | keyvalue">
                    <img class="chat-user__avatar"
                        src="{{ user.value.image || '../../../assets/icons/user-2-1.svg'}}" alt="User image"/>
                    <div class="chat-user__info">
                        <div class="chat-user__name">{{ user.value.name }} {{ user.value.surname}}</div>
                        <div class="chat-user__email">{{ user.key }}</div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>