@import "../../../../../../assets/styles/staffit-style-1.scss";

:host(app-chat) {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  z-index: 2;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  visibility: hidden;

  .click-to-exit-area,
  .chat {
    -webkit-transition: all 0.5s cubic-bezier(0.33, 0.46, 0.58, 1);
    -moz-transition: all 0.5s cubic-bezier(0.33, 0.46, 0.58, 1);
    -o-transition: all 0.5s cubic-bezier(0.33, 0.46, 0.58, 1);
    transition: all 0.5s cubic-bezier(0.33, 0.46, 0.58, 1);
  }

  .chat {
    position: fixed;
    width: 550px;
    max-width: 85vw;
    bottom: 3rem;
    right: -50%;
    top: 3rem;
    display: flex;
    flex-direction: row;
    background: #efefef;
    border-radius: 10px;
    color: $color-primary-light;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);

    &__left,
    &__right {
      display: flex;
      flex-direction: column;
    }

    &__left {
      flex: 1;
    }

    &__right {
      width: 100%;
      max-width: fit-content;
      overflow: hidden;
      -webkit-transition: width 0.3s ease-in-out;
      -moz-transition: width 0.3s ease-in-out;
      -o-transition: width 0.3s ease-in-out;
      transition: width 0.3s ease-in-out;

      &--hidden {
        width: 0;
        border-left: 0;
        overflow: hidden;
      }
    }
  }
}

.visible {
  z-index: 2;

  .click-to-exit-area {
    width: 100%;
    height: 100%;
    visibility: visible;
    background-color: rgba(114, 114, 114, 0.432);
  }

  .chat {
    visibility: visible;
    right: 2rem;
  }
}

.scrollbar-style::-webkit-scrollbar {
  width: 8px;
}

// CHAT HEADER

.chat-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: $color-secondary-dark;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 4px 0;

  &__title {
    flex: 1;
    text-align: left;
    padding-left: 2rem;
  }

  &__action {
    width: 2.3rem;
    height: 2.3rem;
    right: 10px;
    color: $color-primary-light;
    margin: 0.5rem;
    font-size: $small;

    &:hover {
      background-color: $color-palette-1-main;
      border-radius: 2.5rem;
      transition: 0.5ms;
    }
  }

  &__close {
    float: right;
    padding-right: 0.25rem;
    cursor: pointer;
  }
}

// CHAT BODY

.chat-body {
  flex: 1;
  height: auto;
  position: relative;
  border: 1px solid #ccc;
  border-left: 0;
  border-top: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.no-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: $color-primary-dark;
}

.scroll-bottom {
  position: absolute;
  bottom: 0.2rem;
  right: 0.2rem;

  button {
    width: 2.3rem;
    height: 2.3rem;
    right: 10px;
    background-color: $color-palette-1-main;
    border-radius: 2.5rem;
    color: $color-primary-light;
    margin: 0.5rem;
    font-size: $small;
  }
}

// CHAT INPUT

.chat-input > form {
  display: flex;
  flex-direction: row;
  color: black;
  background-color: white;
  padding: 15px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  textarea {
    padding-top: 12px;
    padding-left: 10px;
  }
}

.chat-submit {
  border: none;
  outline: none;
  cursor: pointer;
  color: $color-palette-1-main;
  background-color: white;
}

// CHAT USERS

.chat-users {
  width: 100%;
  height: 100%;
  padding: 0.25rem;
  color: black;
  overflow-y: scroll;
}

.chat-user {
  min-height: 50px;
  display: flex;
  padding: 8px;

  &__avatar {
    object-fit: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    user-select: none;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 8px;
  }

  &__name {
    text-transform: capitalize;
  }

  &__email {
    font-size: $small;
  }
}

// CHAT MESSAGES

.msg-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 15px;
  height: 100%;
  box-sizing: border-box;
  overflow-y: scroll;

  &__loading {
    margin: auto;
    margin-bottom: 2rem;
    
    ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
      stroke: $color-palette-1-main;
    }
  }
}

.msg {
  $self: &;
  $background: gainsboro;
  $background-sent: rgb(199, 199, 231);
  display: flex;
  flex-direction: row;
  margin-bottom: 14px;
  padding-left: 4px;
  color: black;

  &__avatar {
    object-fit: cover;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    user-select: none;
  }

  &__content {
    display: flex;
    flex-direction: column;
    max-width: 70%;
    margin-left: 10px;
  }

  &__user,
  &__date {
    color: gray;
    padding: 0 10px;
  }

  &__user {
    font-size: 14px;
    text-transform: capitalize;
  }

  &__date {
    padding-top: 4px;
    font-size: 12px;
  }

  &__text {
    padding: 12px;
    margin-top: 2px;
    border-radius: 14px;
    background-color: $background;
    word-break: break-word;
    overflow-wrap: break-word;
  }

  &--sent {
    justify-content: flex-end;
    padding-left: 0;

    #{ $self }__date {
      text-align: right;
    }
    #{ $self }__text {
      background: $background-sent;
    }
    #{ $self }__avatar {
      display: none;
    }
  }

  &--not-first {
    #{ $self }__avatar {
      visibility: hidden;
    }
    #{ $self }__user {
      display: none;
    }
  }
}
