@import "../../../../../../assets/styles/staffit-style-1";

.game, .game-over {
  position: fixed;
  top: 50%;
  left: 55%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  color: white;
  width: 65%;
  height: 81%;
  border-radius: 0.5rem;
  background-image: url('../../../../../../assets/images/games/screen.gif');
  border: solid $color-secondary-dark 0.35rem;
  display: flex;
  flex-direction: column;
  overflow: auto;
 
}

.game {
  .cards, .header {
    display: flex;
    flex-flow: row;
  }

  .header {
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem;
    width: 100;
    
      p:nth-child(2){
        display: none;
      }

    .lives {
      display: flex;
      flex-flow: row;

      img {
        height: 2rem;
        width: 2rem;
        margin: 0.1rem;
      }
    }
  }

  .cards{
    justify-content: center;
    margin: 1.5rem;
  }
}

.game-over {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;

  .game-over-gif {
    img {
      height: inherit;
    }
  }

  .ranking {
    list-style: none;
    width: inherit;
    margin: 1rem;
    padding: 1rem 0;

    .ranking-item {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      height: 1.5rem;
    }

  }

  .buttons{
    margin: 1rem;
  }

}

app-employee-card-who-is-who{
  width: 100%;
  margin-bottom: 1rem;

}

/*Media queries*/

//Mobile
@media (max-width: 767px) {

  .game, .game-over {  
    top: 57%;
    left: 50%;
    width: 80%;
    height: 80%;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    .header{
      width: inherit;
    }
  }

  .cards{
    flex-direction: column !important;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0 !important;
  }

}

//Tablet

@media (min-width: 768px) and  (max-width: 1023px) {
  .game, .game-over{
    top: 55%;
    left: 50%;
    width: 95%;
    height: 80%;

    .cards{
      justify-content: center;
      margin: 1.5rem;
    }
  }

  .ranking{
    width: 50%;
  }

  app-employee-card-who-is-who{
    width: 90%;

  }
}

