
<div class="container">
    <div class="game" *ngIf="!gameOver && !loading">
        <div class="header">
            <p>Score: {{this.score}}</p>
            <p>Max score: {{this.maxScore}}</p>

            <div class="lives">
                <img src="../../../../../../assets/images/games/heart.png" alt="heart" *ngIf="lives === 3">
                <img src="../../../../../../assets/images/games/heart.png" alt="heart" *ngIf="lives === 3 || lives === 2">
                <img src="../../../../../../assets/images/games/heart.png" alt="heart" *ngIf="lives === 3 || lives === 2 || lives === 1">
            </div>
        </div>

        <div class="cards">
            <app-employee-card-who-is-who [employee]="employee1"
                                        [isCorrect]="isCorrect1"
                                        [index]="1"
                                        [hasAnswered]="hasAnswered1"
                                        (correct)="tryLuck($event)">
            </app-employee-card-who-is-who>

            <app-employee-card-who-is-who [employee]="employee2"
                                        [isCorrect]="isCorrect2"
                                        [hasAnswered]="hasAnswered2"
                                        [index]="2"
                                        (correct)="tryLuck($event)">
            </app-employee-card-who-is-who>


            <app-employee-card-who-is-who [employee]="employee3"
                                        [isCorrect]="isCorrect3"
                                        [hasAnswered]="hasAnswered3"
                                        [index]="3"
                                        (correct)="tryLuck($event)">
            </app-employee-card-who-is-who>
        </div>
    </div>
</div>
    <div class="game-over" *ngIf="gameOver">
        <div class="game-over-gif">
            <img src="../../../../../../assets/images/games/gameover.gif" alt="game-over-gif">
        </div>

        <ul class="ranking">
            <li class="ranking-item" *ngFor="let ranked of ranking, let i = index">
                <p class="user">{{i + 1}}. {{ranked.employee.name}} {{ranked.employee.surname}}</p>
                <p class="score">{{ranked.punctuation}}</p>
            </li>
        </ul>

        <div class="buttons">
            <button mat-flat-button (click)="restart()">
                Restart
            </button>
        </div>
    </div>
