<div class="slider-account-container">
        <app-contact-slider-list [contactSliderListData]="contactSliderListData" (newContact)="addContact($event)">
        </app-contact-slider-list>
        <app-activity-slider-list [activitySliderListData]="activitySliderListData" (newActivity)="addActivity($event)"
                (modActivity)="editActivity($event)">
        </app-activity-slider-list>
        <app-opportunity-slider-list [opportunitySliderListData]="opportunitySliderListData"
                (newOpportunity)="addOpportunity($event)" (modOpportunity)="editOpportunity($event)">
        </app-opportunity-slider-list>
        <app-notes-slider-list [noteSliderListData]="noteSliderListData">

        </app-notes-slider-list>
</div>