<mat-dialog-content class="dialog form">
    <div class="black-dialog">
        <img src="../../../../../../assets/CRM/icons/dialogs/exam.png" alt="exam image">
    </div>
    <form [formGroup]="form" class="dialog-content dialog-content-form">
        <div class="title">
            <h2>EDIT EXAM</h2>
        </div>
        <div class="container">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" required>
            </mat-form-field>

            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="description" rows="4" required></textarea>
            </mat-form-field>

            <div class="selectors">
                <section style="padding-right: 1rem;">
                    <mat-form-field appearance="outline">
                        <mat-label>Test</mat-label>
                        <input matInput placeholder="Test name" formControlName="test" readonly>
                    </mat-form-field>
                </section>
                <section style="padding-left: 1rem;">
                    <app-autocomplete
                            class="autocomplete-editEmployee"
                            [width]="width"
                            [placeholder]="'Correction'"
                            [matLabel]="'Correction'"
                            [options]="carOptions"
                            [appearance]="'outline'"
                            [defaultValue]="carValue"
                            (selectedValue)="autocompleteSelected({ formField: 'corr', value: $event })"
                    >
                    </app-autocomplete>
                </section>
            </div>
        </div>

        <div class="buttons">
            <button mat-raised-button class="exit-button-form" (click)="onCancelClick()">Exit</button>
            <button mat-raised-button type="submit" class="submit-button" (click)="onSaveClick()">Update</button>
        </div>
    </form>
</mat-dialog-content>
