@import '../../../../../../assets/styles/dialog-unified';

.full-width{
    width: 100%;
}

.selectors{
    display: flex;
    justify-content: space-between;
    section{
        width: 50%;

        .mat-select{
            display: contents;
        }
    }
}
