<form [formGroup]="form">
    <mat-form-field appearance="{{appearance}}" style.width={{width}}>
        <mat-label>{{matLabel}}</mat-label>
        <input type="text"
               placeholder="{{placeholder}}"
               aria-label="label"
               matInput
               formControlName="input"
               [matAutocomplete]="auto" (keyup)="emptySelection($event)" required>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="setValue($event.option.value)">
            <mat-option *ngFor="let option of filteredOptions | async"
                        [value]="option">
                {{option}}
            </mat-option>
        </mat-autocomplete>
        <mat-error>This field is required</mat-error>
    </mat-form-field>
</form>
