<div *ngIf="fileLimit===undefined || files.length<fileLimit" class="container" appDnd (fileDropped)="onFileDropped($event)">
    <input type="file" #fileDropRef id="fileDropRef" multiple (change)="fileBrowseHandler($event.target.files)"/>
    <img src="../../../../../../assets/images/dragndrop/ic-upload-file.svg" alt="">
    <h3>Drag and drop files here (please, select a file type)</h3>
    <h3 class="or">or</h3>
    <label for="fileDropRef">Browse for file</label>
</div>
<div class="image-preview" *ngIf="imagePreview && image">
    <img [src]="image" alt="image preview">
</div>
<div class="files-list">
    <div class="single-file" *ngFor="let file of files; let i = index">
        <img src="../../../../../../assets/images/dragndrop/ic-file.svg" width="45px" alt="file">
        <div class="info">
            <h4 class="name">
                {{ file?.name }}
            </h4>
            <p class="size">
                {{ formatBytes(file?.size) }}
            </p>
        </div>
        <img src="../../../../../../assets/images/dragndrop/ic-delete-file.svg" class="delete" width="20px" alt="file"
             (click)="deleteFile(file)">
        <mat-select *ngIf="fileTypes.length !== 0" placeholder="Select file type" (selectionChange)="set($event.value, file)">
            <mat-option *ngFor="let type of fileTypes" [value]="type">{{type}}</mat-option>
        </mat-select>
    </div>
</div>
<div class="button-container">
    <button mat-flat-button *ngIf="this.files.length" class="newAccount-button" (click)="upload()">
        Upload >>
    </button>
</div>
