<mat-dialog-content class="dialog form">
    <div class="black-dialog">
        <img src="../../../../../../assets/CRM/icons/dialogs/exam.png" alt="exam image">
    </div>
    <form [formGroup]="form" class="dialog-content dialog-content-form">
        <div class="title">
            <h2>Send Exam</h2>
        </div>
        <div class="columns">
            <section>
                <mat-form-field appearance="outline">
                    <mat-label>Exam to send</mat-label>
                    <input matInput placeholder="Exam" formControlName="exam" readonly>
                </mat-form-field>

                <app-autocomplete [placeholder]="'Search by email'" [matLabel]="'Candidate email'" [options]="emails"
                    [appearance]="'outline'" [defaultValue]="''" [width]="'100%'"
                    (selectedValue)="autocompleteSelected($event)" (searchValue)="backSearch($event)">
                </app-autocomplete>

                <mat-form-field appearance="outline" class="w100">
                    <mat-label>Selected Candidates</mat-label>
                    <mat-chip-list #chipList aria-label="Fruit selection">
                        <mat-chip *ngFor="let candidate of selected" [selectable]="false" [removable]="true"
                            (removed)="remove(candidate)">
                            {{candidate.email}} ({{candidate.name}} {{candidate.surname}})
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                        <input formControlName="candidate" [matChipInputFor]="chipList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" readonly>
                    </mat-chip-list>
                </mat-form-field>
            </section>
        </div>

        <div class="buttons">
            <button mat-raised-button class="exit-button-form" (click)="onCancelClick()">Exit</button>
            <button mat-raised-button type="submit" class="submit-button" (click)="onSaveClick()">Send</button>
        </div>
    </form>
</mat-dialog-content>
