<div *ngIf="!loading" class="sales-pipeline" cdkDropListGroup>
    <div class="column" *ngFor="let column of columns">

        <div class="state estado{{column.order}}">
            <span class="padding-puzzle">{{column.name}} | {{column.total}}</span>
            <div *ngIf="column.order !== 6 && column.order !== 4" class="arrow arrow-{{column.order}}"></div>
            <div *ngIf="column.order !== 1 && column.order !== 5" class="arrow arrow-white"></div>
        </div>

        <div *ngIf="column.name !== 'Incidencia resuelta' && column.name !== 'Lanzado' && column.name !== 'En Proceso' && column.name !== 'Finalizado' "
             [id]="column.name" cdkDropList [cdkDropListData]="column.newEmployeeRequests" class="list"
             (cdkDropListDropped)="drop($event)">

            <div class="box"
                 *ngFor="let item of column.newEmployeeRequests"
                 cdkDrag>
                <p class="name">{{item.name || item.surname ? item.name + " " + item.surname : 'No name'}}</p>
                <p class="email">{{item.personalEmail ? item.personalEmail : 'No email'}}</p>
                <span class="date">Start date: <p
                        class="{{!isLate(item.startDate) ? 'not-late': 'late-date'}}">{{item.startDate | date:'dd-MM-yyyy'}}</p></span>
                <div class="box-bottom">
                    <div class="box-actions">
                        <mat-icon (click)="openDetailRequest(item)" matTooltip="Edit">create</mat-icon>
                        <mat-icon (click)="delete(item)" matTooltip="Delete">delete</mat-icon>
                    </div>
                </div>
            </div>
        </div>

        <!-- Disable drag in specific columns  -->
        <div *ngIf="column.name === 'En Proceso' || column.name === 'Finalizado'" [id]="column.name" cdkDropList
             [cdkDropListDisabled]=true [cdkDropListData]="column.newEmployeeRequests" class="list">
            <div class="box"
                 *ngFor="let item of column.newEmployeeRequests"
                 cdkDrag
                 [cdkDragDisabled]=true (click)="openDetailRequest(item)">

                <p class="name">{{item.name || item.surname ? item.name + " " + item.surname : 'No name'}}</p>
                <p class="email">{{item.personalEmail ? item.personalEmail : 'No email'}}</p>
                <span class="date">Start date: <p
                        class="{{!isLate(item.startDate) ? 'not-late': 'late-date'}}">{{item.startDate | date:'dd-MM-yyyy'}}</p></span>
            </div>
        </div>

        <div *ngIf="column.name === 'Lanzado' || column.name === 'Incidencia resuelta'" [id]="column.name" cdkDropList
             [cdkDropListData]="column.newEmployeeRequests" class="list"
             (cdkDropListDropped)="drop($event)">

            <div class="box"
                 *ngFor="let item of column.newEmployeeRequests"
                 cdkDrag
                 [cdkDragDisabled]=true (click)="openDetailRequest(item)">

                <p class="name">{{item.name || item.surname ? item.name + " " + item.surname : 'No name'}}</p>
                <p class="email">{{item.personalEmail ? item.personalEmail : 'No email'}}</p>
                <span class="date">Start date: <p
                        class="{{!isLate(item.startDate) ? 'not-late': 'late-date'}}">{{item.startDate | date:'dd-MM-yyyy'}}</p></span>
            </div>
        </div>
    </div>
</div>
