@import '../../../../../../../assets/styles/staffit-style-1';

/* CDK Drag & Drop */
.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.list.cdk-drop-list-dragging .box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* LIST OF CARDS */

.sales-pipeline {
  height: 100%;

  .column {
    width: 12.183rem;
    max-width: 100%;
    margin: 0 0 25px 25px;
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    max-height: 83%;
  }

  .list {
    min-height: 60px;
    background: white;
    display: block;
    margin-top: 1rem;
    overflow: visible;
    height: 31.25rem;
    overflow-x: hidden;
  }
}

.list::-webkit-scrollbar {
  background-color: $color-primary-light;
  width: 0.35rem;
}


.list::-webkit-scrollbar:hover {
  background-color: $color-primary-light;
  width: 0.75rem;
  cursor: pointer;
}

.list::-webkit-scrollbar-thumb {
  background-color: #8c8c8c;
  border-radius: 15px;
}

/* CARDS */

.box {
  /* height: 110px; */
  margin-bottom: 11px;
  padding: 13px 7px;
  color: rgba(0, 0, 0, 0.87);
  cursor: move;
  background: white;
  font-size: 14px;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-left: 4px;
  margin-right: 4px;
  word-break: break-all;
  hyphens: auto;

  .name {
    font-size: $medium;
    font-weight: 500;
    margin: 0 0 0.5rem 0;
  }

  .email {
    font-size: $small;
    font-weight: 300;
    margin: 0 0 0.5rem 0;
  }

  .date {
    padding-right: 1.15rem;
    align-items: center;
    height: 1rem;
    font-size: $small;

    p {
      margin-left: 0.2rem;
    }
  }

  .box-bottom {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: center;

    .quantity {
      font-size: $medium;
    }

    .box-actions {
      display: flex;
      flex-flow: row;

      mat-icon {
        font-size: 1.1rem;
        height: 20px;
        width: 20px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
/* ===== STATES ===== */

.state {
  padding: 15px;
  color: white;
  border-radius: 13px;
  font-size: $medium;
  font-weight: 100;
  height: 2.5rem;
  position: relative;
}

.state > span {
  font-weight: 500;
  width: 100%;
  display: block;
}

.ultimo-estado {
  margin-right: 2%;
}

.padding-puzzle {
  padding-bottom: 7px;
}

.estado1 {
  background-color: #568eaf;
}

.estado2 {
  background-color: #975eb0;
}

.estado3 {
  background-color: #7467f0;
}

.estado4 {
  background-color: #393939;
}
.estado5 {
  background-color: #e46e75;
}
.estado6 {
  background-color: #5bbcaf;
}

.arrow {
  width: 17px;
  height: 17px;
  position: absolute;
  left: 185px;
  top: 27px;
  border-top-right-radius: 14%;
  transform: rotate(45deg);
}

.arrow-white {
  left: -10px;
  top: 27px;
  background: #ffffff;
}

.arrow-1 {
  background: #568eaf;
}
.arrow-2 {
  background: #975eb0;
}

.arrow-3 {
  background: #7467f0;
}

.arrow-4 {
  background: #393939;
}

.arrow-5 {
  background: #e46e75;
}

.arrow-6 {
  background: #5bbcaf;
}

.late-date {
  color: #e46e75;
}

.date {
  display: flex;
  flex-flow: row;
}
