<mat-dialog-content *ngIf="!loading" class="dialog form">
    <div class="black-dialog">
        <img src="../../../../../../assets/CRM/icons/dialogs/account-target.png" alt="">
    </div>

    <form [formGroup]="form" class="dialog-content dialog-content-form">
        <h2>COLLEGE DETAIL</h2>
        <div class="columns">
            <section>
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input aria-label="name" matInput placeholder="Name" formControlName="name" required>
                    <mat-error>Enter a name</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Contact Method</mat-label>
                    <input aria-label="contactMethod" matInput placeholder="ContactMethod" formControlName="contactMethod">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Contact Person</mat-label>
                    <input aria-label="contactPerson" matInput placeholder="ContactPerson" formControlName="contactPerson">
                </mat-form-field>

                <app-autocomplete class="autocomplete-edit m-auto-right" [width]='width' [placeholder]="'Study'"
                    [matLabel]="'Study'" [options]="studiesOptions" [appearance]="'outline'" [defaultValue]=""
                    (selectedValue)="autocompleteSelected({ formField: 'idStudy', value: $event })">
                </app-autocomplete>
            </section>

            <div class="column-right">
                <h3 class="comment-title">Associated studies</h3>
                <hr>

                <div class="study-list">
                    <div class="entry" *ngFor="let study of collegeStudies">
                        <div class="comment">
                            <p>{{study.name}}</p>
                            <button mat-icon-button (click)="removeStudy(study)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="buttons">
            <button mat-button class="exit-button-form" (click)="onCancelClick()">Exit</button>
            <button mat-button class="submit-button" (click)="onSaveClick()">Save</button>
        </div>
    </form>
</mat-dialog-content>
