@import '../../../../../../assets/styles/dialog-unified';

.columns{
    justify-content: center;
    height: 65%;
    margin: 0.5rem 0;

    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        //margin-right: auto;
        margin-left: -15px;
    }
}

.buttons {
    display: flex;
    height: 14%;
    margin-bottom: 0;
}

.column-right{
    width: 50%;
}

.column-right h3 {
    text-align: center;
}

.comment {
    display: flex;
    justify-content: space-between;
    word-wrap: break-word;
    margin-left: 20px;
}

.study-list {
    overflow-y: auto;
    height: 16rem;
}

.study-list::-webkit-scrollbar {
    background-color: $color-primary-light;
    width: 0.65rem;
}


.study-list::-webkit-scrollbar:hover {
    background-color: $color-primary-light;
    width: 0.75rem;
}

.study-list::-webkit-scrollbar-thumb {
    background-color: #8c8c8c;
    border-radius: 15px;
}
