<mat-card class="card-component" *ngIf="!loading">
    <!-- HEADER -->
    <div class="title-component">
        <h2>EXAMS</h2>
        <button mat-flat-button (click)="createNewExamDialog()">
            <mat-icon>add</mat-icon>
            New
        </button>
    </div>
    <mat-tab-group class="card-content">
        <mat-tab label="Exams Table">
            <app-exam-table #examTable
                            [exams]="exams"
                            [filtersValues]="filtersValueExam"
                            [candidates]="candidates"
                            [tests]="tests"
                            [corrections]="corrections"
                            [tableFiltersConfig]="examTableFiltersConfig"
                            (globalBackSearch)="backSearch()">
            </app-exam-table>
        </mat-tab>
        <mat-tab label="Sent Exams">
            <app-sent-exams-table #sentExamTable
                                  [filtersValues]="filtersValueSentExam"
                                  [sentExams]="sentExams"
                                  [tableFiltersConfig]="sentExamTableFiltersConfig">
            </app-sent-exams-table>
        </mat-tab>
    </mat-tab-group>
</mat-card>