<mat-card class="card-component">
    <app-dynamic-filters
        class="dyn-filters"
        [filters]="filters"
        [showFilters]="true"
        (query)="backSearch($event)">
    </app-dynamic-filters>

    <div class="cards">
        <app-employee-card *ngFor="let e of employee" [employee]="e"></app-employee-card>

    </div>
    <div class='paginador'>
        <mat-icon class="pagina" (click)="paginationChanged('a')">arrow_back_ios</mat-icon>
        <span>{{total}}</span>
        <mat-icon class="pagina" (click)="paginationChanged('b')">arrow_forward_ios</mat-icon>
    </div>
</mat-card>




