@import "../../../../../../assets/styles/staffit-style-1";

.card-component {
  position: absolute;
  top: 3rem;
  left: 0rem;
  right: 0;
  bottom: 0.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.cards {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    overflow-y: auto;
    height: 90%;
    justify-content: center;
}

.cards::-webkit-scrollbar {
    width: 0.5rem;
}


.cards::-webkit-scrollbar:hover {
  background-color: $color-primary-light;
  width: 0.75rem;
}

.cards::-webkit-scrollbar-thumb {
  background-color: $color-scrollbar-thumb;
  border-radius: 15px;
}

.paginador {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1rem;
}

.pagina {
  margin-left: 1rem;
}

.pagina:hover {
  cursor: pointer;
}

