<div class="myStaffitContainer">
  <mat-accordion>
    <div class="buttonContainer">
      <button mat-flat-button class="bookingButton" routerLink="./booking-room">
        Booking room >>
      </button>
    </div>
    <mat-expansion-panel
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
      class="principalPanel"
    >
      <mat-expansion-panel-header class="principalHeader">
        <mat-panel-title>
          <img class="icon" width="20px" src="../../../../assets/icons/house.svg" alt="house"/>
          <div class="headerItems">
            <h4>LOGROÑO</h4>
            <div>
              <button mat-flat-button class="addButton" routerLink="./new-flat">
                + Add new flat
              </button>
            </div>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <div class="line"></div>
        <mat-expansion-panel
          class="mat-elevation-z0"
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title class="flexContainer">
              <div class="flexItem1">
                <div class="state">
                  <mat-icon class="freeIcon">check_circle</mat-icon> FREE
                </div>
                <div class="title">ADRESS:</div>
                <div>
                  <span class="adressTitle">Perez Galdós, 32, 1ºB</span>
                </div>

                <div class="title">CAPACITY: <strong>4PAX</strong></div>
                <div class="title">RENT PRICE: <strong>600€</strong></div>
              </div>
              <div class="flexItem2">
                <mat-button-toggle-group name="buttonGroup" class="buttonGroup">
                  <mat-button-toggle value="edit"
                    ><mat-icon class="buttonIcon"
                      >create</mat-icon
                    ></mat-button-toggle
                  >
                  <mat-button-toggle value="delete"
                    ><mat-icon class="buttonIcon"
                      >delete</mat-icon
                    ></mat-button-toggle
                  >
                </mat-button-toggle-group>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="flex-container">
            <div class="namePax">Name</div>
            <div>Mail</div>
            <div>
              <button mat-button>
                <img src="../../../../assets/icons/microsoft.svg" alt="micro"/>
              </button>
            </div>
            <div>Arrival Date</div>
            <div>Exit Date</div>
            <div>Room</div>
          </div>
        </mat-expansion-panel>
        <div class="line"></div>
      </div>
      <div>
        <mat-expansion-panel
          class="mat-elevation-z0"
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title class="flexContainer">
              <div class="flexItem1">
                <div class="state">
                  <mat-icon class="busyIcon">check_circle</mat-icon> BUSY
                </div>

                <div class="title">ADRESS:</div>
                <div>
                  <span class="adressTitle">Gran Vía, 53, 7ºDerecha</span>
                </div>

                <div class="title">CAPACITY: <strong>4PAX</strong></div>
                <div class="title">RENT PRICE: <strong>600€</strong></div>
              </div>
              <div class="flexItem2">
                <mat-button-toggle-group name="buttonGroup" class="buttonGroup">
                  <mat-button-toggle value="edit"
                    ><mat-icon class="buttonIcon"
                      >create</mat-icon
                    ></mat-button-toggle
                  >
                  <mat-button-toggle value="delete"
                    ><mat-icon class="buttonIcon"
                      >delete</mat-icon
                    ></mat-button-toggle
                  >
                </mat-button-toggle-group>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="flex-container">
            <div class="namePax">Name</div>
            <div>Mail</div>
            <div>
              <button mat-button>
                <img src="../../../../assets/icons/microsoft.svg" alt="micro"/>
              </button>
            </div>
            <div>Arrival Date</div>
            <div>Exit Date</div>
            <div>Room</div>
          </div>
        </mat-expansion-panel>
        <div class="line"></div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
