
.account-container {
    display: flex;
    // align-items: center;
}

.account-black {
    min-height: 200px;
    margin-right: 20px;
    width: 80px;
    display: flex;
    flex-direction: column;
    background-color: #262626;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    .account-img {
        width: 80%;
        margin: 30px auto auto auto;
        border: 2px solid white;
        border-radius: 40px;
    }
    img {
        width: 60%;
        margin: auto 0 auto auto;
    }
    app-photo-uploader {
        width: 60px;
        height: 60px;
        margin: auto;
        margin-left: 10px;
        margin-right: 10px;
    }
}

.account-info {
    margin: auto 0;
    span {
        font-weight: 500;
    }
    img{
        margin-right: 5px;
    }
}

.material-icons {
    font-size: 20px;
    color: #de7373;
    margin-right: 5px;
}

.no-padding {
    padding: 0;
}

.account-item-edit {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    
    .mat-icon {
        font-size: 17px;
    }
}