<mat-expansion-panel [expanded]=true [togglePosition]="'before'" *ngIf="account">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <h3 class="title">Account </h3>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-card class="no-padding">
        <div class="account-container" (click)="openSimpleDetailDialog()">
            <div class="account-black">
                <app-photo-uploader [photo]="photo"
                                    [editable]=false>
                </app-photo-uploader>
                <img src="assets/CRM/icons/dialogs/account-target-white.png" alt="">
                </div>
                <div class="account-info">
                    <section>
                        <p *ngIf="account.commercialName; else socialReason">
                            <span>Name: </span>{{account.commercialName}}</p>
                        <ng-template #socialReason><span>Social reason: </span>{{account.socialReason}}</ng-template>
                        <p><span>Email: </span>{{account.email}}</p>
                        <p><span>CAR: </span>{{account.car}}</p>
                        <p><span>SubCAR: </span>{{account.subCar}}</p>
                        <p><span>Sector: </span>{{account.sector}}</p>
                        <p><span>Category: </span>{{account.category}}</p>
                    </section>
                </div>
            </div>
        </mat-card>
</mat-expansion-panel>
