
<mat-dialog-content class="dialog detail">
    <div class="black-dialog">
        <img src="../../../../../assets/CRM/icons/dialogs/user-target-2.png" alt="">
    </div>
    <div class="dialog-content dialog-content-detail">
        <div class="title">
            <h2>{{data.contact.name | titlecase}} {{data.contact.surname | titlecase}}</h2>
        </div>
        <div class="columns">
            <section>
                <p><span>Name: </span>{{data.contact.name}}</p>
                <p><span>Surname: </span>{{data.contact.surname}}</p>
                <p><span>Phone: </span>{{data.contact.phone1}}</p>
                <p><span>Email: </span>{{data.contact.email}}</p>
            </section>
            <section>
                <p><span>Account: </span>{{data.contact.accountValue}}</p>
                <p><span>Charge: </span>{{data.contact.position}}</p>
                <p><span>CAR: </span>{{data.contact.carValue}}</p>
                <p><span>SubCAR: </span>{{data.contact.subCarValue}}</p>
            </section>
        </div>
        <div class="buttons">
            <button mat-raised-button class="exit-button-form" (click)="closeDialog()">Exit</button>
            <button mat-raised-button class="submit-button" (click)="goToDetails(data.contact.id)">More details</button>
        </div>
    </div>
</mat-dialog-content>
