@import '../../../../../../assets/styles/staffit-style-1.scss';

/* CDK Drag & Drop */

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.list.cdk-drop-list-dragging .box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* LIST OF CARDS */

.sales-pipeline {
  overflow-x: scroll;
  height: 100%;
  white-space: nowrap;

  .column {
    width: 195px;
    margin: 1em 0.8em 0.8rem;
    display: inline-block;
    vertical-align: top;
    white-space: normal;

    /* ===== STATES ===== */

    .state {
      /* width: 165px; */
      padding: 15px;
      color: white;
      border-radius: 13px;
      font-size: 13px;
      font-weight: 100;
      height: 3rem;
      position: relative;
    }

    .state > span {
      font-weight: 500;
      width: 100%;
      display: block;
    }

    .ultimo-estado {
      margin-right: 2%;
    }

    .padding-puzzle {
      padding-bottom: 7px;
    }

    .estado1 {
      background-color: #218380;
    }

    .estado2 {
      background-color: #5bbcaf;
    }

    .estado3 {
      background-color: #57c4e5;
    }

    .estado4 {
      background-color: #568eaf;
    }

    .estado5 {
      background-color: #975eb0;
    }

    .estado6 {
      background-color: #7467f0;
    }

    .estado7 {
      background-color: #393939;
    }

    .estado8 {
      background-color: #e46e75;
    }

    .arrow {
      width: 17px;
      height: 17px;
      position: absolute;
      left: 185px;
      top: 27px;
      border-top-right-radius: 14%;
      transform: rotate(45deg);
    }

    .arrow-white {
      left: -10px;
      top: 27px;
      background: #ffffff;
    }

    .arrow-1 {
      background: #218380;
    }

    .arrow-2 {
      background: #5bbcaf;
    }

    .arrow-3 {
      background: #57c4e5;
    }

    .arrow-4 {
      background: #568eaf;
    }

    .arrow-5 {
      background: #975eb0;
    }

    .arrow-6 {
      background: #7467f0;
    }

    .arrow-7 {
      background: #393939;
    }
  }

  .list {
    min-height: 60px;
    background: white;
    display: block;
    margin-top: 1rem;
    overflow: visible;
    height: 31.25rem;
    overflow-x: hidden;

    /* CARDS */
    .box {
      /* height: 110px; */
      margin-bottom: 11px;
      padding: 13px 7px;
      color: rgba(0, 0, 0, 0.87);
      cursor: move;
      background: white;
      font-size: 14px;
      border-radius: 8px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      margin-left: 4px;
      margin-right: 4px;
      word-break: break-all;
      hyphens: auto;

      span {
        font-weight: 600;
        color: #8b8b8b;
      }

      p {
        margin: 0.5rem;
      }

      .name{
        font-size: $small;
        font-weight: 500;
      }

      .box-bottom {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;

        .quantity {
          font-size: $medium;
        }

        .box-actions {
          display: flex;
          flex-flow: row;

          mat-icon {
            font-size: 1.1rem;
            height: 20px;
            width: 20px;

            &:hover{
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

.list::-webkit-scrollbar {
  background-color: $color-primary-light;
  width: 0.35rem;
}


.list::-webkit-scrollbar:hover {
  background-color: $color-primary-light;
  width: 0.75rem;
  cursor: pointer;
}

.list::-webkit-scrollbar-thumb {
  background-color: #8c8c8c;
  border-radius: 15px;
}

.sales-pipeline::-webkit-scrollbar {
  background-color: $color-primary-light;
  height: 0.45rem;
}


.sales-pipeline::-webkit-scrollbar:hover {
  background-color: $color-primary-light;
  width: 0.75rem;
  cursor: pointer;
}

.sales-pipeline::-webkit-scrollbar-thumb {
  background-color: #8c8c8c;
  border-radius: 15px;
}
