<div *ngIf="!loading" class="sales-pipeline" cdkDropListGroup>
    <div class="column" *ngFor="let column of columns">

        <div class="state estado{{column.order}}">
            <span class="padding-puzzle">{{column.name}}</span> {{column.total}} € | {{column.opts}}
            <div *ngIf="column.order !== 8" class="arrow arrow-{{column.order}}"></div>
            <div *ngIf="column.order !== 1" class="arrow arrow-white"></div>
        </div>

        <div [id]="column.state" cdkDropList [cdkDropListData]="column.opportunities" class="list"
             (cdkDropListDropped)="drop($event)">
            <div class="box" *ngFor="let item of column.opportunities" cdkDrag>
                <p class="name">{{item.name}}</p>
                <p class="date">
                    {{item.closeDate ? 'Closes: ' : 'Warns: '}} {{
                    (item.closeDate
                        ? item.closeDate
                        : item.warningDate) | date:'dd-MM-yyyy' }}
                </p>
                <div class="box-bottom">
                    <p class="quantity">{{item.quantity}} €</p>
                    <div class="box-actions">
                        <mat-icon (click)="openEditOpportunity(item)" matTooltip="Edit">create</mat-icon>
                        <mat-icon (click)="openDetailOpportunity(item)" matTooltip="See">search</mat-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
