<div class="slider-contact-container">
    <app-account-item
                [account]="activitySliderData.account"
                [carDictionary]="activitySliderData.cars"
                [subCarDictionary]="activitySliderData.subCars"
                [categoryDictionary]="activitySliderData.categories">
    </app-account-item>
    <app-contact-single-item
                [contact]="contact"
                [carDictionary]="activitySliderData.cars"
                [subCarDictionary]="activitySliderData.subCars">
    </app-contact-single-item>
    <mat-expansion-panel *ngIf="opportunityNotNull" [expanded]=true [togglePosition]="'before'">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h3>Opportunities</h3>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-card  class="card-item">
            <app-opportunity-item
                        [opportunityItemData]="mapOpportunity()">
            </app-opportunity-item>
        </mat-card>
    </mat-expansion-panel>
    <app-notes-slider-list 
                        [noteSliderListData]="noteSliderListData">
    </app-notes-slider-list>
</div>