<div class="container">
    <p>Looks like this employee doesn't have an associated {{source}}.</p>
    <p>Do you want to associate one?</p>
    <app-autoselect class="filter"
                    [config]="this.autoSelect"
                    (search)="search($event)"
                    (selectedValue)="setValue($event)"
                    (cleared)="clear()">
    </app-autoselect>
    <button mat-flat-button (click)="save()">
        <mat-icon>save</mat-icon>
        Save
    </button>
</div>
