@import '../../../../../../assets/styles/staffit-style-1.scss';

:host(app-monthly-calendar) {
    height: 100%;
    display: flex;
    flex-flow: column;
}

.header {
    display: flex;
    flex-flow: row;
    background-color: white;
    border-bottom: solid #e2e8f0 0.01rem;
    flex: 0 1 auto;

    &__schedule {
        width: 100%;
        display: flex;
        flex-flow: row;
    }

    &__day {
        text-align: center;
        width: 14.28%;

        &-today {
            color: $color-palette-1-main;
        }
    }

    &__text {
        font-size: $medium;
    }
}

.body {
    &__grid {
        width: 90%;
        display: flex;
        flex-flow: column;
    }

    &__row {
        text-align: center;
        background-color: white;
        border-bottom: solid #e2e8f0 0.01rem;
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        height: 8.3%;
    }

    &__cell{
        width: 14.28%;

        &-empty{
            border-right: solid #e2e8f0 0.01rem;

            &:hover{
                cursor: pointer;
                background-color: #e2e8f0;
            }
        }
    }
}
/*
.container{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    height: 45rem;
    background: white;
    width: 100%;
    
    .card{
        flex: 12;
        text-align: center; 
        width: auto; 
        margin: 0 auto;
        padding: 1rem;

            .card-body{
                ol{
                    list-style: none;
                    display: grid;
                    grid-template-columns: repeat(7,1fr);
                    margin: 0 auto;
                    padding: 0;
                }
                .day{
                   
                    padding:0.313rem;
                    height: 6rem;
                    margin: 0;
                    font-size: 1.5rem;
                    color: grey;
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    cursor: pointer;
            
                }
                .day:hover{
                    background: #ffd7d7;
                }
                .day:active{
                    background: rgba(230, 190, 118, 0.466);
                }
                
                .week{
                    color: #f76f6f;
                    font-size: 1.5rem;
                    margin-bottom: 1%;
                    margin-top: 1%;
                }
            }
    }
}
.todayColor{
    background: #e27676;
    span{
        color: white;
    }
}

*/

//Styles for mobile size
@media screen and (max-width: 500px){

    .container{

        .card{

            .card-body{
               
               .week{
                   font-size: 1.2rem;
                   
               }

               .day{
                   height: 3rem;
                   font-size: 1.2rem;
               }
            }
        }
    }

}

//Styles for tablet size
@media (min-width:501px) and (max-width: 750px){

    .container{

        .card{

            .card-body{
               
               .week{
                   font-size: 1.4rem;
                   
               }

               .day{
                   height: 4.5rem;
                   font-size: 1.4rem;                 
               }
            }
        }
    }

}
