<div class="header">
    <div class="header__white"></div>
    <div class="header__schedule">
        <div class="header__day header__day-{{day === currentDay ? 'today' : ''}}"
             *ngFor="let day of week">
            <p class="header__text">{{day | uppercase}}</p>
        </div>
    </div>
</div>
<div class="body">
    <div class="body__grid">
        <div class="body__row"
             *ngFor="let monthWeek of monthWeeks">
            <div class="body__cell body__cell-empty"
                 *ngFor="let day of week">
            </div>
        </div>
    </div>
</div>

