@import '../../../../assets/styles/staffit-style-1.scss';

.vc-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: contain;
  overflow: hidden;
}

.vc-content {
  text-align: center;
  z-index: 2;
  width: 34rem;
  margin: 1rem 0rem;
}

.vc-ops {
  font-size: 50px;
  margin-right: 300px;
  margin-bottom: -60px;
  margin-top: 0;
  color: black;
}

.vc-heading {
  font-size: 6rem;
  margin: 0 0 20px;
  color: #e46e75;
  font-weight: 100;
}

.vc-sub-heading {
  font-size: $large;
  margin: 0 0 24px;
  color: black;
  font-weight: 100;
}

.vc-sub-heading-explanation {
  margin-top: 1rem;
}

.vc-timer {
  .mat-progress-bar {
    margin: 1rem auto !important;
    width: 70%;
  }
  span {
    color: #DE7373;
    font-size: 1.25rem;
  }
}

::ng-deep .mat-progress-bar-fill::after {
  background-color: #DE7373;
}

::ng-deep .mat-progress-bar-buffer {
  background: #dbbbbb;
}

::ng-deep .mat-progress-bar {
  border-radius: 2px;
}

.blink-infinite {
  color: #e46e75;
}

@media screen and (max-width: 500px) {
  .vc-heading {
    font-size: 8em;
  }
  .vc-sub-heading {
    font-size: 1.3em;
  }
}

@keyframes blink {
  20%,
  100% {
    color: #e46e75;
  }
  0%,
  20% {
    color: #9f9f9fb3;
  }
}

@keyframes blink-sub {
  20%,
  100% {
    color: black;
  }
  0%,
  20% {
    color: #9f9f9fb3;
  }
}

@keyframes infinite-blink {
  60%,
  80% {
    color: #9f9f9fb3;
  }
  70%,
  100% {
    color: black;
  }
}

.body {
  color: white;
}

.gears {
  position: relative;
  margin: 0 auto;
  width: auto;
  height: 0;
}

.gear {
  position: relative;
  z-index: 0;
  width: 120px;
  height: 120px;
  margin: 0 auto;
  border-radius: 50%;
  background: black;
}

.gear:before {
  position: absolute;
  left: 5px;
  top: 5px;
  right: 5px;
  bottom: 5px;
  z-index: 2;
  content: "";
  border-radius: 50%;
  background: white;
}

.gear:after {
  position: absolute;
  left: 25px;
  top: 25px;
  z-index: 3;
  content: "";
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 5px solid black;
  box-sizing: border-box;
  background: white;
}

.gear.one {
  left: -130px;
}

.gear.two {
  top: -75px;
}

.gear.three {
  top: -235px;
  left: 130px;
}

.gear .bar {
  position: absolute;
  left: -15px;
  top: 50%;
  z-index: 0;
  width: 150px;
  height: 30px;
  margin-top: -15px;
  border-radius: 5px;
  background: black;
}

.gear .bar:before {
  position: absolute;
  left: 5px;
  top: 5px;
  right: 5px;
  bottom: 5px;
  z-index: 1;
  content: "";
  border-radius: 2px;
  background: white;
}

.gear .bar:nth-child(2) {
  transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
}

.gear .bar:nth-child(3) {
  transform: rotate(120deg);
  -webkit-transform: rotate(120deg);
}

@-webkit-keyframes clockwise {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes anticlockwise {
  0% {
    -webkit-transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@-webkit-keyframes clockwiseError {
  0% {
    -webkit-transform: rotate(0deg);
  }
  20% {
    -webkit-transform: rotate(30deg);
  }
  40% {
    -webkit-transform: rotate(25deg);
  }
  60% {
    -webkit-transform: rotate(30deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@-webkit-keyframes anticlockwiseErrorStop {
  0% {
    -webkit-transform: rotate(0deg);
  }
  20% {
    -webkit-transform: rotate(-30deg);
  }
  60% {
    -webkit-transform: rotate(-30deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@-webkit-keyframes anticlockwiseError {
  0% {
    -webkit-transform: rotate(0deg);
  }
  20% {
    -webkit-transform: rotate(-30deg);
  }
  40% {
    -webkit-transform: rotate(-25deg);
  }
  60% {
    -webkit-transform: rotate(-30deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

.loading {
  display: none;
  height: 190px;
}

.gear.one {
  -webkit-animation: anticlockwiseErrorStop 2s linear infinite;
}

.gear.two {
  -webkit-animation: anticlockwiseError 2s linear infinite;
}

.gear.three {
  -webkit-animation: clockwiseError 2s linear infinite;
}

.loading .gear.one, .loading .gear.three {
  -webkit-animation: clockwise 3s linear infinite;
}

.loading .gear.two {
  -webkit-animation: anticlockwise 3s linear infinite;
}

.buttons {
  margin-top: 2rem;
  margin-bottom: 0;
  
  button {
    background-color: #DE7373;
      border-radius: 2rem;
      height: 2.3rem;
      color: #efefef;
  }
}
