<div class="vc-container">
    <div class="vc-content">
        <h1 class="vc-ops">Oops!</h1>
        <h1 class="vc-heading">{{errorCode}}</h1>
        <div class="vc-sub-heading">Internal {{isFrontError ? '' : 'Server '}}<span class="blink-infinite">{{errorMotive}}</span>
            <div class="vc-sub-heading-explanation">{{errorExplanation}}</div>
        </div>
        <div class="vc-timer" *ngIf="timeout">
            The page will be reloaded in
            <span>{{ mathFloor(timeout / 60) }}</span> minutes 
            <span>{{ timeout % 60 }}</span> seconds
            <mat-progress-bar mode="determinate" value="{{ (initialTimeout - timeout) / initialTimeout * 100 }}"></mat-progress-bar>
        </div>
        <div class="buttons">
            <button mat-button *ngIf="reportable" (click)="report()">
                <mat-icon>send</mat-icon>
                Report and Exit
            </button>
            <button mat-button *ngIf="!reportable" (click)="navigateHome()">
                <mat-icon>home</mat-icon>
                Take me Home
            </button>
        </div>
        <div class="loading">
            <div class="gears">
                <div class="gear one">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
                <div class="gear two">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
                <div class="gear three">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
            </div>
        </div>
    </div>
</div>
