@import '../../../../assets/styles/staffit-style-1.scss';

.card-component {
  height: 89%;

  mat-card-content {
    height: 100%;

    mat-tab-group {
      height: 100% !important;
    }
  }
}

iframe {
  /*TODO: hay que cambiar esto XD*/
  height: 700px;
  width: 100%;
  margin-top: 0.5rem;
  overflow-y: auto;
}

iframe::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

iframe::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 14px;
}
