<mat-card class="card-component">
    <mat-card-content>
        <mat-tab-group>
            <mat-tab label="Eureka">
                <iframe title="panel" [src]="eureka | safe"></iframe>
            </mat-tab>
            <mat-tab label="Wallboard">
                <iframe title="panel" [src]="wallboard | safe"></iframe>
            </mat-tab>
            <mat-tab label="Hytrix">
                <iframe title="panel" [src]="hytrix | safe"></iframe>
            </mat-tab>
            <mat-tab label="Zipkin">
                <iframe title="panel" [src]="zipkin | safe"></iframe>
            </mat-tab>
            <mat-tab label="RabbitMQ">
                <iframe title="panel" [src]="rabbitMq | safe"></iframe>
            </mat-tab>
            <mat-tab label="Kibana">
                <iframe title="panel" [src]="kibana | safe"></iframe>
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>
