<mat-form-field class="{{config.class}}" appearance="{{config.appearance}}">
    <mat-label>{{config.label}}</mat-label>
    <input type="text"
           placeholder="{{config.placeholder}}"
           aria-label="label"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" (selectionChange)="setValue()">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option[shownField]">
            {{option[shownField]}}
        </mat-option>
    </mat-autocomplete>
    <button mat-icon-button matSuffix (click)="clear()" matTooltip="clear">
        <mat-icon>clear</mat-icon>
    </button>
</mat-form-field>
