<mat-card class="card">
  <div class="chicks-filters">
    <mat-form-field appearance="standard" class="filter">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
    </mat-form-field>
    <mat-form-field class="filter">
      <mat-label>Status</mat-label>
      <mat-select [(value)]="selected" (selectionChange)="change($event)">
        <mat-option value="">ALL</mat-option>
        <mat-option value="true">ACTIVE</mat-option>
        <mat-option value="false">INACTIVE</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="default-table">
    <div class="table-body">
      <mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef class="idHeader" mat-sort-header> Id</mat-header-cell>
        <mat-cell *matCellDef="let row" class="idCell" (click)="navigateTo(row)"> {{ row.id }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef class="idHeader" mat-sort-header> Name</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.name }} </mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="surname">
        <mat-header-cell *matHeaderCellDef class="idHeader" mat-sort-header> Surname</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.surname }} </mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="businessEmail">
        <mat-header-cell *matHeaderCellDef class="idHeader" mat-sort-header> Business Email</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.businessEmail }} </mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="personalPhoneNumber">
        <mat-header-cell *matHeaderCellDef class="idHeader" mat-sort-header> Phone number</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.personalPhoneNumber}} </mat-cell>
      </ng-container>

     
      
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    <div class="not-found" *ngIf="noResults">
      <img src="../../../../../../assets/CRM/icons/notFound-2.png" alt=""/>
      <p>No records found</p>
    </div>
  </div>
  <mat-paginator class="mat-paginator-fixed" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

</mat-card>
