@import '../../../../../../assets/styles/staffit-style-1';

.idHeader {
  justify-content: center;
  color: white;
}

.not-found {
  display: flex;
  flex-direction: column;

  img {
    width: 13%;
    opacity: 15%;
    margin: 25px auto 0 auto;
  }

  p {
    text-align: center;
    color: #707070;
    margin-left: 8px;
    font-weight: 100;
  }
}

.chicks-filters {
  display: flex;
  align-items: baseline;
  .filter {
    max-width: 10rem;
    margin: 0.5rem;
  }
}

.card {
  margin: 1rem 0;
  width: 98%;
}
