<mat-expansion-panel [expanded]=true [togglePosition]="'before'">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <h3 class="title pink">Opportunities ({{opportunitySliderListData.father.opportunities.length}}) </h3>
        </mat-panel-title>
        <mat-chip-list>
            <mat-chip (click)="openNewOpportunityDialog()">+ Add</mat-chip>
        </mat-chip-list>
    </mat-expansion-panel-header>
    <mat-card *ngFor="let opportunity of opportunitySliderListData.father.opportunities" class="card-item">
        <app-opportunity-item
                [opportunityItemData]="mapOpportunity(opportunity)"
                (modOpportunity)="modifyOpportunity($event)">
        </app-opportunity-item>
    </mat-card>
</mat-expansion-panel>