@import '../../../../../../assets/styles/dialog-unified';

.padding {
  padding-left: 5px;
}
.inline-block {
  display: inline-block;
}

.answer {
  color: #de7373;
}

.results {
  display: flex;

  .left {
    width: 30%;
    flex-direction: column;
  }
  .right {
    width: 70%;
    flex-direction: column;
  }
}
