<mat-dialog-content class="dialog detail">
    <div class="black-dialog">
        <img src="../../../../../../assets/CRM/icons/dialogs/exam.png" alt="">
    </div>
    <div class="dialog-content dialog-content-detail">
        <div class="title">
            <h2>{{data.examName | titlecase }}</h2>
        </div>
        <div class="results">
            <div class="left">
                <ng-container *ngFor="let result of counterResults">
                    <p>{{result.counter.name}}: {{result.result}} </p>
                </ng-container>
            </div>
            <div class="right">
                <ng-container *ngFor="let nonComputed of nonComputedResponses">
                    <p><span>Question: </span>
                        <span [innerHTML]="nonComputed.questionDescription"></span></p>
                    <p><span class="answer">Answer: </span><span [innerHTML]="nonComputed.responseText"></span></p>
                    <mat-divider></mat-divider>
                </ng-container>
            </div>
        </div>
        <button mat-raised-button class="exit-button" mat-dialog-close>Exit</button>
    </div>
</mat-dialog-content>
