/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

#toast-container>div {
    opacity: 1;
}

.mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
    background-color: #db5e5e;
}

.pointer {
    cursor: pointer;
}


/* Colores de los radio button de actividad del CRM */

#primero .mat-radio-outer-circle {
    border-color: #AD3475;
}

#primero .mat-radio-inner-circle {
    color: #AD3475;
    background-color: #AD3475;
}

#segundo .mat-radio-outer-circle {
    border-color: #DD42CB;
}

#segundo .mat-radio-inner-circle {
    color: #DD42CB;
    background-color: #DD42CB;
}

#tercer .mat-radio-outer-circle {
    border-color: #D1A924;
}

#tercer .mat-radio-inner-circle {
    color: #D1A924;
    background-color: #D1A924;
}

#cuarto .mat-radio-outer-circle {
    border-color: #4272DD;
}

#cuarto .mat-radio-inner-circle {
    color: #4272DD;
    background-color: #4272DD;
}

#quinto .mat-radio-outer-circle {
    border-color: #DD6642;
}

#quinto .mat-radio-inner-circle {
    color: #DD6642;
    background-color: #DD6642;
}

#sexto .mat-radio-outer-circle {
    border-color: #42DDB3;
}

#sexto .mat-radio-inner-circle {
    color: #42DDB3;
    background-color: #42DDB3;
}

#septimo .mat-radio-outer-circle {
    border-color: #EB4141;
}

#septimo .mat-radio-inner-circle {
    color: #EB4141;
    background-color: #EB4141;
}


/* Animaciones */

.animated {
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}