<mat-card class="new-test-component">
  <div class="title-component">
    <span class="material-icons">note_add</span>
    <h2>New test</h2>
  </div>
  <div class="form-newTest">
    <form [formGroup]="formTest">
      <mat-form-field appearance="standard" class="test-name">
        <mat-label>Test name</mat-label>
        <input matInput arial-label="name" placeholder="Name" formControlName="name" />
        <mat-error>A name for the test is required</mat-error>
      </mat-form-field>
      <mat-form-field class="test-description">
        <textarea matInput arial-label="description" placeholder="Description" formControlName="description"></textarea>
      </mat-form-field>
    </form>
  </div>
  <mat-card-content>
    <div class="folio">
      <div class="question" *ngFor="let question of questions; let i = index">
        <div class="question-hide" *ngIf="i !== this.questionIndex">
          <div class="question-statement">
            <span>{{ i + 1 }}. </span>{{ question.name }}
          </div>
          <div class="questions-margin">
            <div class="question-step"><span>Step: </span>{{ question.step }}</div>
            <div class="question-description"><span>Description: </span><div [innerHTML]="question.description"></div></div>
          </div>
        </div>

        <span class="question-actions">
          <button mat-icon-button matTooltip="Edit question" *ngIf="!showEditQuestion" (click)="editQuestion(question)">
            <mat-icon>create</mat-icon>
          </button>
          <button
            mat-icon-button
            matTooltip="Delete question"
            *ngIf="!showEditQuestion"
            (click)="removeQuestion(question)"
          >
            <mat-icon>delete</mat-icon>
          </button>
          <button
            mat-icon-button
            matTooltip="Comfirm edit question"
            *ngIf="showEditQuestion"
            (click)="confirmEditQuestion()"
          >
            <mat-icon>done</mat-icon>
          </button>
          <button
            mat-icon-button
            matTooltip="Cancel edit question"
            *ngIf="showEditQuestion"
            (click)="cancelEditQuestion()"
          >
            <mat-icon>clear</mat-icon>
          </button>
        </span>

        <form [formGroup]="formQuestion" class="form-question" *ngIf="showEditQuestion && i === this.questionIndex">
          <mat-form-field class="form-statement">
            <textarea matInput arial-label="name" placeholder="Title" formControlName="name"></textarea>
            <mat-error>A title for the question is required</mat-error>
          </mat-form-field>
          <mat-form-field class="form-step">
            <input matInput arial-label="name" placeholder="Step" formControlName="step" />
            <mat-error>Step should be a number (ie: 7)</mat-error>
          </mat-form-field>
          <mat-form-field class="form-description">
            <textarea
              matInput
              arial-label="description"
              placeholder="Description"
              formControlName="description"
            ></textarea>
          </mat-form-field>
          <mat-form-field class="form-type">
            <mat-select
              style="display: contents"
              arial-label="testType"
              placeholder="Type"
              formControlName="questionType"
            >
              <mat-option *ngFor="let type of questionTypes" [value]="type">{{ type }}</mat-option>
            </mat-select>
            <mat-error>A type for the question is required</mat-error>
          </mat-form-field>
        </form>

        <p>Answers:</p>
        <div class="text-answer" *ngIf="question.questionType === 'TEXT'">
          <app-ckeditor *ngIf="!showEditQuestion" [disabled]="true"></app-ckeditor>
        </div>
        <div class="question-answer" *ngFor="let answer of question.answers; let j = index">
          <div *ngIf="j !== this.answerIndex">
            <div class="answer-message">
              <span>{{ answer.value }} </span>{{ answer.message }}
            </div>
          </div>
          <form
            [formGroup]="formAnswer"
            *ngIf="
              (question.questionType === 'RADIO' || question.questionType === 'CHECKBOX') &&
              showEditAnswer &&
              j === this.answerIndex
            "
            class="answer-form"
          >
            <mat-form-field class="answer-statement-form">
              <input matInput arial-label="name" placeholder="Title" formControlName="message" />
              <mat-error>A title for the answer is required</mat-error>
            </mat-form-field>
            <mat-form-field class="answer-value-form">
              <input matInput arial-label="name" placeholder="Value" formControlName="value" />
              <mat-error>A value for the answer is required</mat-error>
            </mat-form-field>
          </form>

          <span class="answer-actions">
            <button
              mat-icon-button
              matTooltip="Edit answer"
              *ngIf="!showEditAnswer"
              (click)="editAnswer(question, answer)"
            >
              <mat-icon>create</mat-icon>
            </button>
            <button
              mat-icon-button
              matTooltip="Delete answer"
              *ngIf="!showEditAnswer"
              (click)="removeAnswer(question, answer)"
            >
              <mat-icon>delete</mat-icon>
            </button>
            <button
              mat-icon-button
              matTooltip="Comfirm edit answer"
              *ngIf="showEditAnswer"
              (click)="confirmEditAnswer(question)"
            >
              <mat-icon>done</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Cancel edit answer" *ngIf="showEditAnswer" (click)="cancelEditAnswer()">
              <mat-icon>clear</mat-icon>
            </button>
          </span>
        </div>

        <form
          [formGroup]="formAnswer"
          *ngIf="(question.questionType === 'RADIO' || question.questionType === 'CHECKBOX') && !showEditAnswer"
          class="answer-form"
        >
          <mat-card class="answer-card">
            <mat-card-content>
              <div class="add-answer">
                  <div class="answer-value-form">
                      <mat-form-field >
                        <input matInput arial-label="name" placeholder="Value" formControlName="value" />
                      </mat-form-field>
                  </div>
                  <div class="answer-statement-form">
                      <mat-form-field >
                        <input matInput arial-label="name" placeholder="Title" formControlName="message" />
                      </mat-form-field>
                  </div>
                <span
                  class="add-answer"
                  *ngIf="question.questionType === 'RADIO' || question.questionType === 'CHECKBOX'">
                  <button mat-stroked-button class="btn" (click)="addAnswer(question)">
                    Add Answer<mat-icon>add</mat-icon>
                  </button>
                </span>
              </div>
            </mat-card-content>
          </mat-card>
        </form>
      </div>

      <p class="question-text">New Question</p>
      <mat-card>
        <mat-card-content>
          <form [formGroup]="formQuestion" class="form-question" *ngIf="!showEditQuestion">
            <mat-form-field class="form-statement">
              <textarea matInput arial-label="name" placeholder="Title" formControlName="name"></textarea>
              <mat-error>A title for the question is required</mat-error>
            </mat-form-field>
            <mat-form-field class="form-step">
              <input matInput arial-label="name" placeholder="Step" formControlName="step" />
              <mat-error>Step should be a number (ie: 7)</mat-error>
            </mat-form-field>
            <mat-form-field class="form-type">
              <mat-select arial-label="testType" placeholder="Type" formControlName="questionType">
                <mat-option *ngFor="let type of questionTypes" [value]="type">{{ type }}</mat-option>
              </mat-select>
              <mat-error>A title for the question is required</mat-error>
            </mat-form-field>
            <div class="editor">
              <app-ckeditor [control]="formQuestion.get('description')"></app-ckeditor>
            </div>
          </form>
          <span class="add-question">
            <button mat-stroked-button class="btn" matTooltip="Add question" (click)="addQuestion()">
              Add Question<mat-icon>add</mat-icon>
            </button>
          </span>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-card-content>

  <mat-card-actions>
    <div class="buttons-test">
      <button mat-flat-button class="staffit-button reset-test-button" (click)="onTestReset()">Reset Test >></button>
      <button mat-flat-button class="staffit-button cancel-button" (click)="onCancelClick()">Cancel >></button>
      <button mat-flat-button class="staffit-button save-test-button" (click)="onTestSave()">Save Test >></button>
    </div>
  </mat-card-actions>
</mat-card>
