
<mat-expansion-panel [expanded]=true [togglePosition]="'before'">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <h3 class="title">Contacts ({{this.contactSliderListData.account.contacts.length}})</h3>
        </mat-panel-title>
        <mat-chip-list>
            <mat-chip (click)="openContactDialog()">+ Add</mat-chip>
        </mat-chip-list>
    </mat-expansion-panel-header>

    <app-contact-item *ngFor="let contact of this.contactSliderListData.account.contacts"
                      [contact]="contact"
                      [carDictionary]="this.contactSliderListData.cars"
                      [subCarDictionary]="this.contactSliderListData.subCars"
    ></app-contact-item>
</mat-expansion-panel>
