@import "./staffit-style-1";

::ng-deep {
    .mat-dialog-container {
        padding: 0;
    }
    .mat-dialog-content {
        margin: 0;
        padding: 0;
        min-height: 470px;
    }
}

.black-dialog {
    background-color: black;
    width: 165px;
    padding-left: 15px;
    border-radius: 5px;
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 19px 3px rgba(0, 0, 0, 0.14), 0px 9px 36px 8px rgba(0, 0, 0, 0.12);


    img {
        width: 100%;
        margin-top: 210px;
    }
}
.readOnlyInput{
    opacity: 0.3;
    cursor: not-allowed;
}

.dialog {
    width: 850px;
    display: flex;

}

.detail {
    height: 500px;
}

.form {
    min-height: 550px;
    height: 550px;
    max-height: 550px;
}

.dialog-content {
    width: 100%;
    overflow-y: auto;
    padding: 40px 40px 0 80px;
    // display: grid;

    span {
        font-weight: 500;
    }
}

.dialog-content-detail {
    // padding: 40px 40px 0 80px;
    padding: 55px;
}

.dialog-content-form {
    padding: 30px 50px 30px 100px;
}

.title { 
    display: flex;
}

.red-date {
    color: #eb4141;
    font-weight: 400 !important;
}

.columns {
    display: flex;
    margin-top: 15px;
    section {
        width: 50%;
        padding-right: 10px;
    }
}

.exit-button {
    margin: 30px 0 0 500px;
    background-color: #c2c2c2;
    color: white;
    width: 100px;
    border-radius: 24px;
    height: 40px;
}

.circle-content{
    position: relative;
    margin: 20px 40px 0 50px;
}

.circle-content-opportunity{
    position: relative;
    margin: auto 40px auto auto;
}

/* 
    --------------
    DYNAMIC CIRCLE
    --------------
*/

.circle {
    width: 30px;
    height: 30px;
    border: 0px solid #c2c2c2;
    border-radius:120px;
    line-height:200px;
    text-align:center;
    color:#ddd;
    font-size:25px;
    font-weight:600;
    position: absolute;
    overflow:hidden;
    z-index: 1;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.circle:before {
    content:"";
    position:absolute;
    width:85px;
    height:85px;
    background-color: var(--tooltip-color);
    left:50%;
    transform:translateX(-50%);
    border-radius:40%;
    animation:fill 3s ease-in-out;
    z-index:-1;
}

@keyframes fill {
    from {
        top:30px;
        transform:translateX(-50%) rotate(0deg);
    }
    to {
        top:-50px;
        transform:translateX(-50%) rotate(360deg);
    }
}

/* 
    FORM 
*/

.buttons {
    display: flex;
    margin-bottom: 30px;
}

.exit-button-form {
    margin: 30px 0 0 325px;
    background-color: #c2c2c2;
    color: white;
    width: 100px;
    border-radius: 24px;
    height: 40px;
}

.submit-button {
    margin: 30px 0 0 25px;
    background-color: #e46e75;
    color: white;
    min-width: 100px;
    border-radius: 24px;
    height: 40px;
}

/* 
    CIRCLE COLOR 
        &&
    PRIORITY
*/

.activity-color, .opportunity-color {
    width: 18px;
    height: 18px;
    border-radius: 15px;
    margin: auto;
}

.activity-priority, .opportunity-priority {
    margin: auto 0px auto auto;
    text-align: center;
}

.priority {
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    font-weight: 500;
    text-transform: capitalize;
}

.priority-muyalta { background-color: #d84855 }
.priority-alta { background-color: #e97171 }
.priority-normal { background-color: #ffcb8e }
.priority-baja { background-color: #a3d69d }
.priority-ninguna { background-color: #c2c2c2 }

/* 
    ------
    SCROLL
    ------
*/

.dialog-content::-webkit-scrollbar {
    width: 10px;
}

.dialog-content::-webkit-scrollbar-thumb {
    background: #c2c2c2;
    border-radius: 4px;
}