<div class="tools">
    <button mat-fab
            class="tools__button tools__button-chat"
            color="primary"
            aria-label="Open chat icon button"
            (click)="setChatVisibility(true)">
        <mat-icon>insert_comment</mat-icon>
    </button>
    <button mat-fab
            class="tools__button tools__button-storage"
            color="primary"
            aria-label="Open storage icon button"
            (click)="setStorageVisibility(true)">
        <mat-icon>folder</mat-icon>
    </button>
</div>
<mat-card *ngIf="!loading && storageHidden" class="c-card-component">
    <!-- HEADER -->
    <div class="title-component">
        <h2>NEW EMPLOYEE REQUEST</h2>
    </div>
    <mat-card-content>
        <mat-horizontal-stepper>
            <!-- #region Tab 1 Personal Data-->
            <mat-step [stepControl]="personalData">
                <ng-template matStepLabel>Employee personal data</ng-template>
                <form [formGroup]="personalData" class="formulario">
                    <mat-form-field appearance="outline" class="thirdSelect">
                        <mat-label>Name:</mat-label>
                        <input aria-label="input" matInput placeholder="Name" formControlName="name"/>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="thirdSelect">
                        <mat-label>Surname:</mat-label>
                        <input aria-label="input" matInput placeholder="Surname" formControlName="surname"/>
                    </mat-form-field>
                    <app-autocomplete *ngIf="isFromCandidate" class="autocomplete-edit m-auto-right" [width]="'100%'"
                                      [placeholder]="'Email Options'" [matLabel]="'Email Options'"
                                      [options]="emailOptions" [appearance]="'outline'" [defaultValue]="''"
                                      (selectedValue)="
                    autocompleteSelected({ form: this.personalData, formField: 'personalEmail', value: $event })
                  ">
                    </app-autocomplete>

                    <mat-form-field appearance="outline" class="thirdSelect" *ngIf="!isFromCandidate">
                        <mat-label>Personal Email:</mat-label>
                        <input aria-label="input" matInput placeholder="Personal Email"
                               formControlName="personalEmail"/>
                        <mat-error>Enter a personal email</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="thirdSelect">
                        <mat-label>Personal Phone:</mat-label>
                        <input aria-label="input" matInput placeholder="Phone" formControlName="personalPhone"/>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="thirdSelect">
                        <mat-label>Dni:</mat-label>
                        <input aria-label="input" matInput placeholder="Dni" formControlName="dni"/>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="thirdSelect">
                        <mat-label>Social Security Number:</mat-label>
                        <input aria-label="input" matInput placeholder="SSN" formControlName="socialSecurityNumber"/>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="thirdSelect">
                        <mat-label>Bank Account Number:</mat-label>
                        <input aria-label="input" matInput placeholder="IBAN" formControlName="bankAccountNumber"/>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="thirdSelect">
                        <mat-label>Nationality:</mat-label>
                        <input aria-label="input" matInput placeholder="Nationality" formControlName="nationality"/>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="thirdSelect">
                        <mat-label>Civil State:</mat-label>
                        <input aria-label="input" matInput placeholder="Civil State" formControlName="civilState"/>
                    </mat-form-field>

                    <app-autocomplete class="autocomplete-edit m-auto-right" [width]="'100%'"
                                      [placeholder]="'English Level'" [matLabel]="'English Level'"
                                      [options]="englishLevelOptions" [appearance]="'outline'"
                                      [defaultValue]="this.englishLevel"
                                      (selectedValue)="
              autocompleteSelected({ form: this.personalData, formField: 'englishLevel', value: $event })
            ">
                    </app-autocomplete>

                    <mat-form-field appearance="outline" class="thirdSelect">
                        <mat-label>Linkedin:</mat-label>
                        <input aria-label="input" matInput placeholder="Linkedin" formControlName="linkedin"/>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="thirdSelect">
                        <mat-label>Address</mat-label>
                        <input aria-label="input" matInput placeholder="Address" formControlName="address"/>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="thirdSelect">
                        <mat-label>City</mat-label>
                        <input aria-label="input" matInput placeholder="City" formControlName="city"/>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="thirdSelect">
                        <mat-label>Province</mat-label>
                        <input aria-label="input" matInput placeholder="Province" formControlName="province"/>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="thirdSelect">
                        <mat-label>Post Code</mat-label>
                        <input aria-label="input" matInput placeholder="Post Code" formControlName="postalCode"/>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Birthday</mat-label>
                        <input matInput formControlName="birthday" [matDatepicker]="picker"/>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Start Date</mat-label>
                        <input matInput formControlName="startDate" [matDatepicker]="startPicker"/>
                        <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                        <mat-datepicker #startPicker></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="createEmployeeRequest-textarea">
                        <mat-label>Current studies level</mat-label>
                        <textarea rows="5" matInput formControlName="currentStudiesLevel"></textarea>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="createEmployeeRequest-textarea">
                        <mat-label>On going studies</mat-label>
                        <textarea rows="5" matInput formControlName="ongoingStudies"></textarea>
                    </mat-form-field>

                    <div class="hasChildren">
                        <!-- ES QUE NADIE PIENSA EN LOS NIÑOS? -->
                        <mat-checkbox #children formControlName="hasChildren" class="checkbox">Has children
                        </mat-checkbox>

                        <div class="children" *ngIf="children.checked">
                            <mat-form-field appearance="outline" class="thirdSelect">
                                <mat-label>Age Child 1:</mat-label>
                                <input aria-label="input" matInput placeholder="Age Child" formControlName="ageChild1"/>
                                <mat-error>Type the age (ie: 7)</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="thirdSelect">
                                <mat-label>Age Child 2:</mat-label>
                                <input aria-label="input" matInput placeholder="Age Child" formControlName="ageChild2"/>
                                <mat-error>Type the age (ie: 7)</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="thirdSelect">
                                <mat-label>Age Child 3:</mat-label>
                                <input aria-label="input" matInput placeholder="Age Child" formControlName="ageChild3"/>
                                <mat-error>Type the age (ie: 7)</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="thirdSelect">
                                <mat-label>Age Child 4:</mat-label>
                                <input aria-label="input" matInput placeholder="Age Child" formControlName="ageChild4"/>
                                <mat-error>Type the age (ie: 7)</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </form>
                <div class="buttons">
                    <button class="back" mat-button matStepperPrevious>Back</button>
                    <button class="next" mat-button matStepperNext>Next</button>
                </div>
            </mat-step>
            <!-- #endregion -->
            <!-- #region Tab 2 BusinessData-->
            <mat-step [stepControl]="businessData">
                <ng-template matStepLabel>Employee Business data</ng-template>
                <form [formGroup]="businessData" class="formulario">
                    <mat-form-field appearance="outline" class="thirdSelect">
                        <mat-label>Technology group:</mat-label>
                        <input aria-label="input" matInput placeholder="Technology group"
                               formControlName="technologyGroup"/>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="thirdSelect">
                        <mat-label>Annual Salary:</mat-label>
                        <input aria-label="input" matInput placeholder="Annual Salary" formControlName="annualSalary"/>
                        <mat-error>Type the anual salary (ie: 7)</mat-error>
                        <mat-icon matSuffix>euro_symbol</mat-icon>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="thirdSelect">
                        <mat-label>Incorporation Bonus:</mat-label>
                        <input aria-label="input" matInput placeholder="Incorporation Bonus"
                               formControlName="bonusIncorporation"/>
                        <mat-error>Type the incorporation bonus (ie: 7)</mat-error>
                        <mat-icon matSuffix>euro_symbol</mat-icon>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="thirdSelect">
                        <mat-label>Permanence Bonus:</mat-label>
                        <input aria-label="input" matInput placeholder="Permanence Bonus"
                               formControlName="bonusPermanence"/>
                        <mat-error>Type the permanence bonus (ie: 7)</mat-error>
                        <mat-icon matSuffix>euro_symbol</mat-icon>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="thirdSelect">
                        <mat-label>Business email:</mat-label>
                        <input aria-label="input" matInput placeholder="Business email"
                               formControlName="businessEmail"/>
                        <mat-error>This email is already in use</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="thirdSelect">
                        <mat-label>Business Phone:</mat-label>
                        <input aria-label="input" matInput placeholder="Business Phone"
                               formControlName="businessPhone"/>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="thirdSelect">
                        <mat-label>Monthly Payments:</mat-label>
                        <input aria-label="input" matInput placeholder="Monthly Payments"
                               formControlName="monthlyPayments"/>
                        <mat-icon matSuffix>euro_symbol</mat-icon>
                        <mat-error>Type the monthly payments (ie: 7)</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="thirdSelect">
                        <mat-label>Month Bonus Incorporation:</mat-label>
                        <input aria-label="input" matInput placeholder="Month Bonus Incorporation"
                               formControlName="monthBonusIncorporation"/>
                        <mat-icon matSuffix>euro_symbol</mat-icon>
                        <mat-error>Type the month bonus incorporation (ie: 7)</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="thirdSelect">
                        <mat-label>Month Bonus Permanence:</mat-label>
                        <input aria-label="input" matInput placeholder="Month Bonus Permanence"
                               formControlName="monthBonusPermanence"/>
                        <mat-icon matSuffix>euro_symbol</mat-icon>
                        <mat-error>Type the month bonus permanence (ie: 7)</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="thirdSelect">
                        <mat-label>Variable Salary:</mat-label>
                        <input aria-label="input" matInput placeholder="Variable Salary"
                               formControlName="variableSalary"/>
                        <mat-icon matSuffix>euro_symbol</mat-icon>
                        <mat-error>Type the variable salary (ie: 7)</mat-error>
                    </mat-form-field>

                    <app-autocomplete class="autocomplete-edit m-auto-right" [width]="'100%'" [placeholder]="'SubCar'"
                                      [matLabel]="'SubCar'" [options]="subcarOptions" [appearance]="'outline'"
                                      [defaultValue]="subcarName" (selectedValue)="
              autocompleteSelected({ form: this.businessData, formField: 'idSubcar', value: $event })
            ">
                    </app-autocomplete>

                    <app-autocomplete class="autocomplete-edit m-auto-right" [width]="'100%'" [placeholder]="'Category'"
                                      [matLabel]="'Category'" [options]="categoryOptions" [appearance]="'outline'"
                                      [defaultValue]="categoryName" (selectedValue)="
              autocompleteSelected({ form: this.businessData, formField: 'idCategory', value: $event })
            ">
                    </app-autocomplete>

                    <app-autocomplete class="autocomplete-edit m-auto-right" [width]="'100%'" [placeholder]="'Office'"
                                      [matLabel]="'Office'" [options]="officeOptions" [appearance]="'outline'"
                                      [defaultValue]="officeName" (selectedValue)="
              autocompleteSelected({ form: this.businessData, formField: 'idOffice', value: $event })
            ">
                    </app-autocomplete>

                    <app-autocomplete class="autocomplete-edit m-auto-right" [width]="'100%'" [placeholder]="'Center'"
                                      [matLabel]="'Center'" [options]="centerOptions" [appearance]="'outline'"
                                      [defaultValue]="centerName" (selectedValue)="
              autocompleteSelected({ form: this.businessData, formField: 'idCenter', value: $event })
            ">
                    </app-autocomplete>

                    <app-autocomplete class="autocomplete-edit m-auto-right" [width]="'100%'" [placeholder]="'Company'"
                                      [matLabel]="'Company'" [options]="companyOptions" [appearance]="'outline'"
                                      [defaultValue]="companyName" (selectedValue)="
              autocompleteSelected({ form: this.businessData, formField: 'idCompany', value: $event })
            ">
                    </app-autocomplete>

                    <mat-form-field appearance="outline" class="thirdSelect">
                        <mat-label>Contract Type:</mat-label>
                        <input aria-label="input" matInput placeholder="Contract Type:"
                               formControlName="typeOfContract"/>
                    </mat-form-field>

                    <app-autocomplete class="autocomplete-edit m-auto-right" [width]="'100%'"
                                      [placeholder]="'Working Day'"
                                      [matLabel]="'Working Day'"
                                      [options]="this.workingDayOptions"
                                      [appearance]="'outline'"
                                      [defaultValue]="workingDayName"
                                      (selectedValue)="
              autocompleteSelected({ form: this.businessData, formField: 'idWorkingDay', value: $event })
            ">
                    </app-autocomplete>

                    <mat-form-field appearance="outline" class="createEmployeeRequest-textarea">
                        <mat-label>Comments</mat-label>
                        <textarea rows="5" matInput formControlName="comments"></textarea>
                    </mat-form-field>

                    <mat-checkbox formControlName="referenced" class="checkbox">Referenced</mat-checkbox>
                </form>
                <div class="buttons">
                    <button class="back" mat-button matStepperPrevious>Back</button>
                    <button class="next" mat-button matStepperNext>Next</button>
                </div>
            </mat-step>
            <!--#endregion-->
            <!-- #region Tab 4 Done-->
            <mat-step>
                <ng-template matStepLabel>Done</ng-template>
                <p *ngIf="canBeSent">
                    Now you are done, please check that all information is correctly filled and that all the files you
                    need have been correctly uploaded
                </p>

                <div class="buttons">
                    <button class="back" mat-button matStepperPrevious>Back</button>
                    <button *ngIf="canBeSent" class="next" mat-button (click)="send()">
                        Enviar
                    </button>
                </div>
            </mat-step>
            <!--#endregion-->
        </mat-horizontal-stepper>
    </mat-card-content>
</mat-card>

<app-chat [visible]="!chatHidden"
          (closed)="setChatVisibility(false)"
          [id]="idChat">
</app-chat>

<app-storage *ngIf="!storageHidden"
             [id]="idStorage"
             [readonly]="false"
             [fileTags]="tags"
             (closed)="setStorageVisibility(false)"
></app-storage>
