@import "../../../../../../assets/styles/staffit-style-1";

.title-component {
  display: flex;
  align-items: center;
}

.title-component > span {
  margin: 0;
}

.title-component > h2 {
  padding-left: 10px;
}

.formulario {
  display: flex;
  flex-wrap: wrap;
  margin: 25px 0;

  mat-form-field {
    margin: 0 20px;
    width: 29%;
  }
}

.hasChildren {
  width: 100%;

  .checkbox {
    margin-left: 20px;
  }
}

.buttons {
  display: flex;
  justify-content: flex-end;

  button {
    margin: 0 10px;
    color: white;
    border-radius: 30px;
  }

  .next {
    background: #de7373;
  }

  .back {
    background: #979797;
  }
}

.autocomplete-edit {
  margin: 0 20px;
  width: 29%;
}

mat-icon {
  opacity: 0.6;
}

.drags {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-around;

  app-dragndrop2 {
    width: 60%;
    margin: 30px 0px;
  }

  mat-list {
    width: 40%;
    margin: 30px 0;
  }

  .mat-list-item-content {
    text-align: start;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1) !important;
    display: flex;
    justify-content: space-between;
    width: 100%;

    span,
    p {
      min-height: unset;
      display: inline-block;
      white-space: nowrap;
      width: 50%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .upload-info-container {
    flex-grow: 2;

    .saved-list,
    .non-saved-list {
      margin: 5px;
      overflow-y: auto;
      height: 50%;

      .list-title {
        font-weight: 700;
      }
    }
  }

  .control {
    display: flex;
    justify-content: space-between;
    width: 40%;

    span {
      cursor: pointer;
      text-align: center;
    }

    mat-select {
      width: 100%;
    }
  }
}

.createEmployeeRequest-textarea {
  width: 93% !important;
}

@media (max-width: 1750px) {
  .createEmployeeRequest-textarea {
    width: 95% !important;
  }
}

mat-checkbox {
  margin-left: 20px;
}
