<div class="container">
  <mat-card>
    <div class="cancelButton">
      <button mat-flat-button><mat-icon>cancel</mat-icon></button>
    </div>
    <div>
      <div class="title">
        <span class="houseIcon"
        ><img src="../../../../assets/icons/house.svg" width="17px"
              alt="house"/></span>
        <h5>BOOKING ROOM</h5>
      </div>
    </div>
    <form [formGroup]="firstFormGroup" class="general-form">
      <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <mat-select formControlName="city" required>
          <mat-option>Select city</mat-option>
          <mat-option *ngFor="let city of cities" [value]="city">{{
            city
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Rooms number</mat-label>
        <input matInput formControlName="roomNumber" type="number" required />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Check-in</mat-label>
        <input matInput [matDatepicker]="pickerCheckIn" />
        <mat-datepicker-toggle
          matSuffix
          [for]="pickerCheckIn"
        ></mat-datepicker-toggle>
        <mat-datepicker #pickerCheckIn></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Check-out</mat-label>
        <input matInput [matDatepicker]="pickerCheckOut" />
        <mat-datepicker-toggle
          matSuffix
          [for]="pickerCheckOut"
        ></mat-datepicker-toggle>
        <mat-datepicker #pickerCheckOut></mat-datepicker>
      </mat-form-field>

      <div class="applyContainer">
        <button mat-flat-button class="applyButton" routerLink="./confirmation">
          Save >>
        </button>
      </div>
    </form>
  </mat-card>
</div>
