<h2>BOOKING ROOM</h2>
<mat-dialog-content class="dialog">
    <form [formGroup]="form" class="dialog-content">
        <!--<div class="rows">
            <mat-icon>title</mat-icon>
            <mat-form-field appearance="standard">
                <mat-label>Title</mat-label>
                <input  aria-label="Title" matInput placeholder="Title" formControlName="title">
            </mat-form-field>
        </div>-->
        <div class="rows">
            <mat-icon>person_add_alt</mat-icon>
            <mat-form-field class="languages-chip-list row-field" appearance="standard">
                <mat-label>Users</mat-label>
                <mat-chip-list #userChipList aria-label="Users">
                    <mat-chip *ngFor="let user of users" [selectable]="true"
                            [removable]="true" (removed)="removeUser(user)">
                        {{ user.businessEmail }}
                        <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
                    </mat-chip>
                    <input *ngIf="users.length===0" #userInput formControlName="user"  placeholder="Users"
                            [formControl]="userCtrl"
                            [matChipInputFor]="userChipList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            [matChipInputAddOnBlur]="true"
                            (matChipInputTokenEnd)="addUser($event)" readonly>
                </mat-chip-list>
                <!--<mat-autocomplete #auto="matAutocomplete" (optionSelected)="userSelected($event)">
                    <mat-option *ngFor="let user of allUsers" [value]="user">
                    {{ user }}
                    </mat-option>
                </mat-autocomplete>-->
            </mat-form-field>
        </div>
        <div class="date rows">
            <mat-icon>access_time</mat-icon>
            <mat-form-field class="day" appearance="standard" class="date-input">
                <mat-label>Day</mat-label>
                <input matInput placeholder="Day" formControlName="day" aria-label="Day"
                        [matDatepicker]="day" readonly>
                <!--<mat-datepicker-toggle matSuffix [for]="day"></mat-datepicker-toggle>-->
                <mat-datepicker #day></mat-datepicker>
                <mat-error>Select a date</mat-error>
            </mat-form-field>

            <app-autocomplete-required class="checkInOut"  
                    [placeholder]="'Chek In'"
                    [matLabel]="'Check In'"
                    [options]="periodOptions"
                    [appearance]="'standard'"
                    [defaultValue]="checkIn || ''"
                    (selectedValue)="autocompleteSelected({formField: 'checkIn', value: $event})">
            </app-autocomplete-required>
            <app-autocomplete-required class="checkInOut"  
                    [placeholder]="'Chek Out'"
                    [matLabel]="'CheckOut'"
                    [options]="periodsOutOptions"
                    [appearance]="'standard'"
                    [defaultValue]="checkOut || ''"
                    (selectedValue)="autocompleteSelected({formField: 'checkOut', value: $event})">
            </app-autocomplete-required>

        </div>
        <div class="rows">
            <mat-icon>room</mat-icon>
            <mat-form-field appearance="standard">
                <mat-label>Room</mat-label>
                <input  aria-label="Room" matInput placeholder="Room" formControlName="room" readonly>
            </mat-form-field>
        </div>
        <!--<div class="rows">
            <mat-icon>notes</mat-icon>
            <mat-form-field appearance="standard">
                <mat-label>Description</mat-label>
                <textarea  aria-label="Description" matInput placeholder="Description" formControlName="description"></textarea>
            </mat-form-field>
        </div>-->
        <div class="actionButtons">
            <button mat-button class="exitButton" (click)="onCancelClick()" >Exit</button>
            <button mat-button (click)="onBookingClick()">{{joinButton}}</button>
        </div>
    </form>
</mat-dialog-content>