@import '../../../../../../assets/styles/dialog-unified.scss';

.mat-dialog-content {
    margin: 0;
    padding: 0;
    min-height: 300px;
}

h2{
    margin: 4% 0 0 6%;
}
.date{
    display: flex;
    gap: 5px;

    .day{
        width: 60%;
    }

    .checkInOut{
        width: 20%;
    }
}

.dialog{
    width: 550px;
    display: flex;
    max-height: 320px; //450px
}

.dialog-content{
    padding: 0 25px 24px 25px;
    overflow-y: auto;
}
.rows{
    display: flex;
    align-items: center;

    mat-icon{
        margin-right: 10px;
    }
}
.actionButtons{
    display: flex;
    flex-direction: row;
    gap: 2%;
    justify-content: flex-end;

    button {
        background-color: $color-palette-1-main;
        border-radius: 2rem;
        height: 2.3rem;
        width: 17%;
        color: #efefef;
        align-self: flex-end;
    }

    .exitButton{
        background-color: #c2c2c2;
    }
}
