<div class="contact-detail-content" *ngIf="!loading">
    <app-edit-contact
            class="flex-detail"
            [contactEditData]="contactEditData"
            (modContact)="editContact($event)">
    </app-edit-contact>
    <app-contact-slider
            [contactSliderData]="contactSliderData"
            (addedActivity)="addActivity($event)"
            (addedOpportunity)="addOpportunity($event)"
            (modActivity)="editActivity($event)"
            (modOpportunity)="editOpportunity($event)"
            class="flex-slider">
    </app-contact-slider>
</div>
