@import '../../../../../assets/styles/staffit-style-1.scss';

.contact-detail-content {
    margin: 3.5rem 1.5em 0 1.5rem;
    max-height: 88%;
    display: flex;
    flex-wrap: nowrap;
}

.flex-detail {
    flex-basis: 70%;
}

.flex-slider {
    flex-basis: 30%
}

@media (max-width: 1750px) {
    .flex-detail {
        flex-basis: 60%;
    }
    
    .flex-slider {
        flex-basis: 40%
    }
}
