@import '../../../../../assets/styles/dialog-unified.scss';

.future-div{
    margin-top: -17px;
    display: flex;
    .yellow {
        font-size: 17px;
        color: #ffc056;
    }
}
.future {
    font-weight: 300 !important;
    font-size: 13px;
}

.dependent-input {
    display: flex;
    justify-content: space-between;
    width: 200%;
}

.dependent-input mat-checkbox {
    width: 100%;
    margin-bottom: 10px;
    padding-right: 20px;
}

.dependent-input .mat-form-field {
    padding: 0 10px;
}

mat-form-field {
    width: 100%;
}