<mat-dialog-content class="dialog form">
    <div class="black-dialog">
        <img src="../../../../../assets/CRM/icons/dialogs/euro-target.png" alt="">
    </div>
    <form [formGroup]="form" class="dialog-content dialog-content-form">
        <h2>NEW OPPORTUNITY</h2>
        <div class="columns">
            <section>
                <mat-form-field appearance="outline" *ngIf="this.data.father !== undefined; elseOpt">
                    <mat-label>Assigned Account</mat-label>
                    <input class="readOnlyInput" aria-label="account" matInput placeholder="Account" formControlName="account" readonly>
                </mat-form-field>
                

                <app-autoselect *ngIf="!this.data.father" class="autoSelect"
                                [config]="accountConfig"
                                (selectedValue)="autocompleteSelected({ formField: 'accountId', value: $event })"
                                (search)="changeOptions({searchValue: 'idAccount', value: $event})">
                </app-autoselect>

                <mat-form-field appearance="outline">
                    <mat-label>Opportunity Name</mat-label>
                    <input matInput placeholder="Opportunity Name" formControlName="opportunityName" required>
                    <mat-error>Enter an opportunity name</mat-error>
                </mat-form-field>

                <app-autocomplete-required [placeholder]="'Car'"
                                           [matLabel]="'Car'"
                                           [options]="allCarOptions"
                                           [appearance]="'outline'"
                                           [defaultValue]="defaultCar"
                                           (selectedValue)="autocompleteSelected({formField: 'car', value: $event})">
                </app-autocomplete-required>

                <app-autocomplete-required [placeholder]="'State'"
                                           [matLabel]="'State'"
                                           [options]="allStateOptions"
                                           [appearance]="'outline'"
                                           [defaultValue]="''"
                                           (selectedValue)="autocompleteSelected({formField: 'state', value: $event})">
                </app-autocomplete-required>

                <app-autocomplete-required [placeholder]="'Probability'"
                                  [matLabel]="'Probability'"
                                  [options]="allProbabilityOptions"
                                  [appearance]="'outline'"
                                  [defaultValue]="''"
                                  (selectedValue)="autocompleteSelected({formField: 'probability', value: $event})">
                </app-autocomplete-required>

                <mat-form-field appearance="outline" class="date-input">
                    <mat-label>Warning Date</mat-label>
                    <input matInput placeholder="Warning date" formControlName="warningDate" aria-label="warningDate"
                           [matDatepicker]="warningDate">
                    <mat-datepicker-toggle matSuffix [for]="warningDate"></mat-datepicker-toggle>
                    <mat-datepicker #warningDate></mat-datepicker>
                    <mat-error>Select a date</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="date-input">
                    <mat-label>Close Date</mat-label>
                    <input matInput placeholder="Close date" formControlName="closeDate" aria-label="closeDate"
                           [matDatepicker]="closeDate">
                    <mat-datepicker-toggle matSuffix [for]="closeDate"></mat-datepicker-toggle>
                    <mat-datepicker #closeDate></mat-datepicker>
                    <mat-error>Select a date</mat-error>
                </mat-form-field>

                <div class="dependent-input">
                    <mat-checkbox formControlName="dedicatedResource" [disabled]="this.form.get('projectClosed').value">Dedicated Resource</mat-checkbox>
      
                    <mat-form-field *ngIf="this.form.get('dedicatedResource').value"
                                    appearance="outline" class="thirdSelect m-auto-left">
                      <mat-label>Resource Numbers</mat-label>
                      <input matInput placeholder="Resource Numbers" formControlName="resourceNumbers" />
                    </mat-form-field>
                </div>

                <div class="dependent-input">
                    <mat-checkbox formControlName="projectClosed" [disabled]="this.form.get('dedicatedResource').value">Fixed price project</mat-checkbox>
      
                    <mat-form-field *ngIf="this.form.get('projectClosed').value"
                                    appearance="outline" class="thirdSelect m-auto-left">
                      <mat-label>Recurring Percentage</mat-label>
                      <input matInput placeholder="Recurring Percentage" formControlName="recurrentPercentage" />
                    </mat-form-field>
                </div>
            </section>

            <section>
                <mat-form-field appearance="outline" *ngIf="this.data.father?.type === 'Contact'">
                    <mat-label>Assigned Contact</mat-label>
                    <input class="readOnlyInput" aria-label="contact" matInput placeholder="Contact" formControlName="contact" readonly>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Assigned User</mat-label>
                    <input class="readOnlyInput" matInput placeholder="User" formControlName="user" readonly>
                </mat-form-field>

                <app-autocomplete *ngIf="this.data.father?.type !== 'Contact'"[placeholder]="'Territory'"
                                  [matLabel]="'Territory'"
                                  [options]="allTerritoryOptions"
                                  [appearance]="'outline'"
                                  [defaultValue]="defaultTerritory"
                                  (selectedValue)="autocompleteSelected({formField: 'territory', value: $event})">
                </app-autocomplete>


                <app-autocomplete-required [placeholder]="'SubCar'"
                                           [matLabel]="'SubCar'"
                                           [options]="allSubCarOptions"
                                           [appearance]="'outline'"
                                           [defaultValue]="defaultSubCar"
                                           (selectedValue)="autocompleteSelected({formField: 'subCar', value: $event})">
                </app-autocomplete-required>

                <app-autocomplete *ngIf="this.data.father?.type === 'Contact'"[placeholder]="'Territory'"
                                            [matLabel]="'Territory'"
                                            [options]="allTerritoryOptions"
                                            [appearance]="'outline'"
                                            [defaultValue]="defaultTerritory"
                                            (selectedValue)="autocompleteSelected({formField: 'territory', value: $event})">
                </app-autocomplete>
                <app-autocomplete [placeholder]="'Priority'"
                                  [matLabel]="'Priority'"
                                  [options]="allPriorityOptions"
                                  [appearance]="'outline'"
                                  [defaultValue]="'Normal'"
                                  (selectedValue)="autocompleteSelected({formField: 'priority', value: $event})">
                </app-autocomplete>

                <!-- @TODO "(siempre .miles€)"-->
                <mat-form-field appearance="outline">
                    <mat-label>Estimated Budget</mat-label>
                    <input matInput placeholder="Estimated Budget" formControlName="estimatedBudget" required>
                    <mat-error>Enter a budget</mat-error>
                </mat-form-field>
                <app-autoselect class="autoSelect"
                                [config]="supportBosonitConfig"
                                (selectedValue)="autocompleteSelected({formField: 'supportBosonit', value: $event})"
                                (search)="changeOptions({searchValue: 'supportBosonit', value: $event})">
                </app-autoselect>
            </section>
        </div>

        <div class="buttons">
            <button mat-button class="exit-button-form" (click)="onCancelClick()">Exit</button>
            <button mat-button type="submit" class="submit-button" (click)="onSaveClick()">Create</button>
        </div>
    </form>
</mat-dialog-content>
