<mat-toolbar *ngIf="mobile">
        <p>Staffit</p>
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav class="sidenav"
                 mode="{{mode}}"
                 opened="{{!mobile || opened}}"
                 #sidenav
                 [fixedInViewport]="true">
        <div class="header">
            <div *ngIf="!mobile" class="banner">
                <p class="banner__logo">Staffit</p>
                <button class="banner__button" mat-icon-button>
                    <mat-icon class="banner__icon">menu</mat-icon>
                </button>
            </div>
            <div class="user">
                <img class="user__img"
                     alt="user-img"
                     src="{{imageLink || 'assets/icons/user-2-1.svg'}}">
                <p class="user__text user__text-name">{{username}}</p>
                <p class="user__text user__text-email">{{email}}</p>
                <p class="user__text user__text-category">{{category}}</p>
                <div class="user__actions">
                    <button class="user__button"
                            mat-icon-button
                            matTooltip="My employee"
                            (click)="mobile && sidenav.toggle()"
                            [routerLink]="['/app/my-staffit/my-employee']">
                        <mat-icon>account_circle</mat-icon>
                    </button>
                    <button class="user__button"
                            mat-icon-button
                            matTooltip="Alerts"
                            (click)="showLogoutDialog()">
                        <mat-icon>notifications</mat-icon>
                    </button>
                    <button class="user__button"
                            mat-icon-button
                            matTooltip="Log out"
                            (click)="showLogoutDialog()">
                        <mat-icon>logout</mat-icon>
                    </button>
                </div>
            </div>
        </div>
        <div class="body scrollbar-style">
            <mat-accordion *ngFor="let module of modules" class="module">
                <mat-expansion-panel class="module__panel mat-elevation-z0"
                                     *ngIf="hasAccessToModule(module.name)"
                                     [expanded]="true">
                    <mat-expansion-panel-header>
                        <p class="module__name">{{module.name | uppercase}}</p>
                    </mat-expansion-panel-header>

                    <ul class="module__nav">
                        <ng-container *ngFor="let child of module.children">
                            <ng-container *ngIf="hasAccessToSubmodule(child.name)">
                                <li *ngIf="!child.children; else noLeaf" class="module__leaf">
                                    <mat-icon class="module__icon">{{child.icon}}</mat-icon>
                                    <a class="module__link" (click)="mobile && sidenav.toggle()" routerLink="./{{module.path}}/{{child.path}}">{{child.name}}</a>
                                </li>

                                <ng-template #noLeaf>
                                    <div class="module__header">
                                        <mat-icon>{{child.icon}}</mat-icon>
                                        <p class="module__title">{{child.name}}</p>
                                    </div>

                                    <ul class="module__sublist">
                                        <li  class="module__leaf"
                                             *ngFor="let subChild of child.children">
                                            <a class="module__link"
                                               *ngIf="hasAccessToSubmodule(subChild.name)"
                                               (click)="mobile && sidenav.toggle()"
                                               routerLink="./{{module.path}}/{{child.path}}/{{subChild.path}}">{{subChild.name}}</a>
                                        </li>
                                    </ul>
                                </ng-template>
                            </ng-container>
                        </ng-container>
                    </ul>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="loading" *ngIf="loading">
            <img *ngIf="isCRM" src="assets/CRM/gif/CRM.gif" alt="gif">
            <img *ngIf="!isCRM" src="assets/gif/STAFFIT.gif" alt="gif">
        </div>
        <app-breadcrumb *ngIf="!loading"></app-breadcrumb>
        <router-outlet *ngIf="!loading"></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>



