@import "src/assets/styles/staffit-style-1.scss";

* {
  list-style: none;
  text-decoration: none;
}

mat-sidenav-container {
  height: 100%;
  width: 100%;
}

mat-sidenav {
  width: 15%;
  background-color: $color-secondary-dark;
  color: $color-primary-light;

  ::ng-deep .mat-drawer-inner-container {
    overflow: hidden !important;
    display: flex;
    flex-direction: column;
  }
}

.header {
  background-color: $color-primary-dark;
  height: fit-content;

  .banner {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;

    &__logo {
      font-size: $extra-large;
      padding-right: 1rem;
      color: white;
      margin: 0.7rem 0;
    }

    &__icon {
      color: white;
    }
  }

  .user {
    display: flex;
    flex-flow: column;
    align-items: center;

    &__img {
      object-fit: cover;
      height: 4.375rem;
      width: 4.375rem;
      margin-top: 1.25rem;
      border: solid $color-primary-light;
      border-radius: 2.5rem;
    }

    &__text {
      font-size: $small;

      &-name {
        margin: 1em 0 0.5rem 0;
      }

      &-email {
        margin: 0;
      }

      &-category {
        margin: 0.5rem;
      }
    }

    &__actions {
      margin: 0.5rem;
    }

    &__button {
      color: $color-primary-light;

      &:hover {
        background-color: $color-palette-1-main;
        border-radius: 2.5rem;
        transition: 0.5ms;
      }
    }
  }
}



.body {
  overflow-y: scroll;
  height: 70%;

  &::-webkit-scrollbar-thumb {
    background-color: #8c8c8c;
    border-radius: 15px;
  }

  &::-webkit-scrollbar {
    background-color: $color-secondary-dark;
    width: 0.5rem;

    &:hover {
      background-color: $color-primary-light;
      width: 0.75rem;
    }
  }

  .module {
    &__name {
      color: $color-primary-light;
      font-size: $medium;
    }

    &__nav {
      padding-left: 0;
      color: $color-primary-light;
      width: 100%;
    }

    &__leaf {
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      margin: 0.875rem 0;

      &:hover {
        margin-left: 0.75rem;
        transition: 0.5ms;
      }
    }

    &__link {
      padding-left: 0.5rem;
      font-size: $medium;
      color: $color-primary-light;

      &:hover {
        cursor: pointer;
      }
    }

    &__header {
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
    }

    &__title {
      padding-left: 0.5rem;
      font-size: $medium;
      color: $color-primary-light;
    }
  }
}

::ng-deep .bottom .mat-select-arrow{
  color: $color-primary-light;
}

mat-expansion-panel {
  background-color: $color-secondary-dark;
}

mat-expansion-panel-header {
  height: 2rem !important;
  margin-top: 1rem;
}

::ng-deep .module__panel .mat-expansion-indicator::after, .mat-expansion-panel-header-description {
  color: $color-primary-light;
}

.loading {
  display: flex;

  img {
    width: 250px;
    margin: 270px auto auto;
  }
}

mat-toolbar {
  top: 0;
  z-index: 1000;
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $color-primary-dark;
  color: white;
  font-size: $extra-large;
  font-weight: normal;
}

/* Media queries*/

/*for mobile screens*/
@media screen and (max-width: 767px) {

  mat-sidenav {
    width: 60%;
    top: 3rem !important;
  }
}

/*For tablet screens*/
@media screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  mat-sidenav {
    width: 30%;
    top: 4rem !important;
  }

}

/*For labtops*/
@media screen and (min-width: 1024px) {

}