@import '../../../../assets/styles/staffit-style-1';

mat-header-row {
  background-color: black;
  border-radius: 7px;
  color: $color-scrollbar-thumb;
}

mat-checkbox .mat-checkbox-frame .select-all-checkbox {
  border-color: $color-scrollbar-thumb;
  background-color: $color-palette-1-main;
}

.select-all-checkbox {
  background-color: white;
  border-radius: 2px;
  font: 400 14px/15px Roboto, "Helvetica Neue", sans-serif;
}

mat-expansion-panel {
  margin-bottom: 15px;

  .column-checkbox-container {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;

    mat-checkbox {
      margin: 0 10px;
    }
  }
}

.idHeaderCheckbox, .idCellCheckbox {
  flex: 0.1;
  padding-right: 10px;
}

.idHeaderCheckbox {
  min-width: unset;
}

.not-found {
  display: flex;
  flex-direction: column;

  img {
    width: 13%;
    opacity: 15%;
    margin: 25px auto 0 auto;
  }

  p {
    text-align: center;
    color: #707070;
    margin-left: 8px;
    font-weight: 100;
  }
}

.mat-paginator-fixed {
  width: 100%;
  height: 60px;

  mat-paginator {
    background: transparent;
    position: absolute;
    left: 750px;
  }
}

.id-table-column {
  color: $color-palette-1-main;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    cursor: pointer;
  }
}

.idCell {
  min-height: unset;
  display: unset;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.idHeader {
  display: flex;
}
