<div class="{{config.class}}">
    <div class="table-responsive">
        <mat-table matSort matSortActive="{{columnSort}}" matSortDirection="{{direccion}}" [dataSource]="data?.content">
            <ng-container *ngIf="config.multiSelect">
                <ng-container matColumnDef="select">
                    <mat-header-cell class="idHeaderCheckbox" *matHeaderCellDef>
                        <mat-checkbox #selectAllCheckbox class="select-all-checkbox" (change)="checkAll()">
                        </mat-checkbox>
                    </mat-header-cell>
                    <mat-cell class="idCellCheckbox" *matCellDef="let element">
                        <mat-checkbox #tableCheckbox [formGroup]="checkboxGroup" (change)="check(element)">
                        </mat-checkbox>
                    </mat-cell>
                </ng-container>
            </ng-container>

            <ng-container *ngFor="let column of config.columns">
                <!-- id / plain text -->
                <ng-container *ngIf="column.shown && column.type !== 'date' && column.type !== 'warning-date'" matColumnDef="{{column.prop}}">
                    <mat-header-cell class="idHeader" *matHeaderCellDef mat-sort-header> {{column.name}} </mat-header-cell>
                    <mat-cell #cell class="idCell" *matCellDef="let element" 
                            class="{{column.cellClass}}"
                            (click)="column.route && navigateTo(column, element)"
                            matTooltip="{{element[column.prop]}}"
                            [matTooltipDisabled]="!_checkOverflow(cell)"> 
                        {{element[column.prop]}} 
                    </mat-cell>
                </ng-container>

                <!-- date / warning-date -->
                <ng-container *ngIf="column.shown  && !column.route && (column.type === 'date' || column.type === 'warning-date')"
                    matColumnDef="{{column.prop}}">
                    <mat-header-cell class="idHeader" *matHeaderCellDef mat-sort-header> {{column.name}} </mat-header-cell>
                    <mat-cell class="idCell" *matCellDef="let element" class="{{column.cellClass}}" 
                        [ngClass]="{'red-date': column.type === 'warning-date' && _isLate(element[column.prop])}">
                            {{element[column.prop] | date:'dd-MM-yyyy' }}
                    </mat-cell>
                </ng-container>
            </ng-container>

            <ng-container matColumnDef="Actions" *ngIf="config.actions">
                <mat-header-cell class="idHeader" *matHeaderCellDef>Actions</mat-header-cell>
                <mat-cell class="idCell" *matCellDef="let item">
                    <button *ngFor="let action of config.actions" (click)="selectAction(action.name, item)" mat-icon-button
                        matTooltip="{{action.name}}">
                        <mat-icon>{{action.icon}}</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let item; columns: displayedColumns"></mat-row>
        </mat-table>

        <div class="not-found" *ngIf="noResults">
            <img src="assets/CRM/icons/notFound-2.png" alt="">
            <p>No records found</p>
        </div>
    </div>

    <mat-paginator class="mat-paginator-fixed" [pageIndex]="pageIndex" [pageSize]="pageSize" [pageSizeOptions]="[5,10,20,30,40,50]"
        [length]="resultsLength">
    </mat-paginator>
</div>
