<mat-dialog-content class="dialog detail">
    <div class="black-dialog">
        <img src="../../../../../assets/CRM/icons/dialogs/euro-target.png" alt="">
    </div>
    <div class="dialog-content dialog-content-detail">
        <div class="title">
            <h2>{{data.opportunity.name | titlecase }}</h2>
            <div *ngIf="data.opportunity.priority"
                 class="opportunity-priority priority priority-{{data.opportunity.priority.replace(' ','').toLowerCase()}}">
                {{data.opportunity.priority}}
            </div>
            <div class="circle-content">
                <div class="circle" style="--tooltip-color: {{color}};">
                </div>
            </div>
        </div>
        <div class="columns">
            <section>
                <p *ngIf="data.opportunity.idAccount !== null">
                    <span>Account: </span>{{!data.father ? data.opportunity.idAccount : data.father.value.commercialName}}
                </p>
                <!-- @TODO change contact id to email or smth-->
                <p *ngIf="data.opportunity.idContact !== null"><span>Contact ID: </span>{{data.opportunity.idContact}}
                </p>
                <p><span>Name: </span>{{data.opportunity.name}}</p>
                <p><span>Car: </span>{{data.opportunity.car}}</p>
                <p>
                    <span>State: </span>{{data.opportunity.state['name'] ? data.opportunity.state['name'] : data.opportunity.state['nombre']}}
                </p>
                <p><span>Probability: </span>{{data.opportunity.probability}}</p>
                <p><span>Rejection reason: </span>{{data.opportunity.rejectionReason}}</p>
                <p><span>Warning date: </span>
                    <span *ngIf="warningDateParsed && warningDateParsed <= today; else date"
                          class="red-date inline-block padding">{{data.opportunity.warningDate | date:'dd-MM-yyyy'}}</span>
                    <ng-template #date
                                 class="inline-block padding">{{data.opportunity.warningDate | date:'dd-MM-yyyy'}}</ng-template>
                </p>
                <p><span>Closed date: </span>
                    <span *ngIf="closingDateParsed && closingDateParsed <= today; else date2"
                          class="red-date inline-block padding">{{data.opportunity.closeDate | date:'dd-MM-yyyy'}}
                    </span>
                    <ng-template #date2
                                 class="inline-block padding">{{data.opportunity.closeDate | date:'dd-MM-yyyy'}}
                    </ng-template>
                </p>
                <mat-checkbox [checked]="data.opportunity.dedicatedResource" disabled="true">Dedicated resource
                </mat-checkbox>
                <p *ngIf="data.opportunity.dedicatedResource">
                    <span>Resource Numbers: </span>{{data.opportunity.resourceNumbers}}</p>
            </section>
            <section>
                <p><span>User: </span>{{data.opportunity.user?.email}}</p>
                <p><span>Territory: </span>{{data.opportunity.territory}}</p>
                <p><span>Subcar: </span>{{data.opportunity.subcar}}</p>
                <p><span>Priority: </span>{{data.opportunity.priority}}</p>
                <p><span>Estimated Budget: </span>{{data.opportunity.estimatedBudget}}</p>
                <p><span>Bosonit Supporter: </span>{{data.opportunity.supportBosonit}}</p>
                <p><span>Register date: </span>{{data.opportunity.registerDate | date: 'dd-MM-yyyy'}}</p>
                <mat-checkbox [checked]="data.opportunity.closedProject" disabled="true">Fixed price proyect
                </mat-checkbox>
                <p *ngIf="data.opportunity.recurrentPercentage">
                    <span>Recurring Percentage: </span>{{data.opportunity.recurrentPercentage}}</p>
            </section>
        </div>
        <button mat-raised-button class="exit-button-form" (click)="closeDialog()">Exit</button>
        <button mat-raised-button class="submit-button" (click)="goToDetails(data.opportunity.id)">More details</button>
    </div>
</mat-dialog-content>
