<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
<div *ngIf="!loading">

    <div class="filters-plus-config">
        <app-dynamic-filters class="dyn-filters"
                             [filters]="filters"
                             [showFilters]="true"
                             (query)="filtersChanged($event)">
        </app-dynamic-filters>

        <button mat-button class="configButton" (click)="setConfigVisibility(!configVisibility)"><mat-icon>settings</mat-icon> Settings</button>
    </div>

    <app-dynamic-table-mark-ii #table 
        [config]="tableConfig"
        [data]="tableData"
        (action)="doAction($event)"
        (pagination)="paginationChanged($event)"
        (order)="orderChanged($event)">
    </app-dynamic-table-mark-ii>
    
</div>

<app-dynamic-table-config-panel
        [visibility]="configVisibility"
        [columnsConfig]="tableConfig"
        [filtersConfig]="filters"
        (configChanged)="configChange($event)"
        (closed)="setConfigVisibility(false)">
</app-dynamic-table-config-panel>