<div class="room">
    <div class="room__header">
        <img class="room__img" src="{{room.linkImagen || defaultImgUrl}}" alt="room"/>
    </div>
    <div class="room__field room__field-address">
        <mat-icon>place</mat-icon>
        <p class="room__text">{{room.address}}</p>
    </div>
    <div class="room__body">
        <p class="room__name">{{room.name}}</p>
        <p class="room__description">{{room.description}}</p>
        <div class="room__field">Type
            <p class="room__text">{{room.roomType}}</p>
        </div>
        <div class="room__field">Capacity
            <p class="room__text">{{room.maxCapacity}} people</p>
        </div>
    </div>
</div>
<app-calendar-container
        [config]="calendarConfig">
</app-calendar-container>
