@import "src/assets/styles/staffit-style-1";
:host(app-room-detail) {
  width: 100%;
  height: 95%;
  display: flex;
  flex-flow: row;
  overflow: hidden;
}

.room {
  width: 30%;
  height: 100%;
  background-color: white;
  border-bottom: solid #e2e8f0 0.01rem;
  border-top: solid #e2e8f0 0.01rem;
  border-right: solid #e2e8f0 0.01rem;

  &__header {
    background-color: rgba(0, 0, 0, 0.12);
    height: 24%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
  }

  &__img {
    height: 5rem;
    width: 5rem;
  }

  &__body {
    padding: 1rem 2rem;
  }

  &__name {
    font-size: $extra-large;
    font-weight: 500;
  }

  &__description{
    p {
      font-size: $medium;
      word-wrap: break-word;

    }
  }

  &__field {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid #e2e8f0 0.05rem;
    height: 2.5rem;

    font-size: $medium;
    color: $color-secondary-dark;

    &-address{
      height: 4.5rem;
      padding: 0.5rem;
      gap: 0.5rem;
      justify-content: flex-start;
    }
  }
}
