@import '../../../../assets/styles/staffit-style-1.scss';

::ng-deep .mat-form-field-outline .mat-form-field-outline-thick .ng-tns-c87-37 .ng-star-inserted {
  color: yellow !important;
}

.filter {
  max-width: 10rem;
  margin: 0.5rem;
}
