@import "src/assets/styles/staffit-style-1";

$default-file-color: #777;
$word-file-color: #1a9aef;
$ppt-file-color: #e97171;
$excel-file-color: #a3d69d;
$img-file-color: #ff941a;
$pdf-file-color: #d84855;

:host(app-storage) {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row;
  overflow: hidden;
}

.storage {
  display: flex;
  flex-flow: column;
  overflow: hidden;
  width: auto;
  flex: 1;

  .header {
    background-color: white;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 1.5rem 2.5rem;
    flex: 0 1 auto;
    border-bottom: solid #e2e8f0 0.01rem;
    border-top: solid #e2e8f0 0.01rem;

    &__title {
      margin-bottom: 0;
      font-weight: 500;
      font-size: $extra-large;
    }

    &__subtitle {
      margin-top: 0.25rem;
      color: $color-scrollbar-thumb;
      font-weight: 400;
      font-size: $medium;
    }

    &__actions {
      display: flex;
      align-items: center;
      gap: 0.75rem;
    }

    &__button {
      border-radius: 2rem;
      height: 2.3rem;

      &-main {
        background-color: $color-palette-1-main;
        color: white;
      }

      &-secondary {
        background-color: white;
        border: 0.05rem solid $color-scrollbar-thumb;
      }
    }
  }

  .body {
    background-color: $color-primary-light;
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;

    .breadcrumb {
      display: flex;
      flex-flow: row;
      justify-content: flex-start;
      align-items: center;
      padding-left: 2.5rem;
      padding-right: 2.5rem;

      &__path {
        font-size: $medium;
        color: $color-palette-1-main;
        margin: 0.5rem;

        &:hover {
          cursor: pointer;
        }

        &:first-child {
          margin-right: 0;

          &::before {
            content: '';
          }
        }

        &::before {
          content: '>';
          margin-right: 0.25rem;
        }

        &:last-child {
          color: $color-secondary-dark;

          &:hover {
            cursor: default;
          }
        }
      }
    }

    .container {
      display: flex;
      flex-flow: row;
      padding-left: 2.5rem;
      padding-right: 2.5rem;
      flex-wrap: wrap;

      .card {
        background-color: white;
        width: 11.5rem;
        height: 12.5rem;
        border-radius: 0.5rem;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
        margin: 0 0.35rem 0.35rem 0.35rem;

        &:hover {
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        }

        &:first-child {
          margin: 0 0.35rem 0.35rem 0;
        }

        &__icon {
          &-small {
            width: 1.25rem !important;
            height: 1.25rem !important;
            font-size: 1.25rem !important;
            line-height: 1.25rem !important;
            color: gray;

            &:hover {
              cursor: pointer;
            }
          }

          &-big {
            width: 4.25rem !important;
            height: 4.25rem !important;
            font-size: 4.25rem !important;
            line-height: 4.25rem !important;
          }
        }

        &__badge {
          position: absolute;
          top: 4.688rem;
          right: 3.75rem;
          display: inline-block;
          min-width: 0.625rem;
          padding: 0.188rem 0.438rem;
          font-size: $small;
          font-weight: 600;
          line-height: 1;
          color: white;
          text-align: center;
          white-space: nowrap;
          vertical-align: baseline;
          border-radius: 0.25rem;

          &-0 {
            background-color: $default-file-color;
          }

          &-1 {
            background-color: $word-file-color;
          }

          &-2 {
            background-color: $ppt-file-color;
          }

          &-3 {
            background-color: $excel-file-color;
          }

          &-4 {
            background-color: $img-file-color;
          }

          &-5 {
            background-color: $pdf-file-color;
          }
        }

        &__header {
          display: flex;
          flex-flow: row;
          align-items: center;
          justify-content: flex-end;
          height: 1.5rem;
          padding-top: 0.3rem;
          padding-right: 0.3rem;
        }

        &__body {
          height: 6.6rem;
        }

        &__center {
          position: relative;
          height: 100%;
          width: 100%;
          display: flex;
          flex-flow: column;
          align-items: center;
          justify-content: center;
        }

        &__footer {
          padding: 0 1rem 4rem 1rem;
          text-align: center;
        }

        &__text {
          margin: 0;

          &-sub1 {
            font-size: $medium;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;

            &:hover {
              cursor: pointer;
            }
          }

          &-sub2 {
            font-size: $small;
            color: $color-scrollbar-thumb;
          }
        }
      }
    }

    .loading {
      display: flex;
      flex-flow: row;
      justify-content: center;
      align-items: center;
    }
  }
}

.item {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: white;
  padding: 3.5rem 3rem;
  width: 16.5rem;
  border: 0.01rem solid #e2e8f0;
  height: 100%;

  &__first {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    width: 100%;
  }


  &__close:hover {
    cursor: pointer;
  }

  &__icon {
    width: 100%;
    height: 15rem;
    background: $color-primary-light;
    border-radius: 0.5rem;
    margin-top: 1rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border: 0.01rem solid #e2e8f0;
  }

  &__matIcon {
    width: 4.25rem !important;
    height: 4.25rem !important;
    font-size: 4.25rem !important;
    line-height: 4.25rem !important;
  }

  &__header {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
  }

  &__name {
    text-align: center;
    background: $color-palette-1-main;
    font-size: $medium;
    padding: 0.2rem 0.6rem;
    border-radius: 1.25rem;
    color: white;
    max-width: 100%;
    overflow-x: auto;
  }

  &__description {
    max-height: 11.5rem;
    overflow-y: auto;

    p {
      font-size: $medium;
      word-wrap: break-word;
    }
  }

  &__tags {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    height: 2.5rem;
    width: 100%;
    overflow-y: auto;
  }

  &__info {
    width: 100%;
    margin-top: 1rem;
    height: 12rem;
  }

  &__field {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid #e2e8f0 0.05rem;
    height: 2.5rem;

    font-size: $medium;
    color: $color-secondary-dark;
  }

  &__actions {
    margin-top: 1rem;
    display: flex;
    flex-flow: row;
    justify-content: center;
    width: 100%;
    gap: 1rem;
  }

  &__button {
    border-radius: 2rem;
    height: 2.3rem;

    &-main {
      background-color: $color-palette-1-main;
      color: white;
      width: 8rem;
    }

    &-secondary {
      background-color: white;
      border: 0.05rem solid $color-scrollbar-thumb;
      width: 8rem;
    }

    &-tag {
      background-color: #e2e8f0;
      border: 0.05rem solid $color-scrollbar-thumb;
      width: 5rem;
    }

    &-selected {
      display: inline-block;
      background-color: #e2e8f0;
      border: 0.05rem solid $color-scrollbar-thumb;
    }
  }
}
