<div class="storage">
    <div class="header">
        <div class="header__description">
            <h1 class="header__title">{{title | uppercase}}</h1>
            <h4 class="header__subtitle" *ngIf="fileManager">
                {{fileManager.folders.length}}
                Folder, {{fileManager.files.length}} {{fileManager.files?.length === 1 ? 'File' : 'Files'}}
            </h4>
        </div>
        <div class="header__actions">
            <button class="header__button header__button-main" *ngIf="!readonly"
                    mat-flat-button (click)="upload.click()">
                <mat-icon>upload</mat-icon>
                Upload
                <input #upload type="file" multiple style="display:none"
                       (change)="onClickUpload($event.target['files'])">
            </button>
            <button class="header__button header__button-secondary" *ngIf="!readonly"
                    mat-flat-button
                    (click)="onClickCreateFolder()">
                <mat-icon>add</mat-icon>
                Folder
            </button>
        </div>
    </div>
    <div class="body" *ngIf="fileManager; else loading" appDragAndDrop (fileDropped)="onClickUpload($event)">
        <div class="breadcrumb">
            <p class="breadcrumb__path"
               (click)="onClickClearNavigation()">{{this.setBreadcrumbStart(fileManager.origin) | uppercase}}</p>
            <p *ngFor="let folder of this.path"
               class="breadcrumb__path"
               (click)="onClickNavigateToFolder(folder)">{{folder.name | uppercase}}
            </p>
        </div>
        <div class="container">
            <div class="card" *ngFor="let folder of folders">
                <div class="card__header">
                    <mat-icon class="card__icon card__icon-small" [mat-menu-trigger-for]="folderMenu">more_vert
                    </mat-icon>
                    <mat-menu #folderMenu="matMenu">
                        <button mat-menu-item (click)="setCurrentItem(folder)">See detail</button>
                    </mat-menu>
                </div>
                <div class="card__body">
                    <div class="card__center">
                        <mat-icon class="card__icon card__icon-big">folder_outline</mat-icon>
                    </div>
                </div>
                <div class="card__footer" (click)="onClickNavigateToFolder(folder)">
                    <p class="card__text card__text-sub1" matTooltip="{{folder.name}}">{{folder.name}}</p>
                    <p class="card__text card__text-sub2">{{folder?.files?.length || 0}} {{folder?.files?.length === 1 ? 'File' : 'Files'}}</p>
                </div>
            </div>
            <div class="card" *ngFor="let file of files">
                <div class="card__header">
                    <mat-icon class="card__icon card__icon-small" [mat-menu-trigger-for]="fileMenu">more_vert</mat-icon>
                    <mat-menu #fileMenu="matMenu">
                        <button mat-menu-item (click)="setCurrentItem(file)">See detail</button>
                    </mat-menu>
                </div>
                <div class="card__body">
                    <div class="card__center">
                        <mat-icon class="card__icon card__icon-big">description_outline</mat-icon>
                        <span class="card__badge card__badge-{{file.category || '0'}}">{{file.extension | uppercase}}</span>
                    </div>
                </div>
                <div class="card__footer">
                    <p class="card__text card__text-sub1" matTooltip="{{file.originalName}}">{{file.originalName}}</p>
                    <p class="card__text card__text-sub2">{{file.size}}</p>
                </div>
            </div>
        </div>
    </div>
    <ng-template #loading>
        <div class="loading">
            <mat-spinner class="loading__spinner"></mat-spinner>
        </div>
    </ng-template>
</div>
<div class="item" @inOutAnimation *ngIf="currentItem">
    <div class="item__first">
        <mat-icon class="item__close" (click)="unSetCurrentItem()">close</mat-icon>
    </div>
    <div class="item__icon">
        <mat-icon class="item__matIcon"> {{currentItem['files'] ? 'folder_outline' : 'description_outline'}}</mat-icon>
    </div>
    <div class="item__header">
        <div class="item__name__header" *ngIf="editName">
            <div class="item__name">{{currentItem['name'] || currentItem['originalName']}}</div>
            <mat-icon (click)="editName = !editName">create</mat-icon>
        </div>
        <form class="item__name__header" *ngIf="editName" [formGroup]="nameForm">
            <mat-icon (click)="changeCurrentItemName()">save</mat-icon>
        </form>
        <p class="item__path">{{currentItem.path}}</p>
        <div class="item__description">
            <p *ngIf="currentItem['files']">{{currentItem['description']}}</p>
        </div>
        <div class="item__tags" *ngIf="!currentItem['files']">
            <button class="item__button item__button-selected"
                    *ngFor="let tag of currentItem['tags']"
                    mat-flat-button
                    [mat-menu-trigger-for]="tagMenu">
                {{tag}}
            </button>
            <button class="item__button item__button-selected"
                    *ngIf="fileTags.length === 0 && currentItem['tags'].length === 0"
                    mat-flat-button>
                No tags available
            </button>
            <button class="item__button item__button-tag"
                    *ngIf="fileTags.length !== 0 && currentItem['tags'].length === 0 && !readonly"
                    mat-flat-button
                    [mat-menu-trigger-for]="tagMenu">
                <mat-icon>add</mat-icon>
                Tag
            </button>
            <mat-menu #tagMenu="matMenu">
                <button mat-menu-item
                        *ngFor="let tag of fileTags"
                        (click)="onClickSetFileTag(tag)">{{tag}}</button>
            </mat-menu>
        </div>
    </div>
    <div class="item__info">
        <div class="item__field">Created
            <p class="item_detail__sub1">{{currentItem.created | date:'dd-MM-yyyy'}}</p>
        </div>
        <div class="item__field">Last modified
            <p class="item_detail__sub1">{{currentItem.lastModified | date:'dd-MM-yyyy'}}</p>
        </div>
        <div class="item__field">{{thirdField}}
            <p class="item_detail__sub1">{{thirdFieldContent}}</p>
        </div>
        <div class="item__field">Size
            <p class="item_detail__sub1">{{currentItem.size}}</p>
        </div>
    </div>
    <div class="item__actions">
        <button class="item__button item__button-main" *ngIf="!currentItem['files']"
                mat-flat-button
                (click)="onClickDownloadCurrentItem()">
            <mat-icon>download</mat-icon>
            Download
        </button>
        <button class="item__button item__button-secondary"
                *ngIf="!readonly"
                mat-flat-button
                (click)="onClickDeleteCurrentItem()">
            <mat-icon>delete</mat-icon>
            Delete
        </button>
    </div>
</div>
