@import "../../../../../../assets/styles/staffit-style-1";

:host(app-calendar-container) {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  overflow: hidden;
}

.header {
  display: flex;
  flex-flow: row;
  background-color: white;
  border-bottom: solid #e2e8f0 0.01rem;
  border-top: solid #e2e8f0 0.01rem;
  padding: 1.5rem 2.5rem;
  justify-content: space-between;

  &__icon {
    width: 2rem !important;
    height: 2rem !important;
    font-size: 2rem !important;
    line-height: 2rem !important;

    &:hover {
      cursor: pointer;
    }
  }

  &__date, &__today, &__selector {
    display: flex;
    flex-flow: row;
    align-items: center;
  }

  &__text {
    font-size: $extra-large;
    margin: 0.5rem;
  }

  &__selector {
    gap: 0.5rem
  }
}
