<div class="header">
    <div class="header__today">
        <mat-icon class="header__icon"
                  matTooltip="Today"
                  (click)="getDays(view,0)">today</mat-icon>
    </div>
    <div class="header__date">
        <mat-icon class="header__icon" (click)="changeDate('-')">chevron_left</mat-icon>
        <p class="header__text">{{showDate | uppercase}}</p>
        <mat-icon class="header__icon" (click)="changeDate('+')">chevron_right</mat-icon>
    </div>
    <div class="header__selector">
        <mat-icon class="header__icon"
                  matTooltip="Monthly calendar"
                  *ngIf="config.monthly.shown"
                  (click)="changeView('month')">calendar_view_month
        </mat-icon>
        <mat-icon class="header__icon"
                  matTooltip="Weekly calendar"
                  *ngIf="config.weekly.shown"
                  (click)="changeView('week')">calendar_view_week
        </mat-icon>
        <mat-icon class="header__icon"
                  matTooltip="Daily calendar"
                  *ngIf="config.daily.shown"
                  (click)="changeView('day')">calendar_view_day
        </mat-icon>
    </div>
</div>

<app-daily-calendar *ngIf="config.daily.shown"
                    [days]="days"
                    [father]="father">
</app-daily-calendar>
<app-monthly-calendar *ngIf="config.monthly.shown" [days]="days"></app-monthly-calendar>
<app-weekly-calendar *ngIf="config.weekly.shown"
                     [days]="days"
                     [father]="father"
                     [config]="config.monthly">
</app-weekly-calendar>
