<div class="grid-container" #container>
    <div class="grid-item1">
        <div class="login-container">
            <div class="login-items">
                <div class="login">
                    <div class="logo-staffit">
                        <img src="../../../../../../assets/logos/staffit.png" width="200px" alt="logo Staffit"/>
                    </div>
                    <div class="text-login">Join in!</div>
                    <button class="loginButton" #loginButton>
                        <div class="button-text">
                            <span><img src="../../../../../../assets/logos/logoG.png" width="25px" alt="logo Google"
                                       class="logo-google"/></span>
                            <div>Log in with Google</div>
                        </div>
                    </button>
                    <button class="loginButton hidden" #loginButtonRefresh>
                        <div class="button-text">
                            <span><img src="../../../../../../assets/logos/logoG.png" width="25px" alt="logo Google"
                                       class="logo-google"/></span>
                            <div>Google dev refresh token</div>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-item2">
        <div class="login-backgroundImage"></div>
    </div>
</div>
