.grid-container {
    display: grid;
    grid-template-columns: 320px auto;
    height: 100vh;
    width: 100%;
}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;

    font-size: 30px;
}

.grid-item1 {
    display: flex;
    flex-direction: column-reverse;
}
.text-login {
    font-size: 0.9rem;
    margin-bottom: 20px;
    padding: 20px;
}

.login-backgroundImage {
    background-image: url("../../../../../../assets/images/fondoStaffit.png");
    height: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    height: 60%;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.login-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.loginButton:hover {
    background-color: #eb4e4e;
}

.hidden{
    display: none;
}

.loginButton {
    border-radius: 24px;
    background-color: #db5e5e;
    color: #fff;
    border: none;

    cursor: pointer;
    outline: none;
}

.loginButton:active {
    transform: translateY(1px);
}

.logo-google {
    width: 20px;
    padding: 5px 5px 5px 0;
}

.button-text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.logo-staffit {
    margin-bottom: 40px;
}

.sign-text {
    font-size: 0.9rem;
}

.company-logos {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.logos-cover {
    width: 400px;
    display: flex;
    justify-content: space-around;
}
