
<div class="card-container">
    
    <div class="left">
        <div id="description">
            <img *ngIf="employee.employee.imageLink" class="round" src="{{employee.employee.imageLink}}" alt="user"/>
            <img *ngIf="!employee.employee.imageLink" class="round" src="../../../../../../assets/icons/user-2-1.svg"
                alt="user"/>
            <h6>{{employee.employee.center?.location || 'Center unknown'}}</h6>
            <h3 *ngIf="hasAnswered">{{employee.employee.name}} {{employee.employee.surname}}</h3>
            <p *ngIf="hasAnswered">{{employee.employee.businessEmail}}<br/> {{employee.employee.categoryName}}</p>
        </div>
        <div class="selector" *ngIf="!hasAnswered">
            <button *ngFor="let option of employee.randomNames"
                    (click)="tryLuck($event.target.innerHTML)">{{option}}</button>
        </div>
    </div>

    <div *ngIf="!hasAnswered" class="skills">
        <h6>Techs</h6>
        <ul>
            <li>{{employee.employee.technologies[0]?.name || 'No techs'}}</li>
            <li *ngIf="employee.employee.technologies[1]">{{employee.employee.technologies[1].name}}</li>
        </ul>
    </div>

    <div class="skills" *ngIf="hasAnswered" [ngClass]="isCorrect ? 'success' : 'error'">
        <h6>Techs</h6>
        <ul>
            <li>{{employee.employee.technologies[0]?.name || 'No techs'}}</li>
            <li *ngIf="employee.employee.technologies[1]">{{employee.employee.technologies[1].name}}</li>
        </ul>

    </div> 
</div>

