@import "../../../../../../assets/styles/staffit-style-1";
@import "../employee-card/employee-card.component";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
}

h3 {
    margin: 10px;
    font-size: $large;
    white-space: break-spaces;
    min-height: 3.125rem;
}

h6 {
    margin: 5px 0;
    text-transform: uppercase;
    min-height: 1.688rem;
}

p {
    font-size: 0.8rem;
    line-height: 1.2rem;
}

.card-container {
    background-color: $color-primary-light;
    border-radius: 0.4rem;
    //box-shadow: inset 1px 1px 3px 1px #7d7d7d;
    color: $color-primary-dark;
    padding-top: 2rem;
    position: relative;
    width: 90%;
    max-width: 100%;
    text-align: center;
    margin: 0.5rem;
    display: flex;
    flex-basis: auto;
}

.card-container .round {
    border-radius: 50%;
    object-fit: cover;
    height: 4.5rem;
    width: 4.5rem;
    //box-shadow: 1px 1px 2px 1px #5f5f5f;
}
.left{
    width: 70%;
}

.right{
    width: 30%;
    display: flex;
}

.skills {
    background-color: $color-scrollbar-thumb;
    text-align: left;
    padding: 0.8rem;
    border-bottom-left-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    display: flex;
    width: 30%;
    //box-shadow: 1px 0px 1px 1px #5f5f5f;
}

.skills ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.skills ul li, .selector button {
    border: 0.16rem solid $color-secondary-dark;
    border-radius: 0.4rem;
    display: inline-block;
    margin: 0 0.4rem 0.4rem 0;
    padding: 0.4rem;
}

.skills ul li {
    background-color: #8c8c8c;
    color: black;
}
.selector {
    align-self: center;
    display: flex;
    flex-direction: column;
    margin: auto 0.4rem; 
}

.left{
    width: 70%;
}

.right{
    width: 30%;
    display: flex;
}

mat-select {
    width: auto;
}

.error {
    background-color: $color-palette-1-main;
}

$success: #b7e778;
.success {
    background-color: $success;
}

button {
    cursor: pointer;
    //box-shadow:  1px 2px 1px #5f5f5f;
}


//Media queries
//For mobile
@media screen and (max-width:767px) {
    .card-container{
        padding-top: 0 !important;
        margin: 0.4rem 1rem;
        width: 75%;
        left:7%;
        display: flex;
        flex-basis: auto;

        .left{
            padding-right: 0.5rem;

            .selector {
                display: grid;
                grid-template-columns: auto auto;
                padding: 0.2rem 0.5rem 0 0.1rem;
                }
        }
    }

    .skills{
        align-items: center;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0.4rem;
        border-top-right-radius: 0.4rem;
        display: flex;        
        flex-direction: column;
        margin-top: 0;
        padding: 0.8rem;        
        text-align: left;
        //width: 30%;
        width: 5.7rem;
        //box-shadow: 1px 0px 1px 1px #5f5f5f;
    }

    .skills ul li, .selector button {
        margin: 0.4rem;
        font-size: 0.7rem;
        padding: 0.4rem;
    }

    #description{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.6rem;
        margin: 1rem;

        h3{
            font-size: 0.7rem;
            margin-block-start: 0;
            margin-block-end: 0;
            min-height: 0;
        }

        h6{
            min-height: 0;
        }
    }

}
    
/*For tablet screens*/
@media screen and (min-device-width : 768px) and (max-device-width : 1023px) {
    .card-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        .left{
            width: 90%;

            .skills ul li, .selector button {
                padding: 0.8rem;
            }
        }
        .skills{
            display: block;
            width: 100%;
            height: 6rem;
            margin-top: 0;
        }
    }
}

/*For labtops*/
@media screen and (min-width: 1024px){
    .card-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        .left{
            width: 90%;

            .skills ul li, .selector button {
                padding: 0.8rem;
            }
        }
        .skills{
            display: block;
            width: 100%;
            height: 6rem;
            margin-top: 0;
        }
    }

}
